Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*

make footer links (about, privacy policy and terms of use) to work
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/shared/assets/privacy_policy.pdf
  packages/web/src/shared/assets/terms_and_conditions.pdf
  packages/web/src/shared/components/Footer/Footer.tsx
Labels: web

priority 1 updates
  packages/web/src/constants.scss
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
  packages/web/src/containers/Common/containers/CommonListContainer/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/Commons/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/index.scss
Labels: web

Add new proposal state, change the common balance on accepted funding requests
  packages/core/prisma/models/commons/Common.prisma
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/prisma/models/proposals/enums/ProposalState.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/services/commons/command/updateCommonBalanceWithFundingRequestCommand.ts
  packages/core/src/services/commons/command/updateCommonBalanceWithPaymentCommand.ts
  packages/core/src/services/commons/index.ts
  packages/core/src/services/payments/commands/process/processPaymentCommand.ts
  packages/core/src/services/proposals/commands/funding/process/processApprovedFundingRequest.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
Labels: none

Add new proposal state, change the common balance on accepted funding requests
  packages/core/prisma/migrations/20210607045630_common_blocked_balance/migration.sql
  packages/core/prisma/migrations/20210607051907_new_proposal_state/migration.sql
  packages/core/prisma/migrations/20210607053548_common_balance_updated_event/migration.sql
Labels: none

Claim blocked funds on common creation
  packages/core/src/services/payouts/command/createPayoutCommand.ts
Labels: none

priority 1 updates and improvements
  packages/web/src/constants.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/VotesComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/assets/fonts/NunitoSans-Bold.ttf
Labels: web

Reports WIP
  packages/admin/src/components/Header.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/helpers/index.ts
  packages/admin/src/pages/_app.tsx
  packages/admin/src/pages/proposals/index.tsx
  packages/admin/src/pages/reports/index.tsx
  packages/core/prisma/models/reports/enums/ReportStatus.prisma
  packages/core/prisma/result/1623056204961/cardImports-errors.json
  packages/core/prisma/result/1623056204961/cardImports-results.json
  packages/core/prisma/result/1623056204961/joinProposalsImport-errors.json
  packages/core/prisma/result/1623056204961/joinProposalsImport-results.json
  packages/core/prisma/result/1623056204961/paymentImports-errors.json
  packages/core/prisma/result/1623056204961/paymentImports-results.json
  packages/core/prisma/schema.prisma
  packages/core/src/services/reports/commands/actOnReportCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Reports/Extensions/ReportReportedProposal.extension.ts
  packages/graphql/src/schema/Types/Reports/Queries/GetReports.query.ts
  packages/graphql/src/schema/Types/Reports/index.ts
Labels: admin

Compilable state
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/reports/details/[reportId].tsx
  packages/admin/src/pages/reports/index.tsx
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Reports/Extensions/ReportReporter.extension.ts
  packages/graphql/src/schema/Types/Reports/Queries/GetReport.query.ts
  packages/graphql/src/schema/Types/Reports/Queries/GetReports.query.ts
  packages/graphql/src/schema/Types/Reports/index.ts
Labels: admin

Major updates for Dockerfile and docker-compose.yaml
  Dockerfile
  docker-compose.yaml
Labels: none

Bad redis config
  packages/core/src/domain/jobs/EventsQueue.ts
  packages/core/src/domain/jobs/NotificationsQueue.ts
  packages/core/src/domain/jobs/PaymentsQueue.ts
  packages/core/src/domain/jobs/PayoutsQueue.ts
  packages/core/src/domain/jobs/ProposalsQueue.ts
  packages/core/src/domain/jobs/SubscriptionsQueue.ts
  packages/core/src/domain/jobs/VotesQueue.ts
  packages/core/src/domain/toolkits/PubSubToolkit.ts
  packages/worker/src/queues.ts
Labels: none

priority 1 updates
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/Commons/Commons.tsx
  packages/web/src/containers/Landing/components/LandingContainer/Commons/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/shared/components/Share/index.scss
Labels: web

join effort on modal fix
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/shared/components/Modal/Modal.tsx
  packages/web/src/shared/components/Modal/index.scss
  packages/web/src/shared/interfaces/ModalProps.tsx
Labels: web

redundant changes removed
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
Labels: web

566 & 564 & 560 issues fix
  packages/web/public/index.html
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
Labels: web

Fix the statistics problem
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/commons/index.tsx
  packages/admin/src/pages/dashboard/index.tsx
  packages/admin/src/pages/proposals/index.tsx
  packages/admin/src/pages/users/index.tsx
Labels: admin

WIP
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/pages/dashboard/index.tsx
  packages/admin/src/pages/reports/details/[reportId].tsx
Labels: admin

Finished reports
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/reports/details/[reportId].tsx
  packages/core/src/services/reports/commands/actOnReportCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Reports/Extensions/ReportReviewerExtension.ts
  packages/graphql/src/schema/Types/Reports/Types/Report.type.ts
  packages/graphql/src/schema/Types/Reports/index.ts
Labels: admin

Force update statistics
  packages/admin/src/pages/commons/index.tsx
  packages/core/src/domain/validation/permissions.ts
  packages/core/src/services/statistics/commands/forceUpdateAllTimeStatistics.ts
  packages/core/src/services/statistics/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Statistics/Mutations/ForceUpdateStatistics.mutation.ts
  packages/graphql/src/schema/Types/Statistics/index.ts
  packages/graphql/src/schema/Types/Users/Queries/GenerateUserAuthToken.query.ts
Labels: admin

Some fixes
  packages/admin/package.json
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/dashboard/index.tsx
  packages/admin/src/pages/error/unauthorized.tsx
  packages/admin/src/pages/events/index.tsx
  packages/admin/src/pages/financials/payouts/details/[payoutId].tsx
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Statistics/Queries/GetStatistics.query.ts
Labels: admin

Stable working Compose
  Dockerfile
  docker-compose.yaml
Labels: none

562 & 561 & 551
  packages/web/public/icons/social-share/facebook-h.svg
  packages/web/public/icons/social-share/linkedin-h.svg
  packages/web/public/icons/social-share/telegram-h.svg
  packages/web/public/icons/social-share/twitter-h.svg
  packages/web/src/containers/Common/components/CommonDetailContainer/JoinTheEffortModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/shared/components/Modal/index.scss
  packages/web/src/shared/components/Share/index.scss
Labels: web

Create bank account for payout
  packages/admin/package.json
  packages/admin/src/components/modals/CreateBankAccountModal.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/financials/payouts/create/batch.tsx
  packages/admin/src/pages/financials/payouts/details/[payoutId].tsx
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Proposals/Queries/GetProposals.query.ts
  yarn.lock
Labels: admin

updates
  packages/web/public/assets/images/iphone.png
  packages/web/src/constants.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/VotesComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
Labels: web

Fix compile
  packages/graphql/src/schema/Types/Settings/Types/Settings.type.ts
  packages/graphql/src/schema/Types/Users/Queries/GenerateUserAuthToken.query.ts
Labels: none

Encryption key query
  packages/core/src/domain/clients/circle/general/encryption.ts
  packages/core/src/domain/clients/circle/index.ts
  packages/core/src/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Settings/Types/EncryptionKey.type.ts
  packages/graphql/src/schema/Types/Settings/Types/Settings.type.ts
  packages/graphql/src/schema/Types/Settings/index.ts
Labels: none

more updates
  packages/web/public/assets/images/iphone-half-desktop.png
  packages/web/public/assets/images/iphone-half-mobile.png
  packages/web/src/constants.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Common/containers/CommonListContainer/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/shared/components/Header/index.scss
Labels: web

540 fix
  packages/web/src/shared/components/DownloadCommonApp/DownloadCommonApp.tsx
Labels: web

580 fixed
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/shared/hooks/ViewPortHook.tsx
  packages/web/src/shared/hooks/index.tsx
Labels: web

join effort sticky behavior changed to responsive
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
Labels: web

console log removed
  packages/web/src/shared/hooks/ViewPortHook.tsx
Labels: web

Can vote on proposal
  packages/core/prisma/models/commons/CommonMember.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/services/votes/index.ts
  packages/core/src/services/votes/queries/canVoteOnProposalQuery.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Proposals/Types/Proposal.type.ts
Labels: none

Discussion message count
  packages/core/prisma/migrations/20210611044527_/migration.sql
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Discussion/Types/Discussion.type.ts
Labels: none

551 fix
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
Labels: web

556 fix
  packages/web/src/containers/Common/containers/CommonListContainer/index.scss
Labels: web

581 fix
  packages/web/public/assets/images/join-mobile.jpg
  packages/web/public/assets/images/wave-bottom-mobile.svg
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
Labels: web

551 fix
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
Labels: web

562 fix
  packages/web/public/icons/app-icons/app-store.svg
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/shared/components/Modal/index.scss
Labels: web

mobile fix
  packages/web/src/shared/components/Modal/index.scss
Labels: web

556 fix
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
Labels: web

612 fix
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
Labels: web
