Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

Funding proposal creation
  packages/backend/prisma/migrations/20210323053033_/migration.sql
  packages/backend/prisma/migrations/20210323063617_funding_proposal_migration/migration.sql
  packages/backend/prisma/migrations/20210323065445_funing_request_created_enum_value/migration.sql
  packages/backend/prisma/migrations/20210323065514_/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/commons/command/createCommonCommand.ts
  packages/backend/src/core/commons/index.ts
  packages/backend/src/core/events/index.ts
  packages/backend/src/core/proposals/funding/command/createFundingProposalCommand.ts
  packages/backend/src/core/proposals/index.ts
  packages/backend/src/core/users/commands/createUserCommand.ts
  packages/backend/src/core/users/queries/getUserIdQuery.ts
  packages/backend/src/core/users/queries/userExistsQuery.ts
  packages/backend/src/domain/validation/index.ts
  packages/backend/src/domain/validation/schemas/ProposalFile.schema.ts
  packages/backend/src/domain/validation/schemas/ProposalImage.schema.ts
  packages/backend/src/graph/context/index.ts
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/schema/Core/Commons/Mutations/CreateCommon.mutation.ts
  packages/backend/src/graph/schema/Core/Proposals/Inputs/ProposalFile.input.ts
  packages/backend/src/graph/schema/Core/Proposals/Inputs/ProposalImage.input.ts
  packages/backend/src/graph/schema/Core/Proposals/Inputs/ProposalLink.input.ts
  packages/backend/src/graph/schema/Core/Proposals/Mutations/CreateFundingProposal.mutation.ts
  packages/backend/src/graph/schema/Core/Proposals/Types/FundingProposal.type.ts
  packages/backend/src/graph/schema/Core/Proposals/Types/ProposalLink.type.ts
  packages/backend/src/graph/schema/Core/Proposals/index.ts
  packages/backend/src/graph/schema/Core/Users/Mutations/CreateUser.mutation.ts
  packages/backend/src/graph/schema/Core/Users/Types/User.type.ts
Labels: none

Vote casting
  packages/backend/prisma/migrations/20210325055517_initial_votes_migration/migration.sql
  packages/backend/prisma/migrations/20210325064122_join_and_funding_must_be_unique_for_proposal_description_migration/migration.sql
  packages/backend/prisma/migrations/20210325071916_drop_vote_type_migration/migration.sql
  packages/backend/prisma/migrations/20210325073552_drop_the_common_from_the_vote_migration/migration.sql
  packages/backend/prisma/migrations/20210325073931_vote_created_event_type/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/commons/index.ts
  packages/backend/src/core/commons/queries/getCommonMemberIdQuery.ts
  packages/backend/src/core/proposals/join/command/createJoinProposalCommand.ts
  packages/backend/src/core/services.ts
  packages/backend/src/core/votes/commands/createVoteCommand.ts
  packages/backend/src/core/votes/index.ts
  packages/backend/src/domain/validation/schemas/BillingDetails.schema.ts
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/schema/Core/Cards/Mutations/CreateCard.mutation.ts
  packages/backend/src/graph/schema/Core/Votes/Enums/VoteOutcome.enum.ts
  packages/backend/src/graph/schema/Core/Votes/Mutations/CreateVote.mutation.ts
  packages/backend/src/graph/schema/Core/Votes/Types/Vote.type.ts
  packages/backend/src/graph/schema/Core/Votes/index.ts
  packages/backend/src/graph/schema/index.ts
  yarn.lock
Labels: none

Fix the amount
  packages/firebase/functions/src/subscriptions/business/chargeSubscriptions.ts
Labels: firebase

Setup Bull Queue (somewhat)
  packages/backend/.env.example
  packages/backend/.gitignore
  packages/backend/package.json
  packages/backend/prisma/migrations/20210325090029_proposal_vote_counts/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/votes/commands/createVoteCommand.ts
  packages/backend/src/core/votes/queue/definition/index.ts
  packages/backend/src/core/votes/queue/index.ts
  packages/backend/src/core/votes/queue/jobs/updateProposalVoteCount.ts
  packages/backend/src/domain/constants/Queues.ts
  packages/backend/src/domain/constants/index.ts
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/tsconfig.json
  yarn.lock
Labels: none

Update current votes on proposal description
  packages/backend/src/core/proposals/index.ts
  packages/backend/src/core/proposals/shared/command/updateProposalVoteCountsCommand.ts
  packages/backend/src/core/votes/commands/createVoteCommand.ts
  packages/backend/src/core/votes/queue/jobs/updateProposalVoteCount.ts
Labels: none

load discussions logic added
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/interfaces/CommonsStateType.tsx
  packages/web/src/containers/Common/store/actions.tsx
  packages/web/src/containers/Common/store/constants.tsx
  packages/web/src/containers/Common/store/reducer.tsx
  packages/web/src/containers/Common/store/saga.tsx
  packages/web/src/containers/Common/store/selectors.tsx
  packages/web/src/shared/models/Discussion.tsx
  packages/web/src/shared/models/DiscussionMessage.tsx
  packages/web/src/shared/models/User.tsx
  packages/web/src/shared/models/index.tsx
  packages/web/src/shared/utils/shared.tsx
Labels: web

minor fixes
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/shared/utils/shared.tsx
Labels: web

Majority query
  packages/backend/src/core/proposals/index.ts
  packages/backend/src/core/proposals/shared/command/updateProposalVoteCountsCommand.ts
  packages/backend/src/core/proposals/shared/queries/proposalHasMajorityQuery.ts
  packages/backend/src/core/votes/queue/jobs/updateProposalVoteCount.ts
  packages/backend/src/domain/utils/index.ts
  packages/backend/src/domain/utils/pollingUtils.ts
Labels: none

Fix the proposal ownerships
  packages/backend/.env.docker
  packages/backend/prisma/migrations/20210326173707_move_the_proposal_state_to_the_shared_proposal_description/migration.sql
  packages/backend/prisma/migrations/20210326174056_finalizing_proposal_state/migration.sql
  packages/backend/prisma/migrations/20210326174809_/migration.sql
  packages/backend/prisma/migrations/20210326175817_default_join_proposal_payment_state/migration.sql
  packages/backend/prisma/migrations/20210329053714_/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/proposals/funding/command/createFundingProposalCommand.ts
  packages/backend/src/core/proposals/join/command/createJoinProposalCommand.ts
  packages/backend/src/core/proposals/shared/command/finalizeProposalCommand.ts
  packages/backend/src/core/proposals/shared/command/updateProposalVoteCountsCommand.ts
  packages/backend/src/core/proposals/shared/queries/proposalHasMajorityQuery.ts
  packages/backend/src/core/votes/commands/createVoteCommand.ts
  packages/backend/src/core/votes/queue/jobs/updateProposalVoteCount.ts
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
Labels: none

WIP (uncompilable)
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/proposals/join/command/finalizeJoinProposalCommand.ts
  packages/backend/src/core/proposals/shared/command/finalizeProposalCommand.ts
  packages/backend/src/core/proposals/shared/queries/proposalHasMajorityQuery.ts
  packages/backend/src/core/votes/queries/getProposalVoteCountQuery.ts
  packages/backend/tsconfig.json
  yarn.lock
Labels: none

Clean the migrations
  packages/backend/prisma/migrations/20210329062428_clean_database_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210315152939_initial_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210315164455_user_data_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210316071212_user_email_verified_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210316072821_initial_common_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210316081834_common_member_role_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210317085123_events_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210318060307_proposals_subscription_and_a_lot_od_stuff_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210318060931_cards_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210318070258_proposals_meta_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210318092404_remove_metadata_id_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210319053430_typo_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210319054803_wrong_enum_used_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210319055537_user_common_member_unique_constraing/migration.sql
  packages/backend/prisma/migrations_backup_1/20210319073954_drop_common_member_join_proposal_relationshop_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210319074708_new_event_type_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210322084605_card_details_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210322085223_card_district_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210322085457_fix_typo_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210322090124_new_evens_in_event_type_enum_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210323053033_/migration.sql
  packages/backend/prisma/migrations_backup_1/20210323063617_funding_proposal_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210323065445_funing_request_created_enum_value/migration.sql
  packages/backend/prisma/migrations_backup_1/20210323065514_/migration.sql
  packages/backend/prisma/migrations_backup_1/20210325055517_initial_votes_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210325064122_join_and_funding_must_be_unique_for_proposal_description_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210325071916_drop_vote_type_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210325073552_drop_the_common_from_the_vote_migration/migration.sql
  packages/backend/prisma/migrations_backup_1/20210325073931_vote_created_event_type/migration.sql
  packages/backend/prisma/migrations_backup_1/20210325090029_proposal_vote_counts/migration.sql
  packages/backend/prisma/migrations_backup_1/20210326173707_move_the_proposal_state_to_the_shared_proposal_description/migration.sql
  packages/backend/prisma/migrations_backup_1/20210326174056_finalizing_proposal_state/migration.sql
  packages/backend/prisma/migrations_backup_1/20210326174809_/migration.sql
  packages/backend/prisma/migrations_backup_1/20210326175817_default_join_proposal_payment_state/migration.sql
  packages/backend/prisma/migrations_backup_1/20210329053714_/migration.sql
Labels: none

WIP - Finalizing proposal #262
  packages/backend/prisma/migrations_backup_1/migration_lock.toml
  packages/backend/src/core/proposals/join/command/finalizeJoinProposalCommand.ts
Labels: none

WIP on #278 and resolves #277
  packages/backend/package.json
  packages/backend/prisma/migrations/20210329071532_paymensts_migration/migration.sql
  packages/backend/prisma/migrations_backup_2/20210329062428_clean_database_migration/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/payments/command/createPaymentCommand.ts
  packages/backend/src/core/proposals/join/command/finalizeJoinProposalCommand.ts
  packages/backend/src/domain/clients/circle/index.ts
  packages/backend/src/domain/clients/circle/payment/_createPayment.ts
  packages/backend/src/domain/clients/circle/types.ts
  packages/backend/src/domain/clients/circle/types/CircleBillingDetails.ts
  packages/backend/src/domain/clients/circle/types/CircleCurrency.ts
  packages/backend/src/domain/clients/circle/types/CircleMetadata.ts
  packages/backend/src/domain/clients/circle/types/Payment/Payment.ts
  packages/backend/src/domain/clients/circle/types/Payment/PaymentAmount.ts
  packages/backend/src/domain/clients/circle/types/Payment/PaymentFees.ts
  packages/backend/src/domain/clients/circle/types/Payment/PaymentSource.ts
  packages/backend/src/domain/clients/circle/types/Payment/PaymentStatus.ts
  packages/backend/src/domain/clients/circle/types/Payment/PaymentVerification.ts
  yarn.lock
Labels: none

modal logic added
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/shared/components/Modal/Modal.tsx
  packages/web/src/shared/components/Modal/index.scss
  packages/web/src/shared/components/Modal/index.tsx
  packages/web/src/shared/hooks/ModalHook.tsx
  packages/web/src/shared/hooks/OutsideClickHook.tsx
  packages/web/src/shared/hooks/index.tsx
  packages/web/src/shared/interfaces/Field.tsx
  packages/web/src/shared/interfaces/InputProps.tsx
  packages/web/src/shared/interfaces/InputTypes.tsx
  packages/web/src/shared/interfaces/ModalProps.tsx
  packages/web/src/shared/interfaces/Option.tsx
  packages/web/src/shared/interfaces/RenderTypes.tsx
  packages/web/src/shared/interfaces/index.tsx
Labels: web

Create payment #278
  packages/backend/prisma/migrations/20210329081235_proposal_card_link/migration.sql
  packages/backend/prisma/migrations/20210329082252_proposal_create_from_ip_migration/migration.sql
  packages/backend/prisma/migrations/20210329082718_payment_events_migration/migration.sql
  packages/backend/prisma/migrations/20210329102639_payment_type_pigration/migration.sql
  packages/backend/prisma/migrations/20210329112031_drop_common_member_relations/migration.sql
  packages/backend/prisma/migrations_backup_2/migration_lock.toml
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/payments/command/_createPaymentCommand.ts
  packages/backend/src/core/payments/command/createPaymentCommand.ts
  packages/backend/src/core/payments/command/createProposalPaymentCommand.ts
  packages/backend/src/core/payments/command/createSubscriptionPayment.ts
  packages/backend/src/core/payments/helpers/convertAmountToCircleAmount.ts
  packages/backend/src/core/payments/helpers/convertCirclePaymentStatus.ts
  packages/backend/src/core/payments/helpers/index.ts
  packages/backend/src/core/proposals/join/command/createJoinProposalCommand.ts
  packages/backend/src/core/proposals/join/command/finalize/finalizeApprovedOneTimeJoinRequestCommand.ts
  packages/backend/src/core/proposals/join/command/finalize/finalizeApprovedSubscriptionJoinRequestCommand.ts
  packages/backend/src/core/proposals/join/command/finalize/finalizeJoinProposalCommand.ts
  packages/backend/src/core/proposals/shared/command/finalizeProposalCommand.ts
  packages/backend/src/core/users/commands/createUserCommand.ts
  packages/backend/src/domain/clients/circle/payment/_createPayment.ts
  packages/backend/src/domain/clients/circle/types/Payment/PaymentAmount.ts
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
Labels: none

add title for reported join request
  packages/firebase/functions/src/notification/notification.ts
Labels: firebase

WIP
  packages/backend/package.json
  packages/backend/prisma/migrations/20210329155602_change_payment_state_name/migration.sql
  packages/backend/prisma/migrations/20210329172138_/migration.sql
  packages/backend/prisma/migrations/20210329172639_proposal_can_have_multiple_payments/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/cards/commands/createCardCommand.ts
  packages/backend/src/core/cards/commands/verifyCardCommand.ts
  packages/backend/src/core/commons/command/addCommonMemberRoleCommand.ts
  packages/backend/src/core/commons/command/createCommonCommand.ts
  packages/backend/src/core/commons/command/createCommonMemberCommand.ts
  packages/backend/src/core/events/commands/createEvent.ts
  packages/backend/src/core/events/index.ts
  packages/backend/src/core/events/queue/definition/index.ts
  packages/backend/src/core/events/queue/index.ts
  packages/backend/src/core/events/queue/jobs/createEventProcessor.ts
  packages/backend/src/core/payments/command/_createPaymentCommand.ts
  packages/backend/src/core/payments/command/createPaymentCommand.ts
  packages/backend/src/core/payments/command/createProposalPaymentCommand.ts
  packages/backend/src/core/payments/command/updatePaymentStatus.ts
  packages/backend/src/core/payments/index.ts
  packages/backend/src/core/proposals/index.ts
  packages/backend/src/core/proposals/join/command/createJoinProposalCommand.ts
  packages/backend/src/core/proposals/join/command/finalize/finalizeApprovedOneTimeJoinRequestCommand.ts
  packages/backend/src/core/proposals/join/command/finalizeJoinProposalCommand.ts
  packages/backend/src/core/proposals/shared/command/finalizeProposalCommand.ts
  packages/backend/src/core/services.ts
  packages/backend/src/core/subscriptions/command/createSubscriptionCommand.ts
  packages/backend/src/core/users/commands/createUserCommand.ts
  packages/backend/src/core/votes/commands/createVoteCommand.ts
  packages/backend/src/core/votes/queue/jobs/updateProposalVoteCount.ts
  packages/backend/src/domain/clients/circle/client.ts
  packages/backend/src/domain/constants/Queues.ts
  packages/backend/src/domain/utils/logger.ts
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/schema/Core/Proposals/Mutations/CreateJoinProposal.mutation.ts
  packages/backend/tsconfig.json
  yarn.lock
Labels: none

Payments struggle
  packages/backend/prisma/migrations/20210330054113_/migration.sql
  packages/backend/prisma/migrations/20210330072333_/migration.sql
  packages/backend/prisma/migrations/20210330083334_proposal_events/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/payments/command/createOneTimePaymentCommand.ts
  packages/backend/src/core/payments/command/createPaymentCommand.ts
  packages/backend/src/core/payments/command/createProposalPaymentCommand.ts
  packages/backend/src/core/payments/command/createSubscriptionPayment.ts
  packages/backend/src/core/payments/command/finalizePaymentCommand.ts
  packages/backend/src/core/payments/command/process/processSuccessfulInitialSubscriptionPayment.ts
  packages/backend/src/core/payments/command/process/processSuccessfulOneTimePayment.ts
  packages/backend/src/core/payments/command/process/processSuccessfulSequentialPayment.ts
  packages/backend/src/core/payments/command/updatePaymentStatus.ts
  packages/backend/src/core/payments/command/updatePaymentStatusCommand.ts
  packages/backend/src/core/payments/helpers/convertCirclePaymentStatus.ts
  packages/backend/src/core/payments/index.ts
  packages/backend/src/core/payments/queries/shouldCreateOneTimePaymentQuery.ts
  packages/backend/src/core/proposals/funding/command/process/processApprovedFundingRequest.ts
  packages/backend/src/core/proposals/funding/command/process/processRejectedFundingRequest.ts
  packages/backend/src/core/proposals/index.ts
  packages/backend/src/core/proposals/join/command/createJoinProposalCommand.ts
  packages/backend/src/core/proposals/join/command/finalizeJoinProposalCommand.ts
  packages/backend/src/core/proposals/join/command/process/processApprovedOneTimeJoinRequest.ts
  packages/backend/src/core/proposals/join/command/process/processRejectedJoinRequest.ts
  packages/backend/src/core/proposals/queue/index.ts
  packages/backend/src/core/proposals/queue/jobs/finalizeJoinProposalJob.ts
  packages/backend/src/core/proposals/shared/command/finalizeProposalCommand.ts
  packages/backend/src/core/votes/queue/jobs/updateProposalVoteCount.ts
  packages/backend/src/domain/clients/circle/index.ts
  packages/backend/src/domain/clients/circle/notifications/_register.ts
  packages/backend/src/domain/clients/circle/payment/_getPayment.ts
  packages/backend/src/domain/clients/circle/types/Payment/PaymentAmount.ts
  packages/backend/src/domain/constants/Queues.ts
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
Labels: none

Struggle
  packages/backend/.env.docker
  packages/backend/prisma/migrations/20210330115238_payment_state_change_migration/migration.sql
  packages/backend/src/domain/clients/circle/payment/_createPayment.ts
Labels: none

discussion modal detail WIP
  packages/web/public/icons/alarm-clock.svg
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/index.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/shared/components/Modal/index.scss
Labels: web

WIP
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
Labels: none

Working payments and payment handling
  packages/backend/prisma/migrations/20210330181226_/migration.sql
  packages/backend/prisma/migrations/20210330181618_/migration.sql
  packages/backend/prisma/migrations/20210330182217_/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/payments/command/createOneTimePaymentCommand.ts
  packages/backend/src/core/payments/command/finalizePaymentCommand.ts
  packages/backend/src/core/payments/command/process/processSuccessfulInitialSubscriptionPayment.ts
  packages/backend/src/core/payments/command/process/processSuccessfulOneTimePayment.ts
  packages/backend/src/core/payments/command/process/processSuccessfulSequentialPayment.ts
  packages/backend/src/core/payments/command/updatePaymentStatusCommand.ts
  packages/backend/src/core/payments/commands/createOneTimePaymentCommand.ts
  packages/backend/src/core/payments/commands/createPaymentCommand.ts
  packages/backend/src/core/payments/commands/process/proccessOneTimeProposalPayment.ts
  packages/backend/src/core/payments/commands/process/processPaymentCommand.ts
  packages/backend/src/core/payments/commands/updatePaymentStatusCommand.ts
  packages/backend/src/core/payments/index.ts
  packages/backend/src/core/payments/queries/shouldCreateOneTimePaymentQuery.ts
  packages/backend/src/core/payments/queue/paymentProcessingQueue.ts
  packages/backend/src/core/payments/queue/processProposalPaymentQueue.ts
  packages/backend/src/core/proposals/join/command/finalizeJoinProposalCommand.ts
  packages/backend/src/core/proposals/join/command/process/processApprovedOneTimeJoinRequest.ts
  packages/backend/src/core/proposals/queue/finalizeProposalQueue.ts
  packages/backend/src/core/proposals/queue/index.ts
  packages/backend/src/core/proposals/queue/jobs/finalizeJoinProposalJob.ts
  packages/backend/src/core/proposals/shared/command/finalizeProposalCommand.ts
  packages/backend/src/domain/constants/Queues.ts
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/schema/Core/Proposals/Mutations/FinalizeProposalMutation.ts
  packages/backend/src/graph/schema/Core/Proposals/index.ts
Labels: none

Add expiresAt to the proposals (WIP #287). Add bull dashboard (Resolves #288)
  packages/backend/package.json
  packages/backend/src/core/payments/queue/paymentProcessingQueue.ts
  packages/backend/src/core/payments/queue/processProposalPaymentQueue.ts
  packages/backend/src/core/proposals/funding/command/createFundingProposalCommand.ts
  packages/backend/src/core/proposals/helpers/generateProposalExpiresAtDate.ts
  packages/backend/src/core/proposals/join/command/createJoinProposalCommand.ts
  packages/backend/src/core/votes/commands/createVoteCommand.ts
  packages/backend/src/core/votes/queue/index.ts
  packages/backend/src/domain/config/index.ts
  packages/backend/src/domain/config/queueConfig.ts
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/index.ts
  packages/backend/tsconfig.json
  yarn.lock
Labels: none

Schedule job for proposal expiration (Resolves #287)
  packages/backend/.env.example
  packages/backend/prisma/migrations/20210331074112_/migration.sql
  packages/backend/src/core/payments/queue/processProposalPaymentQueue.ts
  packages/backend/src/core/proposals/funding/command/createFundingProposalCommand.ts
  packages/backend/src/core/proposals/helpers/generateProposalExpiresAtDate.ts
  packages/backend/src/core/proposals/join/command/createJoinProposalCommand.ts
  packages/backend/src/core/proposals/queue/expireProposalsQueue.ts
  packages/backend/src/domain/config/queueConfig.ts
  packages/backend/src/domain/constants/Queues.ts
Labels: none

Funding proposal processing
  packages/backend/prisma/migrations/20210331091713_/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/proposals/funding/command/finalizeFundingProposal.ts
  packages/backend/src/core/proposals/funding/command/process/processApprovedFundingRequest.ts
  packages/backend/src/core/proposals/join/command/finalizeJoinProposalCommand.ts
  packages/backend/src/core/proposals/shared/command/finalizeProposalCommand.ts
  packages/backend/src/core/votes/index.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
Labels: none

Subscription creating
  packages/backend/prisma/migrations/20210401055808_subscription_migration/migration.sql
  packages/backend/prisma/migrations/20210401061001_/migration.sql
  packages/backend/prisma/migrations/20210401062152_/migration.sql
  packages/backend/prisma/migrations/20210401062257_/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/proposals/funding/command/finalizeFundingProposal.ts
  packages/backend/src/core/proposals/funding/command/process/processRejectedFundingRequest.ts
  packages/backend/src/core/proposals/join/command/finalizeJoinProposalCommand.ts
  packages/backend/src/core/proposals/join/command/process/processApprovedSubscriptionJoinRequest.ts
  packages/backend/src/core/proposals/join/command/process/processRejectedJoinRequest.ts
  packages/backend/src/core/proposals/shared/command/finalizeProposalCommand.ts
  packages/backend/src/core/subscriptions/command/createSubscriptionCommand.ts
Labels: none

Subscription stuff
  packages/backend/package.json
  packages/backend/src/core/commons/command/updateCommonBalanceCommand.ts
  packages/backend/src/core/payments/commands/createOneTimePaymentCommand.ts
  packages/backend/src/core/payments/commands/createSubscriptionPaymentCommand.ts
  packages/backend/src/core/payments/commands/process/processOneTimeProposalPayment.ts
  packages/backend/src/core/payments/commands/process/processPaymentCommand.ts
  packages/backend/src/core/payments/commands/process/processSubscriptionPayment.ts
  packages/backend/src/core/payments/commands/updatePaymentStatusCommand.ts
  packages/backend/src/core/payments/queue/paymentProcessingQueue.ts
  packages/backend/src/core/proposals/join/command/process/processApprovedSubscriptionJoinRequest.ts
  packages/backend/src/core/subscriptions/command/createSubscriptionCommand.ts
  packages/backend/src/domain/errors/common/CommonError.ts
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/schema/Core/Votes/Mutations/CreateVote.mutation.ts
  yarn.lock
Labels: none

loader added & load discussion detail WIP
  packages/web/src/containers/App/App.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/store/actions.tsx
  packages/web/src/containers/Common/store/api.tsx
  packages/web/src/containers/Common/store/constants.tsx
  packages/web/src/containers/Common/store/saga.tsx
  packages/web/src/index.scss
  packages/web/src/shared/components/Common/LoadingIndicator.tsx
  packages/web/src/shared/components/Common/index.tsx
  packages/web/src/shared/components/Loader/Loader.tsx
  packages/web/src/shared/components/Loader/index.scss
  packages/web/src/shared/components/Loader/index.tsx
  packages/web/src/shared/components/index.tsx
  packages/web/src/shared/models/Discussion.tsx
Labels: web

Trying some stuff
  packages/backend/src/domain/utils/logger.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/schema/Core/Cards/Types/Card.type.ts
  packages/backend/src/graph/schema/Core/Proposals/Types/Proposal.type.ts
  packages/backend/src/graph/schema/Core/Proposals/Types/ProposalLink.type.ts
  packages/backend/src/graph/schema/Core/Users/Queries/GetUser.query.ts
  packages/backend/src/graph/schema/Core/Users/Types/User.type.ts
  packages/backend/src/graph/schema/Core/Users/index.ts
  yarn.lock
Labels: none

load disscussion detail logic added
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/interfaces/CommonsStateType.tsx
  packages/web/src/containers/Common/store/actions.tsx
  packages/web/src/containers/Common/store/api.tsx
  packages/web/src/containers/Common/store/constants.tsx
  packages/web/src/containers/Common/store/reducer.tsx
  packages/web/src/containers/Common/store/saga.tsx
  packages/web/src/containers/Common/store/selectors.tsx
Labels: web

Trying some stuff
  .gitignore
  packages/backend/.gitignore
  packages/backend/package.json
  packages/backend/prisma/migrations/20210402071457_/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/payments/commands/process/processSubscriptionPayment.ts
  packages/backend/src/core/payments/queue/paymentProcessingQueue.ts
  packages/backend/src/core/payments/queue/processProposalPaymentQueue.ts
  packages/backend/src/core/subscriptions/queues/chargeSubscriptionQueue.ts
  packages/backend/src/domain/config/queueConfig.ts
  packages/backend/src/domain/constants/Queues.ts
  packages/backend/src/domain/constants/secrets/adminsdk-keys.json
  packages/backend/src/domain/toolkits/FirebaseToolkit.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
Labels: none

disscussion modal finished
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/store/api.tsx
  packages/web/src/shared/utils/shared.tsx
Labels: web

CM-265: Create Common - Tagline and About fields should be not required
  packages/firebase/functions/src/common/business/createCommon.ts
Labels: firebase

allow 0 contribution without minFeeToJoin being 0
  packages/firebase/functions/src/common/business/createCommon.ts
  packages/firebase/functions/src/proposals/business/createJoinRequest.ts
  packages/types/src/entities/ICommonEntity.ts
Labels: firebase, types

fix tests
  packages/firebase/__tests__/funtions/common.test.ts
  packages/firebase/functions/src/util/tests/helpers/mockers/commons/getCommon.mocker.ts
Labels: firebase

fix createTestCommon
  packages/firebase/__tests__/helpers/createTestCommon.ts
Labels: firebase

Change pkg
  packages/graphql/package.json
Labels: none

Compilable state
  packages/core/package.json
  packages/core/src/domain/utils/logger.ts
  packages/core/src/services/events/commands/createEventCommand.ts
  packages/core/src/services/payments/commands/createPaymentCommand.ts
  packages/core/src/services/votes/commands/createVoteCommand.ts
  packages/graphql/package.json
  packages/graphql/src/index.ts
  packages/queues/package.json
  packages/queues/src/constants/Queues.ts
  packages/queues/src/index.ts
  packages/queues/src/jobs/EventsQueue.ts
  packages/queues/src/jobs/PaymentsQueue.ts
  packages/queues/src/jobs/VotesQueue.ts
  packages/queues/src/jobs/index.ts
  packages/queues/tsconfig.json
  packages/worker/src/constants/Queues.d.ts
  packages/worker/src/constants/Queues.js
  packages/worker/src/constants/Queues.ts
  packages/worker/src/index.d.ts
  packages/worker/src/index.js
  packages/worker/src/index.ts
  packages/worker/src/jobs/PaymentsQueue.d.ts
  packages/worker/src/jobs/PaymentsQueue.js
  packages/worker/src/jobs/PaymentsQueue.ts
  packages/worker/src/jobs/VotesQueue.d.ts
  packages/worker/src/jobs/VotesQueue.js
  packages/worker/src/jobs/index.d.ts
  packages/worker/src/jobs/index.js
  packages/worker/src/processors/EventsWorker.ts
  packages/worker/src/processors/PaymentsWorker.ts
  packages/worker/src/processors/VotesWorker.ts
  yarn.lock
Labels: none

Cleanup
  packages/queues/src/jobs/VotesQueue.ts
Labels: none

Compilation scripts
  packages/core/package.json
  packages/core/src/domain/toolkits/FirebaseToolkit.ts
  packages/core/src/index.ts
  packages/graphql/package.json
  packages/graphql/src/index.ts
  packages/queues/package.json
  packages/worker/package.json
  packages/worker/src/index.ts
  yarn.lock
Labels: none

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*
