Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*

Void Notification Token
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/src/services/users/commands/voidUserNotificationTokenCommand.ts
  packages/core/src/services/users/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Users/Mutations/VoidUserNotificationToken.mutation.ts
  packages/graphql/src/schema/Types/Users/index.ts
Labels: none

Join request template
  packages/core/prisma/migrations/20210417080536_user_notification_token_events/migration.sql
  packages/core/prisma/seed.ts
  packages/core/prisma/seed/notificationTemplates.ts
  packages/core/prisma/seed/templates/JoinRequestAccepted.ts
  packages/core/src/index.ts
  packages/core/src/services/notifications/index.ts
  packages/core/src/services/notifications/mailer/actions/sendEmailNotificaiton.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
Labels: none

empty state logic added
  packages/web/public/icons/discussions-empty.svg
  packages/web/public/icons/proposals-empty.svg
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/EmptyTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/index.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/PreviewInformationList.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/index.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
Labels: web

stop countdown for hidden proposals
  packages/firebase/functions/src/proposals/business/isExpired.ts
Labels: firebase

Link the discussion subscription created event to the common
  packages/core/src/services/discussions/subscriptions/createDiscussionSubscriptionCommand.ts
Labels: none

allow hidden to expire
  packages/firebase/functions/src/proposals/business/isExpired.ts
Labels: firebase

updates
  packages/web/src/constants.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Landing/assets/images/iphone-full.png
  packages/web/src/containers/Landing/assets/images/iphone.png
  packages/web/src/containers/Landing/assets/images/iphone.svg
  packages/web/src/containers/Landing/assets/images/join.jpg
  packages/web/src/containers/Landing/assets/images/sea.jpg
  packages/web/src/containers/Landing/assets/images/wave-bottom.svg
  packages/web/src/containers/Landing/assets/images/wave-top.svg
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/ContactUs.tsx
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/assets/fonts/NunitoSans-Regular.ttf
  packages/web/src/shared/assets/icons/email.svg
  packages/web/src/shared/components/Header/index.scss
Labels: web

remove unecessary dashboard file
  packages/web/src/containers/App/App.tsx
  packages/web/src/shared/components/Dashboard.tsx
  packages/web/src/shared/components/index.tsx
Labels: web

Create deployment-dev-ui
  .github/workflows/deployment-dev-ui
Labels: actions

Rename deployment-dev-ui to deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

fix 404 react-nginx issue
  packages/web/Dockerfile
  packages/web/default.conf
Labels: web

updates
  packages/web/public/icons/app-icons/app-store-white.svg
  packages/web/public/icons/app-icons/google-play-white.svg
  packages/web/src/constants.scss
  packages/web/src/containers/App/App.tsx
  packages/web/src/containers/App/constants.tsx
  packages/web/src/containers/Landing/assets/images/iphone-half.png
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/shared/components/Footer/Footer.tsx
  packages/web/src/shared/components/Footer/index.scss
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/components/MobileLinks/MobileLinks.tsx
  packages/web/src/shared/components/MobileLinks/index.scss
  packages/web/src/shared/components/MobileLinks/index.tsx
  packages/web/src/shared/interfaces/SharedState.tsx
  packages/web/src/shared/store/actions.tsx
  packages/web/src/shared/store/constants.tsx
  packages/web/src/shared/store/reducer.tsx
  packages/web/src/shared/store/selectors.tsx
Labels: web

Create the reports data structure
  packages/core/prisma/models/reports/Report.prisma
  packages/core/prisma/models/reports/enums/ReportAuditor.prisma
  packages/core/prisma/models/reports/enums/ReportFor.prisma
  packages/core/prisma/models/reports/enums/ReportStatus.prisma
  packages/core/prisma/models/users/User.prisma
Labels: none

Create report command
  packages/core/prisma/migrations/20210420052023_initial_reports_migration/migration.sql
  packages/core/prisma/models/commons/Common.prisma
  packages/core/prisma/models/discussions/DiscussionMessage.prisma
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/prisma/models/reports/Report.prisma
  packages/core/src/services/index.ts
  packages/core/src/services/reports/commands/createReportCommand.ts
  packages/core/src/services/reports/index.ts
Labels: none

Reports gql types
  packages/core/.gitignore
  packages/core/package.json
  packages/core/prisma/migrations/20210420054130_report_events/migration.sql
  packages/core/prisma/migrations/20210420055858_report_common_link/migration.sql
  packages/core/prisma/migrations/20210420060958_report_status/migration.sql
  packages/core/prisma/models/reports/Report.prisma
  packages/core/prisma/schema.prisma
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/CommonMember/Enums/CommonMemberRole.enum.ts
  packages/graphql/src/schema/Types/Reports/Enums/ReportAuditor.enum.ts
  packages/graphql/src/schema/Types/Reports/Enums/ReportFor.enum.ts
  packages/graphql/src/schema/Types/Reports/Enums/ReportStatus.enum.ts
  packages/graphql/src/schema/Types/Reports/Extensions/ReportReportedMessage.extension.ts
  packages/graphql/src/schema/Types/Reports/Extensions/ReportReporter.extension.ts
  packages/graphql/src/schema/Types/Reports/Types/Report.type.ts
  packages/graphql/src/schema/Types/Reports/index.ts
  packages/graphql/src/schema/index.ts
Labels: none

Quick format
  packages/core/src/domain/constants/Queues.ts
  packages/core/src/services/subscriptions/queues/chargeSubscriptionQueue.ts
  packages/core/src/services/users/queries/getUserIdTokenQuery.ts
Labels: none

Report message mutation
  packages/core/src/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Reports/Mutations/ReportDiscussionMessage.mutation.ts
  packages/graphql/src/schema/Types/Reports/index.ts
Labels: none

updates
  packages/web/public/icons/menu.svg
  packages/web/src/constants.scss
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/index.scss
  packages/web/src/shared/components/Footer/Footer.tsx
  packages/web/src/shared/components/Footer/index.scss
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/components/Header/index.scss
  packages/web/src/shared/components/MobileLinks/MobileLinks.tsx
  packages/web/src/shared/components/MobileLinks/index.scss
Labels: web

WIP
  packages/core/prisma/migrations/20210420080053_moderator_common_member_role/migration.sql
  packages/core/prisma/models/commons/enums/CommonMemberRole.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/services/authorization/index.ts
  packages/core/src/services/authorization/reports/canSeeCommonReports.ts
  packages/core/src/services/commons/command/createCommonCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Commons/Extensions/CommonCommonMember.extension.ts
  packages/graphql/src/schema/Types/Commons/Extensions/CommonReports.extension.ts
  packages/graphql/src/schema/Types/Discussion/Extensions/DiscussionSubscriptionDiscussion.extension.ts
  packages/graphql/src/schema/Types/Reports/Inputs/ReportWhere.input.ts
  packages/graphql/src/schema/Types/Reports/index.ts
Labels: none

Reports extension
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Commons/Extensions/CommonReports.extension.ts
  packages/graphql/src/schema/Types/Commons/index.ts
Labels: none

Discussion message flags, discussion message reports extensions
  packages/core/prisma/models/discussions/DiscussionMessage.prisma
  packages/core/prisma/models/discussions/enums/DiscussionMessageFlag.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/services/authorization/index.ts
  packages/core/src/services/authorization/reports/canSeeMessageReports.ts
  packages/core/src/services/reports/commands/createReportCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Discussion/Enums/DiscussionMessageFlag.enum.ts
  packages/graphql/src/schema/Types/Discussion/Extensions/DiscussionMessageReports.extension.ts
  packages/graphql/src/schema/Types/Discussion/Types/DiscussionMessage.type.ts
  packages/graphql/src/schema/Types/Discussion/index.ts
Labels: none

Act on report command
  packages/core/prisma/migrations/20210421050808_message_flags/migration.sql
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/prisma/models/reports/Report.prisma
  packages/core/prisma/models/reports/enums/ReportAction.prisma
  packages/core/prisma/models/reports/enums/ReportStatus.prisma
  packages/core/prisma/models/users/User.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/services/reports/commands/actOnReportCommand.ts
  packages/core/src/services/reports/queries/getUserReportActingAuthority.ts
Labels: none

Act on report mutation
  packages/core/prisma/migrations/20210421055341_/migration.sql
  packages/core/prisma/migrations/20210421063235_rename_event_for_respected_report/migration.sql
  packages/core/src/services/authorization/index.ts
  packages/core/src/services/authorization/reports/canActOnReport.ts
  packages/core/src/services/discussions/messages/createDiscussionMessageCommand.ts
  packages/core/src/services/reports/commands/actOnReportCommand.ts
  packages/core/src/services/reports/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Reports/Enums/ReportAction.enum.ts
  packages/graphql/src/schema/Types/Reports/Mutations/ActOnReport.mutation.ts
  packages/graphql/src/schema/Types/Reports/index.ts
Labels: none

Filtration
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Commons/Extensions/CommonReports.extension.ts
  packages/graphql/src/schema/Types/Reports/Inputs/ReportStatusFilter.input.ts
  packages/graphql/src/schema/Types/Reports/Inputs/ReportWhere.input.ts
  packages/graphql/src/schema/Types/Reports/index.ts
Labels: none

Hide hidden messages from discussion
  packages/graphql/src/schema/Types/Discussion/Extensions/DiscussionMessages.extension.ts
Labels: none

remove hard coded string
  packages/firebase/functions/src/notification/notification.ts
Labels: firebase

updates
  packages/web/src/constants.scss
  packages/web/src/containers/Landing/assets/images/contact-us-overlay-wave.svg
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/shared/components/Footer/index.scss
  packages/web/src/shared/components/Header/index.scss
  packages/web/src/shared/components/MobileLinks/index.scss
Labels: web

v1.9.11-rc.2
  lerna.json
  packages/core/package.json
  packages/firebase/functions/package.json
  packages/firebase/package.json
  packages/graphql/package.json
  packages/queues/package.json
  packages/worker/package.json
Labels: firebase

v1.9.11
  lerna.json
  packages/admin/package.json
  packages/core/package.json
  packages/firebase/functions/package.json
  packages/firebase/package.json
  packages/graphql/package.json
  packages/queues/package.json
  packages/types/package.json
  packages/web/package.json
  packages/worker/package.json
Labels: firebase, web, types, admin

Roles supporting backend
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/prisma/models/roles/Role.prisma
  packages/core/prisma/models/users/User.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/domain/validation/index.ts
  packages/core/src/index.ts
  packages/core/src/services/authorization/index.ts
  packages/core/src/services/authorization/userCan.ts
  packages/core/src/services/index.ts
  packages/core/src/services/roles/commands/createRoleCommand.ts
  packages/core/src/services/roles/commands/permissions/addRolePermissionCommand.ts
  packages/core/src/services/roles/commands/permissions/removeRolePermissionCommand.ts
  packages/core/src/services/roles/commands/users/addUserToRoleCommand.ts
  packages/core/src/services/roles/commands/users/rebuildUserPermissionsCommand.ts
  packages/core/src/services/roles/commands/users/removeUserFromRoleCommand.ts
  packages/core/src/services/roles/index.ts
Labels: none

GraphQL role initial additions
  .run/GraphQL.run.xml
  packages/core/prisma/migrations/20210422051828_roles_and_permissions_migration/migration.sql
  packages/core/prisma/migrations/20210422054519_role_events/migration.sql
  packages/core/prisma/seed.ts
  packages/core/src/domain/validation/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Shared/Inputs/Paginate.input.ts
  packages/graphql/src/schema/Types/Roles/Queries/GetRoles.query.ts
  packages/graphql/src/schema/Types/Roles/Types/Role.type.ts
  packages/graphql/src/schema/Types/Roles/index.ts
  packages/graphql/src/schema/Types/Users/Types/User.type.ts
  packages/graphql/src/schema/index.ts
Labels: none

fetch commons only if they were not loaded
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
Labels: web

some review fixes ; init landing page commons
  packages/web/public/icons/email.svg
  packages/web/src/containers/Landing/components/LandingContainer/Commons/Commons.tsx
  packages/web/src/containers/Landing/components/LandingContainer/Commons/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/Commons/index.tsx
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/ContactUs.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/components/Footer/Footer.tsx
Labels: web

show featured commons on landing page
  packages/web/src/constants.scss
  packages/web/src/containers/Landing/components/LandingContainer/Commons/Commons.tsx
  packages/web/src/containers/Landing/components/LandingContainer/Commons/index.scss
Labels: web

Role assigning
  packages/core/src/services/authorization/userCan.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Shared/Scalars/Void.scalar.ts
  packages/graphql/src/schema/Types/Roles/Mutations/AssignRole.mutation.ts
  packages/graphql/src/schema/Types/Roles/Mutations/CreateRole.mutation.ts
  packages/graphql/src/schema/Types/Roles/index.ts
  packages/graphql/src/schema/index.ts
Labels: none

fix permission getting
  packages/firebase/functions/src/common/business/updateCommon.ts
  packages/firebase/functions/src/moderation/business/hideContent.ts
  packages/firebase/functions/src/moderation/business/showContent.ts
Labels: firebase

Saving changes
  packages/core/prisma/migrations/20210423043927_role_updated_event/migration.sql
  packages/core/prisma/migrations/20210423174643_user_photo_m_igration/migration.sql
  packages/core/prisma/migrations/20210423174702_user_photo_migration/migration.sql
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/prisma/models/users/User.prisma
  packages/core/prisma/schema.prisma
  packages/core/prisma/seed.ts
  packages/core/src/services/roles/commands/editRoleCommand.ts
  packages/core/src/services/roles/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Roles/Mutations/UnassignRole.mutation.ts
  packages/graphql/src/schema/Types/Roles/index.ts
  packages/graphql/src/schema/Types/Users/Types/User.type.ts
Labels: none

some minor updates ; added half iphone image when on mobile
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/shared/components/Header/Header.tsx
Labels: web
