Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*

Proposal votes
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/proposals/details/[proposalId].tsx
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Votes/Extensions/VoteVoter.extension.ts
  packages/graphql/src/schema/Types/Votes/Types/Vote.type.ts
  packages/graphql/src/schema/Types/Votes/index.ts
Labels: admin

Fix user details page
  packages/admin/codegen.yml
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/users/details/[userId].tsx
  packages/core/prisma/models/subscriptions/Subscription.prisma
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Common/Enums/FundingTypeEnum.ts
  packages/graphql/src/schema/Types/Common/Extensions/CommonActiveProposals.extension.ts
  packages/graphql/src/schema/Types/Common/Extensions/CommonCommonMember.extension.ts
  packages/graphql/src/schema/Types/Common/Extensions/CommonDiscussions.extension.ts
  packages/graphql/src/schema/Types/Common/Extensions/CommonEvents.extension.ts
  packages/graphql/src/schema/Types/Common/Extensions/CommonProposals.extension.ts
  packages/graphql/src/schema/Types/Common/Extensions/CommonReports.extension.ts
  packages/graphql/src/schema/Types/Common/Inputs/CommonWhereUnique.input.ts
  packages/graphql/src/schema/Types/Common/Mutations/CreateCommon.mutation.ts
  packages/graphql/src/schema/Types/Common/Mutations/DelistCommon.mutation.ts
  packages/graphql/src/schema/Types/Common/Mutations/WhitelistCommon.mutation.ts
  packages/graphql/src/schema/Types/Common/Queries/GetCommon.query.ts
  packages/graphql/src/schema/Types/Common/Queries/GetCommons.query.ts
  packages/graphql/src/schema/Types/Common/Types/Common.type.ts
  packages/graphql/src/schema/Types/Common/index.ts
  packages/graphql/src/schema/Types/CommonSubscriptions/Enums/SubscriptionPaymentStatus.enum.ts
  packages/graphql/src/schema/Types/CommonSubscriptions/Enums/SubscriptionStatus.enum.ts
  packages/graphql/src/schema/Types/CommonSubscriptions/Extensions/SubscriptionCommon.extension.ts
  packages/graphql/src/schema/Types/CommonSubscriptions/Types/CommonSubscription.type.ts
  packages/graphql/src/schema/Types/CommonSubscriptions/index.ts
  packages/graphql/src/schema/Types/Users/Extensions/UserSubscriptions.extension.ts
  packages/graphql/src/schema/Types/Users/Inputs/UserWhereUnique.input.ts
  packages/graphql/src/schema/Types/Users/Queries/GetUser.query.ts
  packages/graphql/src/schema/Types/Users/index.ts
  packages/graphql/src/schema/index.ts
Labels: admin

Fix user list page
  packages/admin/codegen.yml
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/users/index.tsx
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Users/Inputs/UserWhere.input.ts
  packages/graphql/src/schema/Types/Users/Queries/GetUsers.query.ts
  packages/graphql/src/schema/Types/Users/index.ts
Labels: admin

change date to firestore.timestamp
  packages/firebase/functions/src/proposals/business/getNewCountdown.ts
  packages/firebase/functions/src/proposals/business/isExpired.ts
Labels: firebase

Save current progress
  packages/admin/src/components/modals/SearchEverywhere.tsx
  packages/admin/src/pages/dashboard/index.tsx
  packages/admin/src/pages/index.tsx
Labels: admin

Event notification dynamic link
  packages/admin/src/components/Header.tsx
  packages/core/prisma/models/notifications/NotificationEventSettings.prisma
  packages/core/prisma/models/notifications/enums/NotificationType.prisma
  packages/core/prisma/models/statistics/Statistic.prisma
  packages/core/prisma/models/statistics/enums/StatisticType.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/services/events/commands/createEventNotificationCommand.ts
Labels: admin

Create command for creating event notification link
  packages/core/prisma/migrations/20210507050350_event_notification_sender/migration.sql
  packages/core/prisma/migrations/20210507050819_notification_type_customization/migration.sql
  packages/core/prisma/migrations/20210507053222_drop_some_fields/migration.sql
  packages/core/prisma/migrations/20210507053528_/migration.sql
  packages/core/src/services/notifications/command/createNotificationEventSettings.ts
  packages/core/src/services/notifications/index.ts
Labels: none

Create graphql infrastructure for creating event notification link
  packages/core/src/domain/validation/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Notifications/Mutations/CreateNotificationEventSettings.mutation.ts
  packages/graphql/src/schema/Types/Notifications/Types/NotificationEventSettings.type.ts
  packages/graphql/src/schema/Types/Notifications/index.ts
Labels: none

Fix the event processing
  packages/queues/src/jobs/EventsQueue.ts
  packages/worker/src/processors/EventsWorker.ts
Labels: none

WIP
  packages/admin/codegen.yml
  packages/admin/src/components/HasPermission.tsx
  packages/admin/src/components/Header.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/notifications/index.tsx
  packages/admin/src/pages/notifications/templates/index.tsx
  packages/core/src/domain/validation/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Notifications/Enums/NotificationLanguage.enum.ts
  packages/graphql/src/schema/Types/Notifications/Enums/NotificationTemplateType.enum.ts
  packages/graphql/src/schema/Types/Notifications/Inputs/NotificationTemplateWhere.input.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationEventSettings.query.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationTemplates.query.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotifications.query.ts
  packages/graphql/src/schema/Types/Notifications/Types/NotificationTemplate.type.ts
  packages/graphql/src/schema/Types/Notifications/index.ts
Labels: admin

v1.9.12-rc.0
  lerna.json
  packages/admin/package.json
  packages/core/package.json
  packages/firebase/functions/package.json
  packages/firebase/package.json
  packages/graphql/package.json
  packages/queues/package.json
  packages/worker/package.json
Labels: firebase, admin

v1.9.12-rc.1
  lerna.json
  packages/firebase/functions/package.json
  packages/firebase/package.json
  packages/types/package.json
Labels: firebase, types

Added links and rules to commonService create
  packages/core/src/domain/validation/index.ts
  packages/core/src/domain/validation/schemas/Link.schema.ts
  packages/core/src/services/commons/command/createCommonCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Commons/Inputs/CommonLink.input.ts
  packages/graphql/src/schema/Types/Commons/Mutations/CreateCommon.mutation.ts
  packages/graphql/src/schema/Types/Commons/Types/Common.type.ts
  packages/graphql/src/schema/Types/Commons/index.ts
  packages/graphql/src/schema/Types/Discussion/Extensions/DiscussionOwner.extension.ts
  packages/graphql/src/schema/Types/Discussion/Inputs/DiscussionWhere.input.ts
  packages/graphql/src/schema/Types/Discussion/Queries/GetDiscussions.query.ts
  packages/graphql/src/schema/Types/Discussion/Types/Discussion.type.ts
  packages/graphql/src/schema/Types/Discussion/index.ts
  packages/graphql/src/schema/Types/Proposals/index.ts
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/graphql/index.ts
Labels: web

resolves #444 ; added commons swiper in the landing page
  packages/web/package.json
  packages/web/public/icons/common-icon-round-corners.svg
  packages/web/public/icons/download.svg
  packages/web/src/constants.scss
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/Commons/Commons.tsx
  packages/web/src/containers/Landing/components/LandingContainer/Commons/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/components/DownloadCommonApp/DownloadCommonApp.tsx
  packages/web/src/shared/components/DownloadCommonApp/index.scss
  packages/web/src/shared/components/DownloadCommonApp/index.tsx
  packages/web/src/shared/components/Footer/Footer.tsx
  packages/web/src/shared/components/Footer/index.scss
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/components/Header/index.scss
  packages/web/src/shared/components/MobileLinks/MobileLinks.tsx
  packages/web/src/shared/constants/shared.tsx
  packages/web/src/shared/icons/close.icon.js
  packages/web/src/shared/utils/shared.tsx
Labels: web

.
  packages/web/src/shared/utils/shared.tsx
Labels: web

.
  packages/web/src/shared/utils/shared.tsx
Labels: web

resolves gh-issue-445 ; added modal to download common app when on mobile ; more improvemets
  packages/web/package.json
  packages/web/public/assets/images/purple-stains.svg
  packages/web/src/constants.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Common/containers/CommonListContainer/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/components/DownloadCommonApp/DownloadCommonApp.tsx
  packages/web/src/shared/components/Footer/index.scss
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/components/Header/index.scss
  packages/web/src/shared/components/MobileLinks/MobileLinks.tsx
  packages/web/src/shared/components/MobileLinks/index.scss
  packages/web/src/shared/components/Modal/Modal.tsx
  packages/web/src/shared/components/Modal/index.scss
  packages/web/src/shared/constants/shared.tsx
  packages/web/src/shared/icons/close.icon.js
  packages/web/src/shared/interfaces/ModalProps.tsx
  packages/web/src/shared/utils/shared.tsx
Labels: web

common detail fixes
  packages/web/public/icons/default-image.svg
  packages/web/public/icons/social-share/facebook.svg
  packages/web/public/icons/social-share/linkedin.svg
  packages/web/public/icons/social-share/telegram.svg
  packages/web/public/icons/social-share/twitter.svg
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/AboutTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatMessage.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/EmptyTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/PreviewInformationList.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/shared/components/Modal/Modal.tsx
  packages/web/src/shared/components/Modal/index.scss
  packages/web/src/shared/components/Share/Share.tsx
  packages/web/src/shared/components/Share/index.scss
  packages/web/src/shared/components/Share/index.tsx
  packages/web/src/shared/components/index.tsx
Labels: web

updates to the share componenet; updated app store icon ; resolves gh-issue-459
  packages/web/public/icons/app-icons/app-store.svg
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/components/Share/Share.tsx
  packages/web/src/shared/components/Share/index.scss
  packages/web/src/shared/icons/close.icon.js
Labels: web

support header menu om mobile ; some more minor improvements
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/components/DownloadCommonApp/DownloadCommonApp.tsx
  packages/web/src/shared/components/DownloadCommonApp/index.scss
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/components/Header/index.scss
  packages/web/src/shared/icons/close.icon.js
  packages/web/src/shared/icons/hamburger.icon.js
Labels: web

Create all-time statistics if they do not exist. More advanced user permission checks
  .run/Worker.run.xml
  packages/admin/src/components/modals/SearchEverywhere.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/pages/notifications/templates/create.tsx
  packages/admin/src/pages/notifications/templates/index.tsx
  packages/admin/tsconfig.json
  packages/core/prisma/models/statistics/Statistic.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/services/authorization/userCan.ts
  packages/core/src/services/statistics/commands/updateAllTimeStatistics.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationTempalateOptions.query.ts
  packages/graphql/src/schema/Types/Users/Queries/GenerateUserAuthToken.query.ts
  packages/worker/package.json
  yarn.lock
Labels: admin

show/hide header on landing page
  packages/web/package.json
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/components/Header/index.scss
Labels: web

UI for creating notification templates
  packages/admin/package.json
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/core/prisma/migrations/20210510063144_/migration.sql
  packages/core/src/services/notifications/command/createNotificationTemplateCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Notifications/Mutations/CreateNotificationTemplate.mutation.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationTempalateOptions.query.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationTemplateOptions.query.ts
  packages/graphql/src/schema/Types/Notifications/Types/NotificationTemplateOptions.type.ts
  packages/graphql/src/schema/Types/Notifications/index.ts
  yarn.lock
Labels: admin

UI for event notification integrations
  packages/admin/src/components/helpers/StatusIcon.tsx
  packages/admin/src/components/helpers/index.ts
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/notifications/events/index.tsx
  packages/admin/src/pages/notifications/index.tsx
  packages/admin/src/pages/notifications/templates/create.tsx
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationEventOptions.query.ts
  packages/graphql/src/schema/Types/Notifications/Types/NotificationEventOptions.type.ts
  packages/graphql/src/schema/Types/Notifications/index.ts
Labels: admin

Notification Settings Page
  packages/admin/src/components/helpers/StatusIcon.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/notifications/settings/index.tsx
  packages/admin/src/pages/notifications/templates/index.tsx
  packages/core/prisma/seed.ts
  packages/core/prisma/seed/notificationSystemSettings.ts
  packages/core/src/domain/clients/circle/index.ts
  packages/core/src/domain/validation/index.ts
  packages/core/src/domain/validation/permissions.ts
  packages/core/src/services/authorization/reports/canSeeCommonReports.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationEventOptions.query.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationSettings.query.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationTemplateOptions.query.ts
  packages/graphql/src/schema/Types/Notifications/Types/NotificationSystemSettings.type.ts
  packages/graphql/src/schema/Types/Notifications/index.ts
  packages/graphql/src/schema/Types/Users/Mutations/CreateUser.mutation.ts
  packages/graphql/src/schema/Types/Users/Types/User.type.ts
  packages/types/tsconfig.json
Labels: types, admin

Notification Settings Updating
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/notifications/settings/index.tsx
  packages/core/src/services/authorization/userCan.ts
  packages/core/src/services/notifications/command/updateNotificationSettings.ts
  packages/core/src/services/notifications/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Notifications/Mutations/UpdateNotificationSettings.mutation.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationSettings.query.ts
  packages/graphql/src/schema/Types/Notifications/index.ts
Labels: admin

build image v0.1a
  Dockerfile
  packages/core/package-lock.json
  packages/core/package.json
Labels: none

docker-compose v0.1
  docker-compose.yaml
Labels: none

WIP
  packages/admin/src/core/context/UserContext.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/pages/notifications/settings/index.tsx
  packages/admin/src/pages/notifications/templates/details/[templateForType].tsx
  packages/admin/src/pages/notifications/templates/index.tsx
  packages/core/package.json
  packages/worker/package.json
Labels: admin

show join the effort modal ; fix issue #471
  packages/web/public/assets/images/apps-qr.svg
  packages/web/src/containers/App/App.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/JoinTheEffortModal/JoinTheEffortModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/JoinTheEffortModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/JoinTheEffortModal/index.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/index.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/Commons/Commons.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/constants/shared.tsx
  packages/web/src/shared/store/reducer.tsx
Labels: web

Update Notification Templates
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/notifications/templates/details/[templateForType].tsx
  packages/admin/src/pages/notifications/templates/index.tsx
  packages/core/src/services/notifications/command/updateNotificationTemplate.ts
  packages/core/src/services/notifications/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Notifications/Inputs/NotificationSettingsWhere.input.ts
  packages/graphql/src/schema/Types/Notifications/Mutations/UpdateNotificationTemplate.mutation.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationSettings.query.ts
  packages/graphql/src/schema/Types/Notifications/index.ts
Labels: admin

updates
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/EmptyTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalItemComponent.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/shared/components/Footer/index.scss
Labels: web

Migrate to Graphql from firebase. Refactoring code
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Discussion/Extensions/DiscussionMessagesOwner.extension.ts
  packages/graphql/src/schema/Types/Discussion/Types/DiscussionMessage.type.ts
  packages/graphql/src/schema/Types/Discussion/index.ts
  packages/web/.eslintrc.js
  packages/web/package.json
  packages/web/src/containers/App/App.test.jsx
  packages/web/src/containers/App/App.tsx
  packages/web/src/containers/Auth/containers/AuthContainer/AuthContainer.tsx
  packages/web/src/containers/Auth/store/saga.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/AboutTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/PreviewInformationList.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/interfaces/CommonsStateType.tsx
  packages/web/src/containers/Common/store/actions.tsx
  packages/web/src/containers/Common/store/api.tsx
  packages/web/src/containers/Common/store/constants.tsx
  packages/web/src/containers/Common/store/index.tsx
  packages/web/src/containers/Common/store/reducer.tsx
  packages/web/src/containers/Common/store/saga.tsx
  packages/web/src/containers/Common/store/selectors.tsx
  packages/web/src/context/AuthContext.tsx
  packages/web/src/context/PermissionsContext.tsx
  packages/web/src/context/UserContext.tsx
  packages/web/src/context/index.ts
  packages/web/src/graphql/index.ts
  packages/web/src/graphql/indexx.ts
  packages/web/src/index.tsx
  packages/web/src/providers/AuthenticationProvider.tsx
  packages/web/src/shared/utils/shared.tsx
  packages/web/src/store/index.tsx
  packages/web/src/store/reducer.tsx
  packages/web/src/store/saga.tsx
  packages/web/src/store/store.tsx
Labels: web

Fix eslint
  packages/web/.eslintrc.js
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/AboutTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionsComponent.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/containers/CommoContainer/CommonContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/context/PermissionsContext.tsx
  packages/web/src/providers/AuthenticationProvider.tsx
Labels: web

many scss improvements ; countdown and date fixes ; more...
  packages/web/package.json
  packages/web/src/constants.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatMessage.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalCountDown/ProposalCountDown.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalCountDown/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/index.scss
  packages/web/src/shared/utils/shared.tsx
Labels: web

Highlights
  packages/admin/src/pages/notifications/templates/details/[templateForType].tsx
Labels: admin

Remove unnecessary console.log. Fix spaces
  packages/graphql/src/schema/Types/Discussion/Queries/GetDiscussions.query.ts
  packages/web/src/providers/ApolloProvider.tsx
Labels: web

updates
  packages/web/public/assets/images/iphone-full-1.png
  packages/web/public/assets/images/iphone-full-2.png
  packages/web/public/assets/images/iphone-full-3.png
  packages/web/public/assets/images/iphone-half-1.png
  packages/web/public/assets/images/iphone-half-2.png
  packages/web/public/assets/images/iphone-half-3.png
  packages/web/public/assets/images/main-landing-image-1.jpg
  packages/web/public/assets/images/main-landing-image-2.jpg
  packages/web/public/assets/images/main-landing-image-3.jpg
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/Commons/Commons.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/index.scss
  packages/web/src/shared/components/Share/Share.tsx
  packages/web/src/shared/components/Share/index.scss
Labels: web

Merge
  packages/core/package.json
  packages/core/prisma/seed.ts
Labels: none

Fix join proposal imports
  packages/core/prisma/firestore/helpers/getEmail.ts
  packages/core/prisma/firestore/importers/importCommons.ts
  packages/core/prisma/firestore/importers/importFundingProposals.ts
  packages/core/prisma/firestore/importers/importUsers.ts
  packages/core/prisma/migrations/20210517055035_imported_from/migration.sql
  packages/core/prisma/models/proposals/Proposal.prisma
  packages/core/prisma/schema.prisma
  packages/core/prisma/seed.ts
  packages/core/prisma/seed/roles.ts
Labels: none
