Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

More Importers
  packages/core/package.json
  packages/core/prisma/firestore/firestore.ts
  packages/core/prisma/firestore/importers/importCards.ts
  packages/core/prisma/firestore/importers/importFundingProposals.ts
  packages/core/prisma/firestore/importers/importJoinProposals.ts
  packages/core/prisma/firestore/importers/paymentImporter.ts
  packages/core/prisma/migrations/20210518073408_ease_contstraints_migration/migration.sql
  packages/core/prisma/migrations/20210518083113_new_payment_type/migration.sql
  packages/core/prisma/models/all.prisma
  packages/core/prisma/result/.gitkeep
  packages/core/prisma/result/1621327212154/cardImports-errors.json
  packages/core/prisma/result/1621327212154/cardImports-results.json
  packages/core/prisma/result/1621327212154/joinProposalsImport-errors.json
  packages/core/prisma/result/1621327212154/joinProposalsImport-results.json
  packages/core/prisma/result/1621327212154/paymentImports-errors.json
  packages/core/prisma/result/1621327212154/paymentImports-results.json
  packages/core/prisma/schema.prisma
  packages/core/prisma/seed.ts
Labels: none

Fix all compilation errors and #489
  packages/core/prisma/migrations/20210518084902_user_intro_and_country_migration/migration.sql
  packages/core/prisma/migrations/20210518085528_/migration.sql
  packages/core/prisma/models/all.prisma
  packages/core/prisma/models/users/User.prisma
  packages/core/prisma/models/users/enums/UserCountry.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/services/users/commands/createUserCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Common/Mutations/CreateCommon.mutation.ts
  packages/graphql/src/schema/Types/Common/index.ts
  packages/graphql/src/schema/Types/Discussion/Extensions/DiscussionMessagesOwner.extension.ts
  packages/graphql/src/schema/Types/Discussion/Queries/GetDiscussions.query.ts
  packages/graphql/src/schema/Types/Proposals/Extensions/ProposalCommon.extension.ts
  packages/graphql/src/schema/Types/Proposals/Queries/GetProposals.query.ts
  packages/graphql/src/schema/Types/Proposals/index.ts
  packages/graphql/src/schema/Types/Users/Enums/UserCountry.enum.ts
  packages/graphql/src/schema/Types/Users/Mutations/CreateUser.mutation.ts
  packages/graphql/src/schema/Types/Users/Queries/GetUsers.query.ts
  packages/graphql/src/schema/Types/Users/Types/User.type.ts
  packages/graphql/src/schema/Types/Users/index.ts
Labels: none

Payments query
  packages/admin/src/components/tables/PaymentsTable.tsx
  packages/admin/src/pages/financials/payments/index.tsx
  packages/core/prisma/firestore/importers/paymentImporter.ts
  packages/core/prisma/result/1621332430889/cardImports-errors.json
  packages/core/prisma/result/1621332430889/cardImports-results.json
  packages/core/prisma/result/1621332430889/joinProposalsImport-errors.json
  packages/core/prisma/result/1621332430889/joinProposalsImport-results.json
  packages/core/prisma/result/1621332430889/paymentImports-errors.json
  packages/core/prisma/result/1621332430889/paymentImports-results.json
  packages/core/src/domain/validation/permissions.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Payments/enums/CirclePaymentStatus.enum.ts
  packages/graphql/src/schema/Types/Payments/enums/PaymentStatus.enum.ts
  packages/graphql/src/schema/Types/Payments/enums/PaymentType.enum.ts
  packages/graphql/src/schema/Types/Payments/index.ts
  packages/graphql/src/schema/Types/Payments/queries/GetPayments.Query.ts
  packages/graphql/src/schema/Types/Payments/type/Payment.type.ts
  packages/graphql/src/schema/index.ts
Labels: admin

updates and improvements
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalCountDown/ProposalCountDown.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/VotesComponent.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/Commons/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/components/Modal/Modal.tsx
  packages/web/src/shared/components/Share/Share.tsx
  packages/web/src/shared/components/Share/index.scss
Labels: web

Add admin permission for Naama
  packages/firebase/functions/src/core/graph/schema/users/types/User.type.ts
Labels: firebase

Navigation update
  packages/admin/src/components/Header.tsx
  packages/admin/src/components/Link.tsx
  packages/admin/src/pages/notifications/settings/index.tsx
  packages/graphql/src/schema/Types/Users/Queries/GenerateUserAuthToken.query.ts
Labels: admin

updates and improvements
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/AboutTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Landing/components/LandingContainer/Commons/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/components/Share/Share.tsx
  packages/web/src/shared/components/Share/index.scss
  packages/web/src/shared/constants/shared.tsx
Labels: web

fix diff calculation of quiet ending period
  packages/firebase/functions/src/moderation/business/hideContent.ts
  packages/firebase/functions/src/proposals/business/getNewCountdown.ts
Labels: firebase

WIP of the financials
  packages/admin/codegen.yml
  packages/admin/src/components/tables/PaymentsTable.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/financials/payments/index.tsx
  packages/core/src/domain/validation/permissions.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Payments/Extensions/PaymentCommon.extension.ts
  packages/graphql/src/schema/Types/Payments/Extensions/PaymentUser.extension.ts
  packages/graphql/src/schema/Types/Payments/Inputs/PaymentWhere.input.ts
  packages/graphql/src/schema/Types/Payments/index.ts
  packages/graphql/src/schema/Types/Payments/queries/GetPayments.Query.ts
Labels: admin

Payments page is done
  .eslintrc.json
  .gitignore
  packages/admin/src/components/tables/PaymentsTable.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/error/unauthorized.tsx
  packages/core/prisma/models/all.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/domain/clients/circle/types/Payment/PaymentSource.ts
  packages/core/src/services/discussions/index.ts
  packages/core/src/services/discussions/subscriptions/changeDiscussionSubscriptionTypeCommand.ts
  packages/core/src/services/events/commands/createEventNotificationCommand.ts
  packages/core/src/services/payments/commands/createOneTimePaymentCommand.ts
  packages/core/src/services/proposals/commands/join/finalizeJoinProposalCommand.ts
  packages/core/src/services/proposals/index.ts
  packages/core/src/services/subscriptions/command/createSubscriptionCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/plugins/complexityPlugin.ts
  packages/graphql/src/schema/Types/Common/Enums/FundingTypeEnum.ts
  packages/graphql/src/schema/Types/Discussion/Mutations/ChangeDiscussionSubscriptionType.mutation.ts
  packages/graphql/src/schema/Types/Events/Types/Event.type.ts
  packages/graphql/src/schema/Types/Notifications/Inputs/NotificationSettingsWhere.input.ts
  packages/graphql/src/schema/Types/Payments/Enums/CirclePaymentStatus.enum.ts
  packages/graphql/src/schema/Types/Payments/Enums/PaymentStatus.enum.ts
  packages/graphql/src/schema/Types/Payments/Enums/PaymentType.enum.ts
  packages/graphql/src/schema/Types/Payments/Queries/GetPayment.query.ts
  packages/graphql/src/schema/Types/Payments/Queries/GetPayments.query.ts
  packages/graphql/src/schema/Types/Payments/Types/Payment.type.ts
  packages/graphql/src/schema/Types/Payments/index.ts
  packages/graphql/src/schema/Types/Proposals/Mutations/CreateJoinProposal.mutation.ts
  packages/graphql/src/schema/Types/Reports/Types/Report.type.ts
  packages/queues/src/jobs/EventsQueue.ts
  packages/types/src/entities/IPaymentEntity.ts
  packages/types/src/entities/IProposalEntity.ts
  packages/types/tsconfig.json
  packages/web/.eslintrc.js
  packages/web/src/graphql/index.ts
  packages/web/src/graphql/schema.graphql
Labels: web, types, admin

Missed migration script
  packages/core/prisma/migrations/20210520045355_payment_fees_migration/migration.sql
Labels: none

v1.9.12-rc.2
  lerna.json
  packages/admin/package.json
  packages/core/package.json
  packages/firebase/functions/package.json
  packages/firebase/package.json
  packages/graphql/package.json
  packages/queues/package.json
  packages/types/package.json
  packages/web/package.json
  packages/worker/package.json
Labels: firebase, web, types, admin

Update user
  packages/admin/src/components/modals/SearchEverywhere.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/core/prisma/migrations/20210520120123_new_event_migration/migration.sql
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/domain/validation/permissions.ts
  packages/core/src/services/users/commands/updateUserCommand.ts
  packages/core/src/services/users/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Common/Inputs/CommonLink.input.ts
  packages/graphql/src/schema/Types/Common/Inputs/CommonWhere.input.ts
  packages/graphql/src/schema/Types/Common/Queries/GetCommons.query.ts
  packages/graphql/src/schema/Types/Common/index.ts
  packages/graphql/src/schema/Types/Payments/Queries/GetPayment.query.ts
  packages/graphql/src/schema/Types/Users/Mutations/UpdateUser.mutation.ts
  packages/graphql/src/schema/Types/Users/index.ts
Labels: admin

Make the search users query cooler
  packages/admin/src/components/Header.tsx
  packages/admin/src/components/modals/SearchEverywhere.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Users/Inputs/UserWhere.input.ts
  packages/graphql/src/schema/Types/Users/Queries/GetUsers.query.ts
Labels: admin

join the effort modal background updates ; resolves issue #488 ; some more minore changes
  packages/web/public/assets/images/purple-stains-join-the-effort-desktop.svg
  packages/web/public/assets/images/purple-stains-join-the-effort-mobile.svg
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/EmptyTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/JoinTheEffortModal/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/index.scss
Labels: web

Search
  packages/admin/src/components/SearchResult.tsx
  packages/admin/src/components/modals/SearchEverywhere.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/accounts/login.tsx
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Proposals/Inputs/ProposalWhere.input.ts
  yarn.lock
Labels: admin

common list pagination fix
  packages/web/package-lock.json
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
Labels: web

on page change scroll fix
  packages/web/src/shared/components/Header/Header.tsx
Labels: web

proposal modal countdown fix
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/store/actions.tsx
  packages/web/src/containers/Common/store/constants.tsx
  packages/web/src/containers/Common/store/reducer.tsx
Labels: web

issue 500: 2 and 4
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.scss
  packages/web/src/shared/components/Header/Header.tsx
Labels: web

add countdown to the latest proposals
  packages/web/public/icons/alarm-clock-gray.svg
  packages/web/public/icons/preview-approved.svg
  packages/web/public/icons/preview-declined.svg
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutSidebarComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/PreviewInformationList.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalCountDown/ProposalCountDown.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/VotesComponent.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
Labels: web

Loader
  packages/admin/package.json
  packages/admin/src/pages/_app.tsx
  packages/admin/src/pages/_document.tsx
  yarn.lock
Labels: admin

WIP
  packages/admin/src/pages/commons/index.tsx
  packages/core/prisma/models/payouts/Payout.prisma
  packages/core/prisma/models/payouts/PayoutApprover.prisma
  packages/core/prisma/models/payouts/enums/PayoutApproverResponse.prisma
  packages/core/prisma/models/payouts/enums/PayoutStatus.prisma
  packages/core/prisma/models/wires/Wire.prisma
Labels: admin

Update some common details
  packages/core/prisma/migrations/20210525122745_common_update_migration/migration.sql
  packages/core/prisma/migrations/20210525123750_common_updated/migration.sql
  packages/core/prisma/models/commons/Common.prisma
  packages/core/prisma/models/commons/CommonUpdate.prisma
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/services/authorization/common/canUpdateCommon.ts
  packages/core/src/services/authorization/index.ts
  packages/core/src/services/commons/command/updateCommonCommand.ts
  packages/core/src/services/commons/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Common/Mutations/CreateCommon.mutation.ts
  packages/graphql/src/schema/Types/Common/Mutations/UpdateCommon.mutation.ts
  packages/graphql/src/schema/Types/Common/index.ts
Labels: none

Update some common details - Part 2
  packages/core/src/domain/validation/index.ts
  packages/core/src/domain/validation/permissions.ts
  packages/core/src/domain/validation/schemas/Rule.schema.ts
  packages/core/src/services/commons/command/createCommonCommand.ts
  packages/core/src/services/commons/command/updateCommonCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Common/Inputs/CommonRule.input.ts
  packages/graphql/src/schema/Types/Common/Mutations/CreateCommon.mutation.ts
  packages/graphql/src/schema/Types/Common/Mutations/UpdateCommon.mutation.ts
  packages/graphql/src/schema/Types/Common/index.ts
Labels: none

User commons
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Users/Extensions/UserCommons.extension.ts
  packages/graphql/src/schema/Types/Users/Mutations/CreateUserNotificationToken.mutation.ts
  packages/graphql/src/schema/Types/Users/index.ts
Labels: none

handle quiet ending better wip
  packages/firebase/functions/src/moderation/business/hideContent.ts
  packages/firebase/functions/src/moderation/business/showContent.ts
  packages/firebase/functions/src/proposals/business/getNewCountdown.ts
Labels: firebase

Common Updates
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Common/Extensions/CommonUpdates.extension.ts
  packages/graphql/src/schema/Types/Common/Types/CommonUpdate.type.ts
  packages/graphql/src/schema/Types/Common/index.ts
Labels: none

Payouts WIP - Part 1
  packages/core/prisma/migrations/20210526053441_wire_migration/migration.sql
  packages/core/prisma/migrations/20210526053723_wire_payout_link/migration.sql
  packages/core/prisma/models/all.prisma
  packages/core/prisma/models/billing/BillingDetails.prisma
  packages/core/prisma/models/cards/Card.prisma
  packages/core/prisma/models/cards/enums/CardNetwork.prisma
  packages/core/prisma/models/payments/Payment.prisma
  packages/core/prisma/models/payments/enums/PaymentCircleStatus.prisma
  packages/core/prisma/models/payments/enums/PaymentStatus.prisma
  packages/core/prisma/models/payments/enums/PaymentType.prisma
  packages/core/prisma/models/payouts/Payout.prisma
  packages/core/prisma/models/users/User.prisma
  packages/core/prisma/schema.prisma
Labels: none

Payouts WIP - Part 2
  packages/core/prisma/migrations/20210526054310_funding_proposal_payout_link/migration.sql
  packages/core/prisma/migrations/20210526055828_bank_details/migration.sql
  packages/core/prisma/migrations/20210526070727_/migration.sql
  packages/core/prisma/migrations/20210526070844_/migration.sql
  packages/core/prisma/migrations/20210526070900_/migration.sql
  packages/core/prisma/migrations/20210526071644_/migration.sql
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/prisma/models/payouts/Payout.prisma
  packages/core/prisma/models/proposals/FundingProposal.prisma
  packages/core/prisma/models/wires/Wire.prisma
  packages/core/prisma/models/wires/WireBankDetails.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/domain/clients/circle/index.ts
  packages/core/src/domain/clients/circle/wires/_createWire.ts
  packages/core/src/domain/validation/schemas/BankAccount.schema.ts
  packages/core/src/services/wire/commands/createWireCommand.ts
  packages/core/src/services/wire/index.ts
Labels: none

preview information fix & history status fix
  packages/web/public/icons/alarm-clock-gray.svg
  packages/web/src/constants.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/index.scss
Labels: web

Payouts WIP - Part 3
  packages/core/src/domain/validation/index.ts
  packages/core/src/domain/validation/schemas/BankAccount.schema.ts
  packages/core/src/services/wire/commands/createWireBankDetailsCommand.ts
  packages/core/src/services/wire/index.ts
Labels: none

Production config and more users with permissions
  packages/admin/.env.production
  packages/admin/src/pages/error/unauthorized.tsx
  packages/firebase/functions/src/core/graph/schema/users/types/User.type.ts
Labels: firebase, admin

Payouts WIP - Part 4
  .run/GraphQL.run.xml
  packages/core/src/services/users/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
Labels: none

Payouts GraphQL WIP - Part 1
  packages/core/src/services/users/commands/createUserBillingDetailsCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Users/Mutations/CreateUserBillingDetails.mutation.ts
  packages/graphql/src/schema/Types/Users/Types/UserBillingDetails.type.ts
  packages/graphql/src/schema/Types/Users/index.ts
Labels: none

Payouts GraphQL WIP - Part 2 Working wire creation process
  packages/core/src/domain/clients/circle/client.ts
  packages/core/src/domain/clients/circle/index.ts
  packages/core/src/domain/validation/permissions.ts
  packages/core/src/domain/validation/schemas/BankAccount.schema.ts
  packages/core/src/index.ts
  packages/core/src/services/users/commands/createUserBillingDetailsCommand.ts
  packages/core/src/services/wires/commands/createWireBankDetailsCommand.ts
  packages/core/src/services/wires/commands/createWireCommand.ts
  packages/core/src/services/wires/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Users/Types/UserBillingDetails.type.ts
  packages/graphql/src/schema/index.ts
  packages/web/src/graphql/schema.graphql
Labels: web

Payouts GraphQL WIP - Part 2 Working wire creation process
  packages/graphql/src/schema/Shared/Interfaces/Address.interface.ts
  packages/graphql/src/schema/Types/Wires/index.ts
  packages/graphql/src/schema/Types/Wires/mutations/CreateWire.mutation.ts
  packages/graphql/src/schema/Types/Wires/mutations/CreateWireBankAccount.mutation.ts
  packages/graphql/src/schema/Types/Wires/type/Wire.type.ts
  packages/graphql/src/schema/Types/Wires/type/WireBankAccount.type.ts
Labels: none

WIP
  packages/core/src/domain/clients/circle/wires/_createWire.ts
  packages/core/src/services/wires/commands/createWireCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/schema/Types/Wires/mutations/CreateWireBankAccount.mutation.ts
Labels: none

Fix compilation
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/core/prisma/migrations/20210518084902_user_intro_and_country_migration/migration.sql
  packages/core/prisma/models/users/User.prisma
  packages/core/prisma/models/users/enums/UserCountry.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/domain/validation/schemas/BankAccount.schema.ts
  packages/core/src/services/users/commands/createUserBillingDetailsCommand.ts
  packages/core/src/services/users/commands/createUserCommand.ts
  packages/core/src/services/users/commands/updateUserCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Shared/Enums/Country.enum.ts
  packages/graphql/src/schema/Types/Payments/Queries/GetPayment.query.ts
  packages/graphql/src/schema/Types/Users/Enums/UserCountry.enum.ts
  packages/graphql/src/schema/Types/Users/Mutations/CreateUser.mutation.ts
  packages/graphql/src/schema/Types/Users/Mutations/CreateUserBillingDetails.mutation.ts
  packages/graphql/src/schema/Types/Users/Mutations/UpdateUser.mutation.ts
  packages/graphql/src/schema/Types/Users/Queries/GenerateUserAuthToken.query.ts
  packages/graphql/src/schema/Types/Users/Types/User.type.ts
  packages/graphql/src/schema/Types/Users/index.ts
  packages/graphql/src/schema/Types/Wires/mutations/CreateWireBankAccount.mutation.ts
  packages/graphql/src/schema/index.ts
Labels: admin

fix isExpired for moderated proposals
  packages/firebase/functions/src/moderation/business/hideContent.ts
  packages/firebase/functions/src/proposals/business/isExpired.ts
Labels: firebase

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*
