Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

web packages update
  yarn.lock
Labels: none

WIP
  packages/admin/package.json
  packages/admin/src/assets/sounds/notification.mp3
  packages/admin/src/graphql/index.ts
  packages/admin/src/graphql/schema.graphql
  packages/admin/src/graphql/schema.json
  packages/admin/src/pages/payouts/create/batch.tsx
  packages/admin/src/pages/payouts/details/[payoutId].tsx
  packages/admin/src/pages/payouts/index.tsx
  packages/firebase/functions/src/core/graph/generated/schema.graphql
  packages/firebase/functions/src/core/graph/generated/schema.types.ts
  packages/firebase/functions/src/core/graph/schema/payouts/enums/PayoutStatus.enum.ts
  packages/firebase/functions/src/core/graph/schema/payouts/extensions/PayoutProposals.extension.ts
  packages/firebase/functions/src/core/graph/schema/payouts/index.ts
  packages/firebase/functions/src/core/graph/schema/payouts/mutations/ExecutePayouts.mutation.ts
  packages/firebase/functions/src/core/graph/schema/payouts/queries/GetPayout.query.ts
  packages/firebase/functions/src/core/graph/schema/payouts/queries/GetPayouts.query.ts
  packages/firebase/functions/src/core/graph/schema/payouts/types/Payout.type.ts
  packages/firebase/functions/src/core/graph/schema/payouts/types/PayoutSecurity.type.ts
  packages/firebase/functions/src/core/graph/schema/users/types/User.type.ts
  yarn.lock
Labels: firebase, admin

Update dependencies
  packages/admin/.gitignore
  packages/admin/package.json
  packages/admin/src/pages/_app.tsx
  yarn.lock
Labels: admin

Modify action
  .github/workflows/firebase-lint-worflow.yml
  package.json
  packages/firebase/.eslintrc.json
  packages/firebase/functions/src/core/graph/schema/proposals/types/ProposalVote.type.ts
  packages/firebase/functions/src/core/graph/schema/statistics/statistics.ts
  packages/firebase/functions/src/core/graph/schema/users/extensions/UserSubscriptions.extension.ts
  packages/firebase/functions/src/core/graph/schema/users/types/User.type.ts
  packages/firebase/package.json
Labels: actions, firebase

add create payout permission
  packages/firebase/functions/src/core/graph/schema/users/types/User.type.ts
Labels: firebase

Fix tests
  packages/firebase/functions/src/util/tests/helpers/mockers/getUser.mocker.ts
Labels: firebase

Update endpoint
  packages/admin/.env
  packages/admin/.env.production
Labels: admin

pwa configuration removed
  packages/web/src/index.tsx
  packages/web/src/serviceWorker.ts
Labels: web

CM-1513-permissions for users (#18)
  packages/firebase/functions/src/core/domain/users/database/getUser.ts
  packages/firebase/functions/src/core/domain/users/database/getUserByEmail.ts
  packages/firebase/functions/src/core/domain/users/database/index.ts
  packages/firebase/functions/src/core/domain/users/database/updateUser.ts
  packages/firebase/functions/src/core/domain/users/types.ts
  packages/firebase/functions/src/index.ts
  packages/firebase/functions/src/notification/notification.ts
  packages/firebase/functions/src/permissions/business/addPermission.ts
  packages/firebase/functions/src/permissions/business/index.ts
  packages/firebase/functions/src/permissions/index.ts
  packages/firebase/functions/src/permissions/triggers/index.ts
  packages/firebase/functions/src/permissions/triggers/onCommonCreated.ts
  packages/firebase/functions/src/permissions/types.ts
  packages/firebase/functions/src/util/tests/helpers/mockers/getUser.mocker.ts
  packages/types/src/entities.ts
  packages/types/src/entities/IEventData.ts
  packages/types/src/entities/INotification.ts
  packages/types/src/entities/IPermission.ts
  packages/types/src/entities/IUserEntity.ts
Labels: firebase, types

notification for posts and member added (#55)
  packages/firebase/functions/src/event/event.ts
  packages/firebase/functions/src/event/index.ts
  packages/firebase/functions/src/notification/notification.ts
  packages/types/src/entities.ts
  packages/types/src/entities/IEvent.ts
  packages/types/src/entities/IEventData.ts
  packages/types/src/entities/INotification.ts
Labels: firebase, types

Web lint fixes (#79)
  packages/web/src/index.tsx
  packages/web/src/serviceWorker.ts
Labels: web

frontend hookup [WIP]
  packages/firebase/functions/src/core/domain/users/business/hasPermission.ts
  packages/firebase/functions/src/core/domain/users/business/index.ts
  packages/firebase/functions/src/discussion/database/index.ts
  packages/firebase/functions/src/discussion/database/moderateDiscussion.ts
  packages/firebase/functions/src/index.ts
  packages/firebase/functions/src/moderation/business/hideContent.ts
  packages/firebase/functions/src/moderation/business/updateEntity.ts
  packages/firebase/functions/src/moderation/index.ts
Labels: firebase

WIP
  packages/admin/src/components/layout/AuthenticationBasedLayout.tsx
  packages/admin/src/graphql/index.ts
  packages/admin/src/graphql/schema.graphql
  packages/admin/src/graphql/schema.json
  packages/admin/src/pages/dashboard/index.tsx
  packages/admin/src/pages/error/unauthorized.tsx
  packages/admin/src/pages/payouts/index.tsx
  packages/admin/src/pages/users/index.tsx
  packages/firebase/functions/src/core/domain/users/database/getUserByEmail.ts
  packages/firebase/functions/src/core/domain/users/database/getUsers.ts
  packages/firebase/functions/src/core/domain/users/database/index.ts
  packages/firebase/functions/src/core/domain/users/types.ts
  packages/firebase/functions/src/core/graph/schema/statistics/statistics.ts
  packages/firebase/functions/src/core/graph/schema/users/index.ts
  packages/firebase/functions/src/core/graph/schema/users/queries/getUsers.query.ts
  packages/firebase/functions/src/core/graph/schema/users/types/User.type.ts
  packages/firebase/functions/src/notification/notification.ts
Labels: firebase, admin

v1.9.9-alpha.1
  lerna.json
  packages/admin/package.json
  packages/firebase/functions/package.json
  packages/firebase/package.json
  packages/types/package.json
  packages/web/package.json
  packages/web/src/index.tsx
Labels: firebase, web, types, admin

some fixes
  packages/firebase/functions/src/core/domain/users/business/hasPermission.ts
  packages/firebase/functions/src/moderation/business/hideContent.ts
  packages/firebase/functions/src/moderation/business/updateEntity.ts
Labels: firebase

general structure added
  packages/web/src/containers/App/App.tsx
  packages/web/src/containers/App/PrivateRoute.tsx
  packages/web/src/containers/Auth/api/api.tsx
  packages/web/src/containers/Auth/api/index.tsx
  packages/web/src/containers/Auth/api/schemas.tsx
  packages/web/src/containers/Common/containers/CommoContainer/CommonContainer.tsx
  packages/web/src/containers/Common/containers/CommoContainer/index.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/index.tsx
  packages/web/src/containers/Common/containers/index.tsx
  packages/web/src/containers/Common/index.tsx
  packages/web/src/shared/components/Footer/Footer.tsx
  packages/web/src/shared/components/Footer/index.tsx
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/components/Header/index.tsx
  packages/web/src/shared/components/index.tsx
  packages/web/src/shared/constants/api.tsx
  packages/web/src/shared/constants/index.tsx
  packages/web/src/shared/constants/methods.tsx
  packages/web/src/shared/constants/routePaths.tsx
  packages/web/src/shared/constants/schemas.tsx
Labels: web

General components structure (#84)
  packages/web/src/containers/App/App.tsx
  packages/web/src/containers/App/PrivateRoute.tsx
  packages/web/src/containers/Auth/api/api.tsx
  packages/web/src/containers/Auth/api/index.tsx
  packages/web/src/containers/Auth/api/schemas.tsx
  packages/web/src/containers/Common/containers/CommoContainer/CommonContainer.tsx
  packages/web/src/containers/Common/containers/CommoContainer/index.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/index.tsx
  packages/web/src/containers/Common/containers/index.tsx
  packages/web/src/containers/Common/index.tsx
  packages/web/src/shared/components/Footer/Footer.tsx
  packages/web/src/shared/components/Footer/index.tsx
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/components/Header/index.tsx
  packages/web/src/shared/components/index.tsx
  packages/web/src/shared/constants/api.tsx
  packages/web/src/shared/constants/index.tsx
  packages/web/src/shared/constants/methods.tsx
  packages/web/src/shared/constants/routePaths.tsx
  packages/web/src/shared/constants/schemas.tsx
Labels: web

Create intentions API
  packages/firebase/functions/src/constants/collections.ts
  packages/firebase/functions/src/core/domain/intentions/database/addIntention.ts
  packages/firebase/functions/src/core/domain/intentions/database/index.ts
  packages/firebase/functions/src/core/domain/intentions/index.ts
  packages/firebase/functions/src/core/graph/index.ts
  packages/firebase/functions/src/core/graph/schema/intentions/enums/IntentionType.enum.ts
  packages/firebase/functions/src/core/graph/schema/intentions/index.ts
  packages/firebase/functions/src/core/graph/schema/intentions/inputs/CreateIntention.input.ts
  packages/firebase/functions/src/core/graph/schema/intentions/mutations/CreateIntention.mutation.ts
  packages/firebase/functions/src/core/graph/schema/intentions/type/Inetention.type.ts
  packages/types/src/entities.ts
  packages/types/src/entities/IIntentionEntity.ts
Labels: firebase, types

Create unauthorized intentions
  packages/admin/src/graphql/index.ts
  packages/admin/src/graphql/schema.graphql
  packages/admin/src/graphql/schema.json
  packages/admin/src/pages/error/unauthorized.tsx
Labels: admin

WIP
  packages/admin/public/assets/sounds/notification.mp3
  packages/admin/src/components/Header.tsx
  packages/admin/src/components/layout/AuthenticationBasedLayout.tsx
  packages/admin/src/components/tables/LatestEventsTable.tsx
  packages/admin/src/context/AuthContext.tsx
  packages/admin/src/context/PermissionsContext.tsx
  packages/admin/src/graphql/index.ts
  packages/admin/src/graphql/schema.graphql
  packages/admin/src/graphql/schema.json
  packages/admin/src/pages/commons/index.tsx
  packages/admin/src/pages/dashboard/index.tsx
  packages/admin/src/pages/error/unauthorized.tsx
  packages/admin/src/pages/events/details/[eventId].tsx
  packages/admin/src/pages/events/index.tsx
  packages/admin/src/pages/payouts/index.tsx
  packages/admin/src/pages/users/index.tsx
  packages/firebase/functions/src/core/graph/schema/events/extensions/EventUser.extension.ts
  packages/firebase/functions/src/core/graph/schema/events/index.ts
  packages/firebase/functions/src/core/graph/schema/events/queries/GetEvents.query.ts
  packages/firebase/functions/src/core/graph/schema/users/types/User.type.ts
Labels: firebase, admin

Resolves #96
  packages/admin/src/context/SettingContext.tsx
  packages/admin/src/pages/payouts/index.tsx
Labels: admin

moderating messages
  packages/firebase/functions/src/discussionMessage/database/index.ts
  packages/firebase/functions/src/discussionMessage/database/moderateDiscussionMessage.ts
  packages/firebase/functions/src/moderation/business/hideContent.ts
  packages/firebase/functions/src/moderation/business/updateEntity.ts
Labels: firebase

proposal moderation
  packages/firebase/functions/src/moderation/business/updateEntity.ts
  packages/firebase/functions/src/proposals/database/index.ts
  packages/firebase/functions/src/proposals/database/moderateProposal.ts
Labels: firebase

CM-1560 Add IP address to join request (#25)
  packages/firebase/functions/src/util/middleware/ipMiddleware.ts
  yarn.lock
Labels: firebase

Add the context to each graph request
  packages/firebase/functions/src/core/graph/index.ts
  packages/firebase/functions/src/core/graph/schema/intentions/mutations/CreateIntention.mutation.ts
  packages/firebase/functions/src/core/index.ts
Labels: firebase

Fix events user extension
  packages/admin/src/components/tables/LatestEventsTable.tsx
  packages/admin/src/graphql/index.ts
  packages/admin/src/pages/commons/index.tsx
  packages/firebase/functions/src/core/graph/schema/events/extensions/EventUser.extension.ts
Labels: firebase, admin

WIP
  packages/admin/src/components/Header.tsx
  packages/admin/src/graphql/index.ts
  packages/admin/src/pages/payments/index.tsx
  packages/admin/src/pages/proposals/index.tsx
  packages/firebase/functions/src/core/graph/schema/payments/types/payment.type.ts
  packages/firebase/functions/src/core/graph/schema/users/types/User.type.ts
Labels: firebase, admin

Payment Type and Query
  packages/firebase/functions/src/core/graph/index.ts
  packages/firebase/functions/src/core/graph/schema/payments/enums/PaymentCurrency.enum.ts
  packages/firebase/functions/src/core/graph/schema/payments/enums/PaymentSource.enum.ts
  packages/firebase/functions/src/core/graph/schema/payments/enums/PaymentStatus.enum.ts
  packages/firebase/functions/src/core/graph/schema/payments/enums/PaymentType.enum.ts
  packages/firebase/functions/src/core/graph/schema/payments/index.ts
  packages/firebase/functions/src/core/graph/schema/payments/queries/GetPayment.query.ts
  packages/firebase/functions/src/core/graph/schema/payments/types/PaymentAmount.type.ts
  packages/firebase/functions/src/core/graph/schema/payments/types/PaymentFees.type.ts
  packages/firebase/functions/src/core/graph/schema/payments/types/PaymentSoure.type.ts
  packages/firebase/functions/src/core/graph/schema/payments/types/payment.type.ts
Labels: firebase

Get payments and get hanging payment
  packages/firebase/functions/src/circlepay/payments/database/getPayments.ts
  packages/firebase/functions/src/core/graph/schema/payments/index.ts
  packages/firebase/functions/src/core/graph/schema/payments/queries/GetPayments.query.ts
Labels: firebase

show hidden content fix
  packages/firebase/functions/src/moderation/business/showContent.ts
  packages/firebase/functions/src/moderation/business/updateEntity.ts
  packages/firebase/functions/src/moderation/index.ts
Labels: firebase

change msg
  packages/firebase/functions/src/moderation/index.ts
Labels: firebase

commons api calls added
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/interfaces/CommonsStateType.tsx
  packages/web/src/containers/Common/interfaces/index.tsx
  packages/web/src/containers/Common/store/actions.tsx
  packages/web/src/containers/Common/store/constants.tsx
  packages/web/src/containers/Common/store/index.tsx
  packages/web/src/containers/Common/store/reducer.tsx
  packages/web/src/containers/Common/store/saga.tsx
  packages/web/src/containers/Common/store/selectors.tsx
  packages/web/src/shared/interfaces/State.tsx
  packages/web/src/shared/models/Common.tsx
  packages/web/src/shared/models/index.tsx
  packages/web/src/shared/utils/index.tsx
  packages/web/src/shared/utils/transformFirebaseDataToModel.tsx
  packages/web/src/store/reducer.tsx
  packages/web/src/store/saga.tsx
Labels: web

all notifications added
  packages/firebase/functions/src/discussion/database/moderateDiscussion.ts
  packages/firebase/functions/src/discussion/types.ts
  packages/firebase/functions/src/discussionMessage/types.ts
  packages/firebase/functions/src/event/event.ts
  packages/firebase/functions/src/moderation/business/hideContent.ts
  packages/firebase/functions/src/moderation/business/reportContent.ts
  packages/firebase/functions/src/moderation/business/updateEntity.ts
  packages/firebase/functions/src/moderation/index.ts
  packages/firebase/functions/src/notification/notification.ts
  packages/firebase/functions/src/proposals/database/moderateProposal.ts
  packages/types/src/entities.ts
  packages/types/src/entities/IModerationEntity.ts
  packages/types/src/entities/IProposalEntity.ts
Labels: firebase, types

Payments - WIP
  packages/admin/src/components/FullWidthLoader.tsx
  packages/admin/src/components/Header.tsx
  packages/admin/src/graphql/index.ts
  packages/admin/src/graphql/schema.graphql
  packages/admin/src/graphql/schema.json
  packages/admin/src/pages/_app.tsx
  packages/admin/src/pages/commons/index.tsx
  packages/admin/src/pages/error/unauthorized.tsx
  packages/admin/src/pages/payments/index.tsx
  packages/admin/src/pages/proposals/index.tsx
  packages/firebase/functions/src/core/graph/schema/payments/extensions/PaymentProposal.extension.ts
  packages/firebase/functions/src/core/graph/schema/payments/extensions/PaymentSubscription.extension.ts
  packages/firebase/functions/src/core/graph/schema/payments/extensions/PaymentUser.extension.ts
  packages/firebase/functions/src/core/graph/schema/payments/index.ts
  packages/firebase/functions/src/core/graph/schema/payments/queries/GetPayments.query.ts
  packages/firebase/functions/src/core/graph/schema/payments/types/Payment.type.ts
  packages/firebase/functions/src/core/graph/schema/payments/types/PaymentAmount.type.ts
Labels: firebase, admin

WIP
  packages/admin/src/components/modals/PaymentDetailsModal.tsx
  packages/admin/src/graphql/index.ts
  packages/admin/src/graphql/schema.graphql
  packages/admin/src/graphql/schema.json
  packages/admin/src/pages/_app.tsx
  packages/admin/src/pages/financials/cards/index.tsx
  packages/admin/src/pages/financials/payments/details/[paymentId].tsx
  packages/admin/src/pages/financials/payments/index.tsx
  packages/admin/src/pages/financials/payouts/create/batch.tsx
  packages/admin/src/pages/financials/payouts/details/[payoutId].tsx
  packages/admin/src/pages/financials/payouts/index.tsx
  packages/firebase/firestore/data.sh
  packages/firebase/functions/src/core/graph/generated/schema.graphql
  packages/firebase/functions/src/core/graph/generated/schema.types.ts
  packages/firebase/functions/src/core/graph/index.ts
  packages/firebase/functions/src/core/graph/schema/cards/enums/CardNetwork.enum.ts
  packages/firebase/functions/src/core/graph/schema/cards/index.ts
  packages/firebase/functions/src/core/graph/schema/cards/type/Card.type.ts
  packages/firebase/functions/src/core/graph/schema/cards/type/CardBillingDetails.type.ts
  packages/firebase/functions/src/core/graph/schema/cards/type/CardMetadata.type.ts
  packages/firebase/functions/src/core/graph/schema/cards/type/CardVerification.type.ts
  packages/firebase/functions/src/core/graph/schema/commons/extensions/CommonProposals.extension.ts
  packages/firebase/functions/src/core/graph/schema/events/queries/GetEvents.query.ts
  packages/firebase/functions/src/core/graph/schema/payments/extensions/PaymentCard.extension.ts
  packages/firebase/functions/src/core/graph/schema/payments/extensions/PaymentProposal.extension.ts
  packages/firebase/functions/src/core/graph/schema/payments/index.ts
  packages/firebase/functions/src/core/graph/schema/payments/types/PaymentAmount.type.ts
  packages/firebase/functions/src/proposals/database/getProposals.ts
Labels: firebase, admin

General commons api calls (#104)
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/interfaces/CommonsStateType.tsx
  packages/web/src/containers/Common/interfaces/index.tsx
  packages/web/src/containers/Common/store/actions.tsx
  packages/web/src/containers/Common/store/constants.tsx
  packages/web/src/containers/Common/store/index.tsx
  packages/web/src/containers/Common/store/reducer.tsx
  packages/web/src/containers/Common/store/saga.tsx
  packages/web/src/containers/Common/store/selectors.tsx
  packages/web/src/shared/interfaces/State.tsx
  packages/web/src/shared/models/Common.tsx
  packages/web/src/shared/models/index.tsx
  packages/web/src/shared/utils/index.tsx
  packages/web/src/shared/utils/transformFirebaseDataToModel.tsx
  packages/web/src/store/reducer.tsx
  packages/web/src/store/saga.tsx
Labels: web

Payment screen
  packages/admin/next.config.js
  packages/admin/package.json
  packages/admin/src/components/Centered.tsx
  packages/admin/src/components/Header.tsx
  packages/admin/src/components/modals/PaymentDetailsModal.tsx
  packages/admin/src/graphql/index.ts
  packages/admin/src/graphql/schema.graphql
  packages/admin/src/graphql/schema.json
  packages/admin/src/pages/development/playground.tsx
  packages/admin/src/pages/financials/payments/details/[paymentId].tsx
  packages/admin/src/pages/financials/payments/index.tsx
  packages/firebase/functions/src/core/graph/schema/payments/extensions/PaymentCommon.extension.ts
  packages/firebase/functions/src/core/graph/schema/payments/index.ts
  packages/firebase/functions/src/core/graph/schema/payments/queries/GetPayments.query.ts
  yarn.lock
Labels: firebase, admin

addressed pr comments WIP
  packages/firebase/functions/src/core/domain/users/business/hasPermission.ts
  packages/firebase/functions/src/discussion/database/getDiscussion.ts
  packages/firebase/functions/src/discussion/database/index.ts
  packages/firebase/functions/src/discussion/database/moderateDiscussion.ts
  packages/firebase/functions/src/discussion/database/updateDiscussion.ts
  packages/firebase/functions/src/discussion/triggers/onDiscussionCreated.ts
  packages/firebase/functions/src/discussionMessage/database/getDiscussionMessages.ts
  packages/firebase/functions/src/discussionMessage/database/index.ts
  packages/firebase/functions/src/discussionMessage/database/moderateDiscussionMessage.ts
  packages/firebase/functions/src/discussionMessage/database/updateDiscussionMessage.ts
  packages/firebase/functions/src/event/event.ts
  packages/firebase/functions/src/moderation/business/hideContent.ts
  packages/firebase/functions/src/moderation/business/reportContent.ts
  packages/firebase/functions/src/moderation/business/showContent.ts
  packages/firebase/functions/src/moderation/business/updateEntity.ts
  packages/firebase/functions/src/proposals/database/index.ts
  packages/firebase/functions/src/proposals/database/moderateProposal.ts
  packages/types/src/entities.ts
  packages/types/src/entities/IDiscussionEntity.ts
  packages/types/src/entities/IDiscussionMessage.ts
  packages/types/src/entities/IModerationEntity.ts
Labels: firebase, types

Stuff
  packages/admin/src/components/Centered.tsx
  packages/admin/src/pages/financials/payments/index.tsx
  packages/firebase/functions/src/core/graph/schema/payments/index.ts
  packages/firebase/functions/src/core/graph/schema/payments/mutations/UpdatePaymentData.mutation.ts
Labels: firebase, admin

Fix subscription revoke
  packages/firebase/functions/src/subscriptions/business/revokeMemberships.ts
Labels: firebase

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*
