Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

NaN fix for discusstion creation time ; wrong rejected/aprroved number of proposals (#795)
  packages/web/public/index.html
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsHistory/ProposalsHistory.tsx
  packages/web/src/shared/models/Discussion.tsx
  packages/web/src/shared/models/Proposals.tsx
Labels: web

Feature/login (#796)
  packages/web/src/containers/App/App.tsx
  packages/web/src/containers/Auth/store/saga.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/shared/components/Account/Account.tsx
  packages/web/src/shared/constants/shared.tsx
  packages/web/src/shared/providers/ApolloProvider.tsx
  packages/web/src/shared/utils/apollo.tsx
  packages/web/src/store/reducer.tsx
Labels: web

circle pay init
  packages/web/package.json
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestContribution.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestPayment.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/graphql/index.tsx
  packages/web/src/services/CirclePayService.ts
  packages/web/src/shared/assets/countries.ts
  packages/web/src/shared/constants/shared.tsx
  packages/web/src/shared/utils/apollo.tsx
  packages/web/src/shared/utils/request.tsx
  packages/web/src/shared/utils/transformFirebaseDataToModel.tsx
  yarn.lock
Labels: web

broken circle pay url
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestModal.tsx
  packages/web/src/shared/constants/shared.tsx
Labels: web

Feature/login (#805)
  packages/web/src/containers/Auth/store/saga.tsx
Labels: web

Feature/pending commons (#812)
  packages/web/src/containers/Common/containers/MyCommonsContainer/MyCommonsContainer.tsx
  packages/web/src/containers/Common/containers/MyCommonsContainer/index.scss
  packages/web/src/graphql/index.tsx
  packages/web/src/shared/models/Proposals.tsx
Labels: web

payment error debugging
  packages/web/package-lock.json
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestPayment.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/services/CirclePayService.ts
  packages/web/src/shared/utils/apollo.tsx
  packages/web/src/shared/utils/request.tsx
  packages/web/src/shared/utils/transformFirebaseDataToModel.tsx
Labels: web

logged-in user menu
  packages/web/src/shared/components/Account/Account.tsx
  packages/web/src/shared/components/Account/index.scss
Labels: web

getEncryptedData fix
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/src/services/CirclePayService.ts
Labels: web

vertical menu icon (three dots)
  packages/web/public/icons/vertical-menu.svg
  packages/web/src/shared/components/Account/Account.tsx
  packages/web/src/shared/components/Account/index.scss
Labels: web

missing color
  packages/web/src/constants.scss
Labels: web

make payment and creating a join request
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestBilling.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestCreating.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestPayment.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/MyCommonsContainer/MyCommonsContainer.tsx
  packages/web/src/containers/Common/containers/MyCommonsContainer/index.scss
  packages/web/src/graphql/index.tsx
  packages/web/src/services/CirclePayService.ts
  packages/web/src/shared/models/User.tsx
Labels: web

update User interface field 'uid' to 'id'. Now the user has inication for a common he is a member of
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/MyCommonsContainer/MyCommonsContainer.tsx
  packages/web/src/graphql/index.tsx
  packages/web/src/shared/models/User.tsx
Labels: web

Feature/pending commons (#817)
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalItemComponent.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/MyCommonsContainer/MyCommonsContainer.tsx
  packages/web/src/shared/models/User.tsx
Labels: web

Feature/pending commons (#818)
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
Labels: web

updates
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/EmptyTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestBilling.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestContribution.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestPayment.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalsComponent.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/services/CirclePayService.ts
  packages/web/src/shared/utils/shared.tsx
Labels: web

more updates
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestBilling.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestPayment.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalItemComponent.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/shared/utils/shared.tsx
Labels: web

some updates and bug fixes related to ProposalState
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestPayment.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsHistory/ProposalsHistory.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/shared/models/Proposals.tsx
Labels: web

updates
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestModal.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
Labels: web

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

rollback common list - initial commit
  package-lock.json
  package.json
  src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatComponent.tsx
  src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatMessage.tsx
  src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionItemComponent.tsx
  src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  src/containers/Common/store/actions.tsx
  src/containers/Common/store/api.tsx
  src/containers/Common/store/constants.tsx
  src/containers/Common/store/index.tsx
  src/containers/Common/store/reducer.tsx
  src/containers/Common/store/saga.tsx
  src/containers/Common/store/selectors.tsx
  src/containers/Landing/components/LandingContainer/Commons/Commons.tsx
  src/shared/interfaces/State.tsx
  src/shared/models/Discussion.tsx
  src/shared/models/DiscussionMessage.tsx
  src/shared/models/Proposals.tsx
  src/shared/models/User.tsx
  src/shared/utils/shared.tsx
  src/store/reducer.tsx
  src/store/saga.tsx
Labels: none

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

detail common rollback - WIP
  src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
Labels: none

disscussion tab fixe
  src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatMessage.tsx
  src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionItemComponent.tsx
  src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalItemComponent.tsx
  src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  src/containers/Common/store/saga.tsx
  src/graphql/index.tsx
  src/shared/models/User.tsx
Labels: none

proposals tab fixed
  src/containers/Common/components/CommonDetailContainer/PreviewInformationList/PreviewInformationList.tsx
  src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/index.scss
  src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalItemComponent.tsx
  src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
  src/shared/models/Proposals.tsx
Labels: none

login rollback wip
  src/containers/Auth/interface/AuthState.tsx
  src/containers/Auth/store/actions.tsx
  src/containers/Auth/store/constants.tsx
  src/containers/Auth/store/reducer.tsx
  src/containers/Auth/store/selectors.tsx
  src/containers/Login/components/LoginContainer/Connect/Connect.tsx
  src/containers/Login/components/LoginContainer/Connect/index.scss
  src/containers/Login/components/LoginContainer/Connect/index.tsx
  src/containers/Login/components/LoginContainer/UserDetails/UserDetails.tsx
  src/containers/Login/components/LoginContainer/UserDetails/index.scss
  src/containers/Login/components/LoginContainer/UserDetails/index.ts
  src/containers/Login/containers/LoginContainer/LoginContainer.tsx
  src/containers/Login/containers/LoginContainer/index.scss
  src/containers/Login/containers/LoginContainer/index.tsx
  src/shared/assets/countries.ts
Labels: none

auth flow rollback finished
  src/containers/Auth/store/saga.tsx
  src/shared/components/Account/Account.tsx
  src/shared/components/Header/Header.tsx
Labels: none

Create button component to create common
  src/containers/Common/components/CommonListContainer/CreateCommonButton/CreateCommonButton.tsx
  src/containers/Common/components/CommonListContainer/CreateCommonButton/index.scss
  src/containers/Common/components/CommonListContainer/CreateCommonButton/index.tsx
  src/containers/Common/components/CommonListContainer/index.tsx
Labels: none

Display create common button on common list
  src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  src/containers/Common/containers/CommonListContainer/index.scss
Labels: none

Update button sizes
  src/containers/Common/components/CommonListContainer/CreateCommonButton/CreateCommonButton.tsx
Labels: none

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*
