Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*

Compilable
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
Labels: none

Small change
  packages/core/src/domain/toolkits/FirebaseToolkit.ts
  packages/graphql/src/generated/nexus-typegen.ts
Labels: none

updates
  packages/web/src/constants.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/JoinTheEffortModal/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/components/Content.tsx
  packages/web/src/shared/components/Footer/index.scss
  packages/web/src/shared/components/Modal/index.scss
Labels: web

improvements
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
  packages/web/src/containers/Common/containers/CommonListContainer/index.scss
  packages/web/src/shared/components/Modal/index.scss
Labels: web

New notification types, small changes
  packages/core/package.json
  packages/core/prisma/models/notifications/enums/NotificationType.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/events/index.ts
Labels: none

editing docker files for local compose
  Dockerfile
  docker-compose.yaml
  entrypoint.sh
Labels: none

Fix prisma compiled client version problems between packages
  packages/core/prisma/migrations/20210618063320_new_notification_type/migration.sql
  packages/core/src/index.ts
  packages/worker/src/events/index.ts
Labels: none

gh issues fix
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatComponent.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/assets/fonts/Assistant-Bold.ttf
  packages/web/src/shared/components/Share/Share.tsx
  packages/web/src/shared/components/Share/index.scss
  packages/web/src/shared/utils/shared.tsx
Labels: web

604 fix
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/AboutTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
Labels: web

599 fix
  packages/web/src/shared/components/Share/index.scss
Labels: web

609 fix
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
Labels: web

570 fix
  packages/web/src/shared/hooks/CalculateReadMoreLenght.tsx
Labels: web

gh issues fixes
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/Commons/Commons.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/components/Content.tsx
  packages/web/src/shared/components/Footer/index.scss
  packages/web/src/shared/components/Share/index.scss
Labels: web

570,580,561 fix
  packages/web/public/icons/social-share/facebook-h.svg
  packages/web/public/icons/social-share/linkedin-h.svg
  packages/web/public/icons/social-share/telegram-h.svg
  packages/web/public/icons/social-share/twitter-h.svg
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalItemComponent.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
Labels: web

562 fix
  packages/web/src/containers/Common/components/CommonDetailContainer/JoinTheEffortModal/index.scss
Labels: web

693 fix
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/index.scss
Labels: web

scroll fix
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/index.scss
Labels: web

671 fix
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
Labels: web

580 fix
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/shared/components/Footer/index.scss
Labels: web

resolves gh issues
  packages/web/src/containers/Common/components/CommonDetailContainer/JoinTheEffortModal/index.scss
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/assets/fonts/Assistant-Light.ttf
Labels: web

general state fixes after merge
  packages/web/src/containers/Common/interfaces/CommonsStateType.tsx
  packages/web/src/containers/Common/store/index.tsx
  packages/web/src/context/AuthContext.tsx
  packages/web/src/context/PermissionsContext.tsx
  packages/web/src/context/UserContext.tsx
  packages/web/src/context/index.ts
  packages/web/src/graphql/index.tsx
  packages/web/src/index.tsx
  packages/web/src/providers/ApolloProvider.tsx
  packages/web/src/providers/AuthenticationProvider.tsx
  packages/web/src/shared/utils/shared.tsx
  packages/web/src/store/index.tsx
  packages/web/src/store/reducer.tsx
  packages/web/src/store/saga.tsx
  packages/web/src/store/store.tsx
Labels: web

gh issues resolves
  packages/web/src/constants.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/JoinTheEffortModal/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
Labels: web

models fix
  packages/web/package-lock.json
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutSidebarComponent/AboutSidebarComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/AboutTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatMessage.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalItemComponent.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/store/api.tsx
  packages/web/src/containers/Common/store/saga.tsx
  packages/web/src/graphql/index.tsx
  packages/web/src/index.tsx
  packages/web/src/shared/context/AuthContext.tsx
  packages/web/src/shared/context/PermissionsContext.tsx
  packages/web/src/shared/context/UserContext.tsx
  packages/web/src/shared/context/index.tsx
  packages/web/src/shared/hooks/index.tsx
  packages/web/src/shared/hooks/useApollo.tsx
  packages/web/src/shared/models/Common.tsx
  packages/web/src/shared/models/Discussion.tsx
  packages/web/src/shared/models/DiscussionMessage.tsx
  packages/web/src/shared/models/Proposals.tsx
  packages/web/src/shared/models/Report.tsx
  packages/web/src/shared/models/User.tsx
  packages/web/src/shared/providers/ApolloProvider.tsx
  packages/web/src/shared/providers/AuthenticationProvider.tsx
  packages/web/src/shared/providers/index.tsx
  packages/web/src/shared/utils/apollo.tsx
  packages/web/src/shared/utils/index.tsx
Labels: web

common detail move to graphql wip
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/PreviewInformationList.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/store/api.tsx
  packages/web/src/containers/Common/store/saga.tsx
  packages/web/src/graphql/index.tsx
  packages/web/src/shared/models/Discussion.tsx
  packages/web/src/shared/models/Proposals.tsx
  packages/web/src/shared/utils/shared.tsx
Labels: web

web migration to graphql finished without disccusions
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/store/actions.tsx
  packages/web/src/containers/Common/store/api.tsx
  packages/web/src/containers/Common/store/constants.tsx
  packages/web/src/containers/Common/store/index.tsx
  packages/web/src/containers/Common/store/reducer.tsx
  packages/web/src/containers/Common/store/saga.tsx
  packages/web/src/containers/Common/store/selectors.tsx
  packages/web/src/containers/Landing/components/LandingContainer/Commons/Commons.tsx
  packages/web/src/shared/interfaces/State.tsx
  packages/web/src/shared/utils/shared.tsx
  packages/web/src/store/reducer.tsx
  packages/web/src/store/saga.tsx
Labels: web

issues #561 and #580
  packages/web/src/constants.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/shared/components/Share/index.scss
  packages/web/src/shared/constants/shared.tsx
Labels: web

resolves issue #580
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/EmptyTabComponent.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
Labels: web

Export of verifyIdToken() from FirebaseToolkit (#725)
  packages/core/src/domain/toolkits/FirebaseToolkit.ts
  packages/graphql/src/context/index.ts
Labels: none

add commonId attribute to discussions (#720)
  packages/admin/src/core/graphql/index.ts
  packages/core/prisma/models/discussions/Discussion.prisma
  packages/graphql/src/schema/Types/Discussion/Types/Discussion.type.ts
Labels: admin

possible Roie lint fix
  packages/web/src/shared/models/index.tsx
Labels: web

remove yarn lint from hooks:precommit
  packages/web/package.json
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/shared/utils/request.tsx
  packages/web/src/shared/utils/transformFirebaseDataToModel.tsx
Labels: web

batch II init
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestBilling.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestContribution.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestCreated.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestCreating.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestIntroduce.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestPayment.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestProgressBar.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestRules.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestWelcome.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/index.tsx
  packages/web/src/containers/Login/components/LoginContainer/Connect/Connect.tsx
  packages/web/src/containers/Login/components/LoginContainer/Connect/index.scss
  packages/web/src/containers/Login/components/LoginContainer/Connect/index.tsx
  packages/web/src/containers/Login/components/LoginContainer/Details/Details.tsx
  packages/web/src/containers/Login/components/LoginContainer/Details/index.scss
  packages/web/src/containers/Login/components/LoginContainer/Details/index.ts
  packages/web/src/containers/Login/containers/LoginContainer/LoginContainer.tsx
  packages/web/src/containers/Login/containers/LoginContainer/index.scss
  packages/web/src/containers/Login/containers/LoginContainer/index.tsx
Labels: web

updates
  packages/web/public/icons/alarm-clock-gray.svg
  packages/web/public/icons/discussions.svg
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/ContactUs.tsx
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/components/Header/index.scss
  packages/web/src/shared/components/SocialLogin/SocialLoginButton.tsx
  packages/web/src/shared/components/SocialLogin/index.scss
  packages/web/src/shared/components/SocialLogin/styles.tsx
  packages/web/src/shared/constants/routePaths.tsx
  packages/web/src/shared/constants/shared.tsx
Labels: web

updates
  packages/web/public/assets/images/people-pyramid.svg
  packages/web/public/icons/socia-login/apple.svg
  packages/web/public/icons/socia-login/google.svg
  packages/web/public/icons/social-login/apple.svg
  packages/web/public/icons/social-login/facebook.svg
  packages/web/public/icons/social-login/google.svg
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/EmptyTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
Labels: web

membership modal mobile styles improvements
  packages/web/src/containers/Common/components/CommonDetailContainer/JoinTheEffortModal/JoinTheEffortModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/JoinTheEffortModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/JoinTheEffortModal/index.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/index.tsx
  packages/web/src/shared/components/Modal/index.scss
Labels: web

auth logic refactoring
  packages/web/src/containers/Auth/store/actions.tsx
  packages/web/src/containers/Auth/store/constants.tsx
  packages/web/src/containers/Auth/store/reducer.tsx
  packages/web/src/containers/Auth/store/saga.tsx
  packages/web/src/containers/Auth/store/selectors.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/shared/components/Account/Account.tsx
  packages/web/src/shared/models/User.tsx
  packages/web/src/shared/utils/request.tsx
  packages/web/src/shared/utils/transformFirebaseDataToModel.tsx
Labels: web

Create deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

back to common button functionality
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/EmptyTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestCreated.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestModal.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
Labels: web
