Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*

loading loader added
  packages/web/public/index.html
  packages/web/src/index.tsx
Labels: web

loading loader added
  packages/web/src/index.tsx
Labels: web

v1.9.12
  lerna.json
  packages/admin/package.json
  packages/core/package.json
  packages/firebase/functions/package.json
  packages/firebase/package.json
  packages/graphql/package.json
  packages/queues/package.json
  packages/types/package.json
  packages/web/package.json
  packages/worker/package.json
Labels: firebase, web, types, admin

Payouts Admin Page - Part 1
  packages/admin/codegen.yml
  packages/admin/src/components/Header.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/financials/payouts/index.tsx
  packages/core/prisma/result/1622179546879/cardImports-errors.json
  packages/core/prisma/result/1622179546879/cardImports-results.json
  packages/core/prisma/result/1622179546879/joinProposalsImport-errors.json
  packages/core/prisma/result/1622179546879/joinProposalsImport-results.json
  packages/core/prisma/result/1622179546879/paymentImports-errors.json
  packages/core/prisma/result/1622179546879/paymentImports-results.json
  packages/core/prisma/seed/roles.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Proposals/Inputs/FundingProposalWhere.input.ts
  packages/graphql/src/schema/Types/Proposals/Inputs/JoinProposalWhere.input.ts
  packages/graphql/src/schema/Types/Proposals/Queries/GetProposals.query.ts
  packages/graphql/src/schema/Types/Proposals/index.ts
Labels: admin

Payouts Admin Page - Part 2
  packages/admin/src/components/HasPermission.tsx
  packages/admin/src/components/Header.tsx
  packages/admin/src/pages/financials/payouts/index.tsx
  packages/core/src/domain/validation/permissions.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Payouts/Enums/PayoutStatus.enum.ts
  packages/graphql/src/schema/Types/Payouts/Queries/GetPayouts.query.ts
  packages/graphql/src/schema/Types/Payouts/Types/Payout.type.ts
  packages/graphql/src/schema/Types/Payouts/index.ts
  packages/graphql/src/schema/index.ts
Labels: admin

Payout creation is working
  packages/core/prisma/migrations/20210528071120_user_payout_link/migration.sql
  packages/core/prisma/migrations/20210528072320_/migration.sql
  packages/core/prisma/migrations/20210528073034_new_events/migration.sql
  packages/core/prisma/migrations/20210528092508_only_one_user_payout_approver/migration.sql
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/prisma/models/payouts/Payout.prisma
  packages/core/prisma/models/payouts/PayoutApprover.prisma
  packages/core/prisma/models/proposals/enums/ProposalFundingState.prisma
  packages/core/prisma/models/users/User.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/domain/validation/permissions.ts
  packages/core/src/index.ts
  packages/core/src/services/index.ts
  packages/core/src/services/payouts/command/createPayoutApproverCommand.ts
  packages/core/src/services/payouts/command/createPayoutCommand.ts
  packages/core/src/services/payouts/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Payouts/Mutations/CreatePayout.mutation.ts
  packages/graphql/src/schema/Types/Payouts/index.ts
Labels: none

Payout approval is working
  packages/core/prisma/migrations/20210528095638_/migration.sql
  packages/core/prisma/models/payouts/PayoutApprover.prisma
  packages/core/prisma/result/1622195790182/cardImports-errors.json
  packages/core/prisma/result/1622195790182/cardImports-results.json
  packages/core/prisma/result/1622195790182/joinProposalsImport-errors.json
  packages/core/prisma/result/1622195790182/joinProposalsImport-results.json
  packages/core/prisma/result/1622195790182/paymentImports-errors.json
  packages/core/prisma/result/1622195790182/paymentImports-results.json
  packages/core/prisma/schema.prisma
  packages/core/src/services/payouts/command/approvePayoutCommand.ts
  packages/core/src/services/payouts/command/createPayoutApproverCommand.ts
  packages/core/src/services/payouts/command/createPayoutCommand.ts
  packages/core/src/services/payouts/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Payouts/Enums/PayoutApproverResponse.enum.ts
  packages/graphql/src/schema/Types/Payouts/Mutations/ApprovePayout.mutation.ts
  packages/graphql/src/schema/Types/Payouts/Types/PayoutApprover.type.ts
  packages/graphql/src/schema/Types/Payouts/index.ts
  packages/worker/src/processors/EventsWorker.ts
Labels: none

WIP
  packages/admin/codegen.yml
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/financials/payouts/create/batch.tsx
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Proposals/Inputs/ProposalWhere.input.ts
Labels: admin

User wires and billing details
  packages/core/src/domain/validation/permissions.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Users/Extensions/UserBillingDetails.extension.ts
  packages/graphql/src/schema/Types/Users/Extensions/UserWires.extension.ts
Labels: none

WIP
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/financials/payouts/create/batch.tsx
  packages/core/prisma/migrations/20210531062017_/migration.sql
  packages/core/prisma/models/billing/BillingDetails.prisma
  packages/core/prisma/models/wires/Wire.prisma
  packages/core/prisma/result/1622442007307/cardImports-errors.json
  packages/core/prisma/result/1622442007307/cardImports-results.json
  packages/core/prisma/result/1622442007307/joinProposalsImport-errors.json
  packages/core/prisma/result/1622442007307/joinProposalsImport-results.json
  packages/core/prisma/result/1622442007307/paymentImports-errors.json
  packages/core/prisma/result/1622442007307/paymentImports-results.json
  packages/core/prisma/schema.prisma
  packages/core/src/services/authorization/userCan.ts
  packages/core/src/services/cards/commands/createCardCommand.ts
  packages/core/src/services/wires/commands/createWireCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Users/index.ts
  packages/graphql/src/schema/Types/Wires/Extensions/WireUser.extension.ts
  packages/graphql/src/schema/Types/Wires/Inputs/WireWhere.input.ts
  packages/graphql/src/schema/Types/Wires/Queries/GetWires.query.ts
  packages/graphql/src/schema/Types/Wires/index.ts
  packages/graphql/src/schema/Types/Wires/mutations/CreateWire.mutation.ts
Labels: admin

Payout creation flow is working
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/pages/financials/payouts/create/batch.tsx
Labels: admin

WIP
  packages/admin/codegen.yml
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/financials/index.tsx
  packages/admin/src/pages/financials/payouts/confirm.tsx
  packages/admin/src/pages/financials/payouts/create/batch.tsx
  packages/admin/src/pages/financials/payouts/details/[payoutId].tsx
  packages/admin/src/pages/financials/payouts/index.tsx
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Payouts/Extensions/PayoutProposals.extension.ts
  packages/graphql/src/schema/Types/Payouts/Inputs/PayoutStatusFilter.input.ts
  packages/graphql/src/schema/Types/Payouts/Inputs/PayoutWhere.input.ts
  packages/graphql/src/schema/Types/Payouts/Queries/GetPayout.query.ts
  packages/graphql/src/schema/Types/Payouts/Queries/GetPayouts.query.ts
  packages/graphql/src/schema/Types/Payouts/index.ts
Labels: admin

use new loader
  packages/web/public/icons/loader.svg
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/index.scss
  packages/web/src/shared/components/Loader/Loader.tsx
  packages/web/src/shared/components/Loader/index.scss
Labels: web

fix test
  packages/firebase/functions/src/proposals/business/isExpired.ts
Labels: firebase

fix moderation typing
  packages/types/src/entities/IModeration.ts
Labels: types

add TEST flag to emails regarding payments
  packages/firebase/functions/src/notification/email/templates/adminFundingRequestAccepted.ts
  packages/firebase/functions/src/notification/email/templates/adminJoinedButFailedPayment.ts
  packages/firebase/functions/src/notification/email/templates/approvePayout.ts
  packages/firebase/functions/src/notification/helpers/index.ts
Labels: firebase

The payout saga is coming to an end
  packages/core/prisma/migrations/20210601054510_circle_payout_link_migration/migration.sql
  packages/core/prisma/models/payouts/Payout.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/domain/clients/circle/index.ts
  packages/core/src/domain/clients/circle/payouts/_createPayout.ts
  packages/core/src/domain/clients/circle/payouts/_getPayout.ts
  packages/core/src/services/payments/commands/updatePaymentStatusCommand.ts
  packages/core/src/services/payouts/command/approvePayoutCommand.ts
  packages/core/src/services/payouts/command/executePayoutCommand.ts
  packages/core/src/services/payouts/command/updatePayoutStatusCommand.ts
  packages/core/src/services/payouts/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Payouts/Enums/PayoutApproverResponse.enum.ts
  packages/graphql/src/schema/Types/Users/Queries/GenerateUserAuthToken.query.ts
  packages/queues/src/constants/Queues.ts
  packages/queues/src/index.ts
  packages/queues/src/jobs/PayoutsQueue.ts
  packages/queues/src/jobs/index.ts
  packages/worker/src/index.ts
  packages/worker/src/processors/PayoutsWorker.ts
Labels: none

String filter for the commons id
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Common/Inputs/CommonWhere.input.ts
Labels: none

images compressed
  packages/web/public/assets/images/iphone-full-1.png
  packages/web/public/assets/images/iphone-full-2.png
  packages/web/public/assets/images/iphone-full-3.png
  packages/web/public/assets/images/iphone-half-1.png
  packages/web/public/assets/images/iphone-half-2.png
  packages/web/public/assets/images/iphone-half-3.png
  packages/web/public/assets/images/iphone.png
  packages/web/public/assets/images/join.jpg
  packages/web/public/assets/images/main-landing-image-1.jpg
  packages/web/public/assets/images/main-landing-image-2.jpg
  packages/web/public/assets/images/main-landing-image-3.jpg
Labels: web

add test flag to dev env also
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedForeign.ts
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedInsufficientFunds.ts
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedIsraeli.ts
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedUnknown.ts
  packages/firebase/functions/src/notification/helpers/index.ts
Labels: firebase

Roles UI
  packages/admin/codegen.yml
  packages/admin/package.json
  packages/admin/src/components/Header.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/roles/details/[roleName].tsx
  packages/admin/src/pages/roles/index.tsx
  packages/core/prisma/seed/roles.ts
  packages/core/src/domain/validation/permissions.ts
  packages/core/src/index.ts
  packages/core/src/services/commons/command/addCommonMemberRoleCommand.ts
  packages/core/src/services/commons/command/createCommonCommand.ts
  packages/core/src/services/roles/commands/createRoleCommand.ts
  packages/core/src/services/roles/commands/editRoleCommand.ts
  packages/core/src/services/roles/commands/users/addUserToRoleCommand.ts
  packages/core/src/services/roles/commands/users/removeUserFromRoleCommand.ts
  packages/core/src/services/roles/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/index.ts
  packages/graphql/src/schema/Types/Roles/Extensions/RoleUsers.extension.ts
  packages/graphql/src/schema/Types/Roles/Inputs/RoleWhereUnique.input.ts
  packages/graphql/src/schema/Types/Roles/Queries/GetRole.query.ts
  packages/graphql/src/schema/Types/Roles/index.ts
  packages/graphql/src/schema/Types/Settings/Queries/GetSettings.query.ts
  packages/graphql/src/schema/Types/Settings/Types/Settings.type.ts
  packages/graphql/src/schema/Types/Settings/index.ts
  packages/graphql/src/schema/index.ts
  packages/types/src/entities/IPermission.ts
  yarn.lock
Labels: types, admin

proposal history mobile font size fix
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsHistory/index.scss
Labels: web

Use the correct ID of the wire when creating the payout
  packages/core/src/services/payouts/command/executePayoutCommand.ts
Labels: none

Payout status update is not scheduled
  packages/core/src/services/payouts/command/executePayoutCommand.ts
  packages/core/src/services/payouts/command/updatePayoutStatusCommand.ts
Labels: none

Fix the cyclic dependency
  packages/core/src/domain/constants/Queues.ts
  packages/core/src/domain/constants/index.ts
  packages/core/src/domain/jobs/EventsQueue.ts
  packages/core/src/domain/jobs/NotificationsQueue.ts
  packages/core/src/domain/jobs/PaymentsQueue.ts
  packages/core/src/domain/jobs/PayoutsQueue.ts
  packages/core/src/domain/jobs/ProposalsQueue.ts
  packages/core/src/domain/jobs/VotesQueue.ts
  packages/core/src/domain/jobs/index.ts
  packages/core/src/index.ts
  packages/core/src/services/events/commands/createEventCommand.ts
  packages/core/src/services/index.ts
  packages/core/src/services/notifications/command/createNotificationCommand.ts
  packages/core/src/services/payments/commands/createPaymentCommand.ts
  packages/core/src/services/payments/commands/process/processSubscriptionPayment.ts
  packages/core/src/services/payments/commands/updatePaymentStatusCommand.ts
  packages/core/src/services/payments/index.ts
  packages/core/src/services/payouts/command/approvePayoutCommand.ts
  packages/core/src/services/payouts/command/executePayoutCommand.ts
  packages/core/src/services/payouts/command/updatePayoutStatusCommand.ts
  packages/core/src/services/proposals/commands/funding/createFundingProposalCommand.ts
  packages/core/src/services/proposals/commands/join/createJoinProposalCommand.ts
  packages/core/src/services/subscriptions/index.ts
  packages/core/src/services/votes/commands/createVoteCommand.ts
  packages/core/tsconfig.json
  packages/queues/package.json
  packages/queues/src/constants/Queues.ts
  packages/queues/src/index.ts
  packages/queues/tsconfig.json
  packages/worker/package.json
  packages/worker/src/events/onCommonCreated.ts
  packages/worker/src/events/onUserCreated.ts
  packages/worker/src/index.ts
  packages/worker/src/processors/EventsWorker.ts
  packages/worker/src/processors/NotificationsWorker.ts
  packages/worker/src/processors/PaymentsWorker.ts
  packages/worker/src/processors/PayoutsWorker.ts
  packages/worker/src/processors/ProposalsWorker.ts
  packages/worker/src/processors/SubscriptionWorker.ts
  packages/worker/src/queues.ts
Labels: none

Oooppss
  packages/core/src/domain/jobs/SubscriptionsQueue.ts
Labels: none

Do not allow the payout to be double approved, or after executed
  packages/core/src/services/payouts/command/approvePayoutCommand.ts
Labels: none

Way to get the payouts that pend your approval
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Shared/Inputs/Paginate.input.ts
  packages/graphql/src/schema/Types/Payouts/Inputs/PayoutApproverFilter.input.ts
  packages/graphql/src/schema/Types/Payouts/Inputs/PayoutApproversWhere.input.ts
  packages/graphql/src/schema/Types/Payouts/Inputs/PayoutWhere.input.ts
  packages/graphql/src/schema/Types/Payouts/Queries/GetPayouts.query.ts
  packages/graphql/src/schema/Types/Payouts/index.ts
Labels: none

Fix compilation
  packages/admin/codegen.yml
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/graphql/src/index.ts
  packages/graphql/src/schema/Types/Payouts/Extensions/PayoutProposals.extension.ts
Labels: admin

Return the port
  packages/graphql/src/index.ts
Labels: none

Update packages/firebase/functions/src/notification/helpers/index.ts
  packages/firebase/functions/src/notification/helpers/index.ts
Labels: firebase

remove space from title
  packages/firebase/functions/src/notification/email/templates/adminFundingRequestAccepted.ts
  packages/firebase/functions/src/notification/email/templates/adminJoinedButFailedPayment.ts
  packages/firebase/functions/src/notification/email/templates/approvePayout.ts
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedForeign.ts
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedInsufficientFunds.ts
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedIsraeli.ts
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedUnknown.ts
Labels: firebase

chat join effort button added
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
Labels: web

chat join effort button added
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
Labels: web

Approve payout
  packages/admin/codegen.yml
  packages/admin/public/assets/img/approve.png
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/dashboard/index.tsx
  packages/admin/src/pages/events/details/[eventId].tsx
  packages/admin/src/pages/financials/payouts/[payoutId]/approve.tsx
  packages/admin/src/pages/financials/payouts/confirm.tsx
  packages/admin/src/pages/financials/payouts/details/[payoutId].tsx
  packages/admin/src/pages/notifications/templates/index.tsx
  packages/core/prisma/migrations/20210603085538_/migration.sql
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/services/payouts/command/createPayoutCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/index.ts
  packages/graphql/src/schema/Types/Payouts/Extensions/PayoutWire.extension.ts
  packages/graphql/src/schema/Types/Payouts/Inputs/PayoutWhere.input.ts
  packages/graphql/src/schema/Types/Payouts/Queries/GetPayouts.query.ts
  packages/graphql/src/schema/Types/Payouts/index.ts
Labels: admin

Approve payout
  packages/admin/src/pages/financials/payouts/[payoutId]/approve.tsx
Labels: admin

Report proposal
  packages/core/prisma/migrations/20210604062345_/migration.sql
  packages/core/prisma/models/discussions/DiscussionMessage.prisma
  packages/core/prisma/models/proposals/Proposal.prisma
  packages/core/prisma/models/reports/Report.prisma
  packages/core/prisma/models/reports/enums/ReportFlag.prisma
  packages/core/prisma/models/reports/enums/ReportType.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/services/reports/commands/actOnReportCommand.ts
  packages/core/src/services/reports/commands/createReportCommand.ts
  packages/core/src/services/reports/queries/getUserReportActingAuthority.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Discussion/Enums/DiscussionMessageFlag.enum.ts
  packages/graphql/src/schema/Types/Discussion/Extensions/DiscussionMessages.extension.ts
  packages/graphql/src/schema/Types/Discussion/Types/DiscussionMessage.type.ts
  packages/graphql/src/schema/Types/Discussion/index.ts
  packages/graphql/src/schema/Types/Proposals/Queries/GetProposals.query.ts
  packages/graphql/src/schema/Types/Proposals/Types/Proposal.type.ts
  packages/graphql/src/schema/Types/Reports/Enums/ReportFlag.enum.ts
  packages/graphql/src/schema/Types/Reports/Enums/ReportType.enum.ts
  packages/graphql/src/schema/Types/Reports/Mutations/CreateReport.mutation.ts
  packages/graphql/src/schema/Types/Reports/Mutations/ReportDiscussionMessage.mutation.ts
  packages/graphql/src/schema/Types/Reports/Types/Report.type.ts
  packages/graphql/src/schema/Types/Reports/index.ts
Labels: none

Link proposals to the payout
  packages/core/src/services/payouts/command/createPayoutCommand.ts
  packages/graphql/src/schema/Types/Proposals/Extensions/ProposalReports.extension.ts
Labels: none

Delete event integrations
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/notifications/events/index.tsx
  packages/core/src/services/notifications/command/deleteNotificationEventSettingsCommand.ts
  packages/core/src/services/notifications/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Notifications/Mutations/DeleteEventNotificationSetting.mutation.ts
  packages/graphql/src/schema/Types/Notifications/index.ts
Labels: admin

Remove dead dependency
  packages/core/package.json
Labels: none
