Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*

Create discussion command
  packages/core/package.json
  packages/core/prisma/migrations/20210412050840_discussion_links_migration/migration.sql
  packages/core/prisma/migrations/20210412051108_proposal_common_discussion/migration.sql
  packages/core/prisma/migrations/20210412052009_discussion_creator/migration.sql
  packages/core/prisma/migrations/20210412052219_discussion_event_types/migration.sql
  packages/core/prisma/models/commons/Common.prisma
  packages/core/prisma/models/discussions/Discussion.prisma
  packages/core/prisma/models/discussions/DiscussionMessage.prisma
  packages/core/prisma/models/discussions/DiscussionSubscription.prisma
  packages/core/prisma/models/events/EventType.prisma
  packages/core/prisma/models/proposals/Proposal.prisma
  packages/core/prisma/models/users/User.prisma
  packages/core/src/services/discussions/core/commands/createDiscussionCommand.ts
Labels: none

Create discussion graphql
  packages/core/prisma/migrations/20210412053758_discussion_type/migration.sql
  packages/core/prisma/models/discussions/Discussion.prisma
  packages/core/src/index.ts
  packages/core/src/services/discussions/core/commands/createDiscussionCommand.ts
  packages/core/src/services/index.ts
  packages/graphql/src/context/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Shared/Interfaces/BaseEntity.interface.ts
  packages/graphql/src/schema/Types/Discussion/Mutations/CreateDiscussion.mutation.ts
  packages/graphql/src/schema/Types/Discussion/Types/Discussion.type.ts
  packages/graphql/src/schema/Types/Discussion/index.ts
  packages/graphql/src/schema/index.ts
  packages/queues/src/jobs/EventsQueue.ts
Labels: none

Create discussion subscription (#354)
  packages/core/src/services/cards/commands/createCardCommand.ts
  packages/core/src/services/cards/commands/verifyCardCommand.ts
  packages/core/src/services/commons/command/addCommonMemberRoleCommand.ts
  packages/core/src/services/commons/command/createCommonCommand.ts
  packages/core/src/services/commons/command/createCommonMemberCommand.ts
  packages/core/src/services/discussions/core/commands/createDiscussionCommand.ts
  packages/core/src/services/events/commands/createEventCommand.ts
  packages/core/src/services/payments/commands/createPaymentCommand.ts
  packages/core/src/services/proposals/funding/command/createFundingProposalCommand.ts
  packages/core/src/services/proposals/funding/command/process/processApprovedFundingRequest.ts
  packages/core/src/services/proposals/funding/command/process/processRejectedFundingRequest.ts
  packages/core/src/services/proposals/join/command/createJoinProposalCommand.ts
  packages/core/src/services/proposals/join/command/process/processApprovedOneTimeJoinRequest.ts
  packages/core/src/services/proposals/join/command/process/processApprovedSubscriptionJoinRequest.ts
  packages/core/src/services/proposals/join/command/process/processRejectedJoinRequest.ts
  packages/core/src/services/users/commands/createUserCommand.ts
  packages/core/src/services/votes/commands/createVoteCommand.ts
Labels: none

Create discussion subscription (#354)
  packages/core/src/services/discussions/subscriptions/createDiscussionSubscriptionCommand.ts
Labels: none

Create discussion message command WIP (#309)
  packages/core/src/services/discussions/index.ts
  packages/core/src/services/discussions/messages/createDiscussionMessageCommand.ts
Labels: none

Create discussion message graphql WIP (#309)
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Discussion/Enums/DiscussionMessageType.enum.ts
  packages/graphql/src/schema/Types/Discussion/Mutations/CreateDiscussionMessage.mutation.ts
  packages/graphql/src/schema/Types/Discussion/Types/DiscussionMessage.type.ts
  packages/graphql/src/schema/Types/Discussion/index.ts
Labels: none

Finish the create discussion message (#309)
  packages/core/src/services/discussions/messages/createDiscussionMessageCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
Labels: none

history added
  packages/web/public/icons/approved.svg
  packages/web/public/icons/declined.svg
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
Labels: web

Get discussion messages (#357)
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Shared/Interfaces/BaseEntity.interface.ts
  packages/graphql/src/schema/Shared/Scalars/Uuid.scalar.ts
  packages/graphql/src/schema/Types/Discussion/Extensions/DiscussionMessages.extension.ts
  packages/graphql/src/schema/Types/Discussion/Inputs/DiscussionMessagesOrderBy.input.ts
  packages/graphql/src/schema/Types/Discussion/Queries/GetDiscussion.query.ts
  packages/graphql/src/schema/Types/Discussion/index.ts
  packages/graphql/src/schema/index.ts
Labels: none

Common discussion extension (#359)
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Commons/Extensions/CommonDiscussions.extension.ts
  packages/graphql/src/schema/Types/Commons/index.ts
Labels: none

Add other discussion fields
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Discussion/Enums/DiscussionType.enum.ts
  packages/graphql/src/schema/Types/Discussion/Types/Discussion.type.ts
  packages/graphql/src/schema/Types/Discussion/Types/DiscussionMessage.type.ts
  packages/graphql/src/schema/Types/Discussion/index.ts
Labels: none

Proposal discussions (#358)
  packages/core/src/services/discussions/core/commands/createDiscussionCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Discussion/Types/Discussion.type.ts
  packages/graphql/src/schema/Types/Proposals/Extensions/ProposalDiscussions.extension.ts
  packages/graphql/src/schema/Types/Proposals/Inputs/ProposalWhereUnique.input.ts
  packages/graphql/src/schema/Types/Proposals/Queries/GetProposal.query.ts
  packages/graphql/src/schema/Types/Proposals/index.ts
Labels: none

Limit discussions per proposal
  packages/core/src/services/discussions/core/commands/createDiscussionCommand.ts
  packages/core/src/services/discussions/core/queries/canCreateProposalDiscussionQuery.ts
  packages/graphql/src/generated/schema.graphql
Labels: none

Common member proposals (#333)
  packages/graphql/src/context/index.ts
  packages/graphql/src/schema/Types/CommonMember/Extensions/CommonMemberProposals.extensions.ts
Labels: none

Get user discussion subscription (#360)
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/CommonMember/index.ts
  packages/graphql/src/schema/Types/Discussion/Enums/DiscussionSubscriptionType.enum.ts
  packages/graphql/src/schema/Types/Discussion/Extensions/DiscussionSubscriptionDiscussion.extension.ts
  packages/graphql/src/schema/Types/Discussion/Inputs/DiscussionSubscriptionOrderBy.input.ts
  packages/graphql/src/schema/Types/Discussion/Types/DiscussionSubscription.type.ts
  packages/graphql/src/schema/Types/Discussion/index.ts
  packages/graphql/src/schema/Types/Users/Extensions/UserDiscussionSubscriptions.extension.ts
  packages/graphql/src/schema/Types/Users/index.ts
Labels: none

Change discussion type command (#362)
  packages/core/prisma/models/events/EventType.prisma
  packages/core/src/services/discussions/index.ts
  packages/core/src/services/discussions/subscriptions/changeDiscussionSubscriptionTypeCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
Labels: none

Change discussion type gql (#362)
  packages/core/prisma/migrations/20210413051920_discussion_subscription_type_changed_event_added/migration.sql
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Discussion/Mutations/ChangeDiscussionSubscriptionType.mutation.ts
  packages/graphql/src/schema/Types/Discussion/index.ts
Labels: none

v1.9.11-rc.1
  lerna.json
  packages/admin/package.json
  packages/core/package.json
  packages/firebase/functions/package.json
  packages/firebase/package.json
  packages/graphql/package.json
  packages/queues/package.json
  packages/types/package.json
  packages/web/package.json
  packages/worker/package.json
Labels: firebase, web, types, admin

Initial authorization plugin setup
  packages/core/src/index.ts
  packages/core/src/services/authorization/discussions/canChangeDiscussionSubscription.ts
  packages/core/src/services/authorization/index.ts
  packages/graphql/package.json
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/index.ts
  packages/graphql/src/schema/Types/Discussion/Mutations/ChangeDiscussionSubscriptionType.mutation.ts
  packages/graphql/src/schema/index.ts
  yarn.lock
Labels: none

Protect user events
  packages/graphql/src/schema/Types/Discussion/Mutations/ChangeDiscussionSubscriptionType.mutation.ts
  packages/graphql/src/schema/Types/Users/Extensions/UserEvents.extension.ts
Labels: none

landing page init ; some more improvements
  packages/web/public/index.html
  packages/web/src/constants.scss
  packages/web/src/containers/App/App.tsx
  packages/web/src/containers/Landing/assets/images/action.svg
  packages/web/src/containers/Landing/assets/images/collective.svg
  packages/web/src/containers/Landing/assets/images/goal-background.svg
  packages/web/src/containers/Landing/assets/images/iphone.svg
  packages/web/src/containers/Landing/assets/images/movement.svg
  packages/web/src/containers/Landing/assets/images/neighborhood.svg
  packages/web/src/containers/Landing/assets/images/raise-awareness.svg
  packages/web/src/containers/Landing/assets/images/transparent.svg
  packages/web/src/containers/Landing/assets/images/voluneteering.svg
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/ContactUs.tsx
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/index.tsx
  packages/web/src/containers/Landing/containers/index.tsx
  packages/web/src/containers/Landing/index.tsx
  packages/web/src/index.scss
Labels: web

Initial WebSockets implementation (#368) and discussion messages subscription
  packages/core/prisma/models/discussions/Discussion.prisma
  packages/core/prisma/models/discussions/DiscussionSubscription.prisma
  packages/core/prisma/models/users/User.prisma
  packages/core/src/domain/toolkits/PubSubToolkit.ts
  packages/core/src/domain/toolkits/index.ts
  packages/core/src/index.ts
  packages/core/src/services/discussions/messages/createDiscussionMessageCommand.ts
  packages/graphql/package.json
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/index.ts
  packages/graphql/src/schema/Types/Discussion/Subscriptions/DiscussionMessages.subscription.ts
  packages/graphql/src/schema/Types/Discussion/index.ts
  yarn.lock
Labels: none

proposal history rigth side added
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsHistory/ProposalsHistory.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsHistory/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsHistory/index.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/index.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/shared/models/Proposals.tsx
  packages/web/src/shared/utils/shared.tsx
Labels: web

Initial WebSockets implementation (#368) and discussion messages subscription
  packages/core/prisma/models/discussions/Discussion.prisma
  packages/core/prisma/models/discussions/DiscussionSubscription.prisma
  packages/core/prisma/models/users/User.prisma
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Discussion/Subscriptions/DiscussionMessageCreated.subscription.ts
  packages/graphql/src/schema/Types/Discussion/index.ts
  packages/graphql/src/schema/Types/Proposals/Mutations/CreateFundingProposal.mutation.ts
  packages/graphql/src/schema/Types/Proposals/Mutations/CreateJoinProposal.mutation.ts
  packages/graphql/src/schema/Types/Proposals/Subscriptions/ProposalStateChanged.subscription.ts
Labels: none

Proposal subscriptions
  packages/core/src/domain/toolkits/PrismaToolkit.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Proposals/Enums/ProposalState.enum.ts
  packages/graphql/src/schema/Types/Proposals/Subscriptions/ProposalChange.subscription.ts
  packages/graphql/src/schema/Types/Proposals/Subscriptions/ProposalStateChanged.subscription.ts
  packages/graphql/src/schema/Types/Proposals/Types/Proposal.type.ts
  packages/graphql/src/schema/Types/Proposals/index.ts
Labels: none

Fix proposals queues situation (#370)
  packages/core/src/services/proposals/commands/funding/createFundingProposalCommand.ts
  packages/core/src/services/proposals/commands/funding/finalizeFundingProposal.ts
  packages/core/src/services/proposals/commands/funding/process/processApprovedFundingRequest.ts
  packages/core/src/services/proposals/commands/funding/process/processRejectedFundingRequest.ts
  packages/core/src/services/proposals/commands/join/createJoinProposalCommand.ts
  packages/core/src/services/proposals/commands/join/finalizeJoinProposalCommand.ts
  packages/core/src/services/proposals/commands/join/process/processApprovedOneTimeJoinRequest.ts
  packages/core/src/services/proposals/commands/join/process/processApprovedSubscriptionJoinRequest.ts
  packages/core/src/services/proposals/commands/join/process/processRejectedJoinRequest.ts
  packages/core/src/services/proposals/helpers/index.ts
  packages/core/src/services/proposals/index.ts
  packages/core/src/services/proposals/queue/expireProposalsQueue.ts
  packages/core/src/services/proposals/queue/finalizeProposalQueue.ts
  packages/core/src/services/proposals/shared/command/finalizeProposalCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/queues/src/constants/Queues.ts
  packages/queues/src/index.ts
  packages/queues/src/jobs/ProposalsQueue.ts
  packages/queues/src/jobs/VotesQueue.ts
  packages/queues/src/jobs/index.ts
  packages/worker/src/index.ts
  packages/worker/src/processors/PaymentsWorker.ts
  packages/worker/src/processors/ProposalsWorker.ts
Labels: none

Notifications initial database setup (#371)
  packages/core/prisma/migrations/20210414080451_initial_notifications_migration/migration.sql
  packages/core/prisma/models/discussions/Discussion.prisma
  packages/core/prisma/models/discussions/DiscussionSubscription.prisma
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/prisma/models/notifications/Notification.prisma
  packages/core/prisma/models/notifications/enums/NotificationSeenStatus.prisma
  packages/core/prisma/models/notifications/enums/NotificationType.prisma
  packages/core/prisma/models/users/User.prisma
Labels: none

Notifications WIP (#371)
  packages/core/package.json
  packages/core/prisma/migrations/20210414081720_notification_push_status/migration.sql
  packages/core/prisma/migrations/20210414082051_show_notification_migration/migration.sql
  packages/core/prisma/migrations/20210414130708_notification_templates/migration.sql
  packages/core/prisma/migrations/20210414132148_user_notification_language_preference/migration.sql
  packages/core/prisma/migrations/20210414132959_unique_setting_for_notification/migration.sql
  packages/core/prisma/migrations/20210414134145_notification_process_status/migration.sql
  packages/core/prisma/migrations/20210414134411_/migration.sql
  packages/core/prisma/migrations/20210414140851_stubs/migration.sql
  packages/core/prisma/migrations/20210414140954_stubs_v2/migration.sql
  packages/core/prisma/models/base.prisma
  packages/core/prisma/models/notifications/Notification.prisma
  packages/core/prisma/models/notifications/NotificationSystemSetting.prisma
  packages/core/prisma/models/notifications/NotificationTemplate.prisma
  packages/core/prisma/models/notifications/enums/NotificationLanguage.prisma
  packages/core/prisma/models/notifications/enums/NotificationProcessStatus.prisma
  packages/core/prisma/models/notifications/enums/NotificationSendStatus.prisma
  packages/core/prisma/models/notifications/enums/NotificationTemplateType.prisma
  packages/core/prisma/models/users/User.prisma
  packages/core/prisma/seed.ts
  packages/core/src/services/index.ts
  packages/core/src/services/notifications/command/createNotificationCommand.ts
  packages/core/src/services/notifications/command/processNotificationCommand.ts
  packages/core/src/services/notifications/index.ts
  packages/core/src/services/notifications/mailer/actions/sendEmailNotificaiton.ts
  packages/core/src/services/notifications/mailer/index.ts
  packages/core/src/services/notifications/pusher/actions/sendPushNotification.ts
  packages/core/src/services/notifications/pusher/index.ts
  packages/core/tsconfig.json
  packages/graphql/package.json
  packages/queues/src/constants/Queues.ts
  packages/queues/src/index.ts
  packages/queues/src/jobs/NotificationsQueue.ts
  packages/queues/src/jobs/index.ts
  packages/seeder/package.json
  packages/worker/src/processors/NotificationsWorker.ts
  yarn.lock
Labels: none

Working full blow templating
  packages/core/package.json
  packages/core/prisma/migrations/20210414182759_from/migration.sql
  packages/core/prisma/migrations/20210414183119_names/migration.sql
  packages/core/prisma/migrations/20210414185035_unique_index/migration.sql
  packages/core/prisma/models/notifications/NotificationTemplate.prisma
  packages/core/prisma/seed.ts
  packages/core/src/domain/toolkits/SendgridToolkit.ts
  packages/core/src/domain/toolkits/index.ts
  packages/core/src/index.ts
  packages/core/src/services/notifications/command/createNotificationCommand.ts
  packages/core/src/services/notifications/index.ts
  packages/core/src/services/notifications/mailer/actions/sendEmailNotificaiton.ts
  packages/core/src/services/notifications/mailer/actions/templateEmail.ts
  packages/graphql/src/schema/Types/Proposals/Subscriptions/ProposalChange.subscription.ts
  packages/graphql/src/schema/Types/Users/Queries/GenerateUserAuthToken.query.ts
  packages/worker/src/index.ts
  packages/worker/src/processors/NotificationsWorker.ts
  yarn.lock
Labels: none

Event processing WIP
  packages/core/package.json
  packages/core/prisma/models/notifications/enums/NotificationType.prisma
  packages/core/src/services/events/commands/createEventNotificationCommand.ts
  packages/core/src/services/events/commands/processEventCommand.ts
  yarn.lock
Labels: none

Event processing
  packages/core/package.json
  packages/core/prisma/migrations/20210415045542_funding_request_notifications/migration.sql
  packages/core/prisma/migrations/20210415045939_more_event_links/migration.sql
  packages/core/prisma/migrations/20210415052108_notification_event_types_inlining/migration.sql
  packages/core/prisma/migrations/20210415052408_event_notification_types_inlining/migration.sql
  packages/core/prisma/migrations/20210415052500_fixing_type/migration.sql
  packages/core/prisma/models/events/Event.prisma
  packages/core/prisma/models/notifications/enums/NotificationType.prisma
  packages/core/prisma/models/proposals/FundingProposal.prisma
  packages/core/prisma/seed.ts
  packages/core/src/domain/toolkits/PrismaToolkit.ts
  packages/core/src/services/events/commands/$createEventCommand.ts
  packages/core/src/services/events/commands/createEventCommand.ts
  packages/core/src/services/events/commands/createEventNotificationCommand.ts
  packages/core/src/services/events/commands/processEventCommand.ts
  packages/core/src/services/proposals/commands/funding/process/processApprovedFundingRequest.ts
  packages/core/src/services/proposals/commands/funding/process/processRejectedFundingRequest.ts
  packages/core/src/services/proposals/commands/join/process/processApprovedOneTimeJoinRequest.ts
  packages/core/src/services/proposals/commands/join/process/processApprovedSubscriptionJoinRequest.ts
  packages/core/src/services/proposals/commands/join/process/processRejectedJoinRequest.ts
  packages/graphql/package.json
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/schema/Types/Users/Queries/GenerateUserAuthToken.query.ts
  packages/queues/package.json
  packages/queues/src/jobs/EventsQueue.ts
  yarn.lock
Labels: none

Seeder
  packages/core/package.json
  packages/core/prisma/models/events/Event.prisma
  packages/core/prisma/seed.ts
  packages/core/prisma/seed/notificationSystemSettings.ts
  packages/core/prisma/seed/notificationTemplates.ts
  packages/core/src/services/events/commands/createEventNotificationCommand.ts
  packages/core/src/services/notifications/command/createNotificationCommand.ts
  packages/seeder/package.json
Labels: none

common detail sidebar logic added
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutSidebarComponent/AboutSidebarComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutSidebarComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutSidebarComponent/index.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/index.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
Labels: web

Create template for notification
  packages/core/prisma/migrations/20210415130239_notification_template_events/migration.sql
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/src/services/notifications/command/createNotificationTemplateCommand.ts
  packages/core/src/services/notifications/helpers/index.ts
  packages/core/src/services/notifications/helpers/stubExtractor.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Users/Queries/GenerateUserAuthToken.query.ts
Labels: none

Notification type and all needed extensions for it (#378)
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Notifications/Enums/NotificationSeenStatus.enum.ts
  packages/graphql/src/schema/Types/Notifications/Enums/NotificationType.enum.ts
  packages/graphql/src/schema/Types/Notifications/Types/Notification.type.ts
  packages/graphql/src/schema/Types/Notifications/extensions/NotificationCommon.extension.ts
  packages/graphql/src/schema/Types/Notifications/extensions/NotificationDiscussion.extension.ts
  packages/graphql/src/schema/Types/Notifications/extensions/NotificationProposal.extension.ts
  packages/graphql/src/schema/Types/Notifications/extensions/NotificationUser.extension.ts
  packages/graphql/src/schema/Types/Notifications/index.ts
  packages/graphql/src/schema/index.ts
Labels: none

Get user notifications (#378)
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Notifications/Extensions/NotificationCommon.extension.ts
  packages/graphql/src/schema/Types/Notifications/Extensions/NotificationDiscussion.extension.ts
  packages/graphql/src/schema/Types/Notifications/Extensions/NotificationProposal.extension.ts
  packages/graphql/src/schema/Types/Notifications/Extensions/NotificationUser.extension.ts
  packages/graphql/src/schema/Types/Notifications/Inputs/NotificationOrderBy.input.ts
  packages/graphql/src/schema/Types/Notifications/Inputs/NotificationWhere.input.ts
  packages/graphql/src/schema/Types/Notifications/Inputs/NotificationWhereUnique.input.ts
  packages/graphql/src/schema/Types/Notifications/index.ts
  packages/graphql/src/schema/Types/Users/Extensions/UserNotifications.extension.ts
  packages/graphql/src/schema/Types/Users/index.ts
Labels: none

User notifications subscription (#380)
  packages/core/src/domain/toolkits/PrismaToolkit.ts
  packages/graphql/src/context/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Notifications/Subscriptions/NotificationCreated.subscription.ts
  packages/graphql/src/schema/Types/Notifications/index.ts
Labels: none

User notifications tokens (#380)
  packages/core/package.json
  packages/core/prisma/models/users/User.prisma
  packages/core/prisma/models/users/UserNotificationToken.prisma
  packages/core/prisma/models/users/enums/UserNotificationTokenState.prisma
  packages/core/src/services/users/commands/createUserNotificationTokenCommand.ts
  packages/core/src/services/users/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Users/Enums/UserNotificationTokenState.enum.ts
  packages/graphql/src/schema/Types/Users/Extensions/UserNotificationTokens.extension.ts
  packages/graphql/src/schema/Types/Users/Mutations/CreateUserNotificationToken.mutation.ts
  packages/graphql/src/schema/Types/Users/Types/UserNotificationToken.type.ts
  packages/graphql/src/schema/Types/Users/index.ts
  yarn.lock
Labels: none

Max active user tokens guard
  packages/core/src/services/users/commands/createUserNotificationTokenCommand.ts
Labels: none

Pushing notifications
  packages/core/prisma/migrations/20210416121438_notification_tokens_migration/migration.sql
  packages/core/prisma/migrations/20210416122743_token_state/migration.sql
  packages/core/src/domain/toolkits/FirebaseToolkit.ts
  packages/core/src/domain/utils/index.ts
  packages/core/src/domain/utils/stringUtils.ts
  packages/core/src/services/notifications/command/processNotificationCommand.ts
  packages/core/src/services/notifications/helpers/index.ts
  packages/core/src/services/notifications/helpers/stubReplacer.ts
  packages/core/src/services/notifications/helpers/templateNotification.ts
  packages/core/src/services/notifications/mailer/actions/sendEmailNotificaiton.ts
  packages/core/src/services/notifications/pusher/actions/sendPushNotification.ts
  packages/core/src/services/users/commands/createUserNotificationTokenCommand.ts
Labels: none
