Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

show user details form after first login WIP
  packages/web/src/containers/Auth/store/saga.tsx
  packages/web/src/containers/Login/components/LoginContainer/Details/Details.tsx
  packages/web/src/containers/Login/components/LoginContainer/Details/index.ts
  packages/web/src/containers/Login/components/LoginContainer/UserDetails/UserDetails.tsx
  packages/web/src/containers/Login/components/LoginContainer/UserDetails/index.scss
  packages/web/src/containers/Login/components/LoginContainer/UserDetails/index.ts
  packages/web/src/containers/Login/containers/LoginContainer/LoginContainer.tsx
  packages/web/src/shared/components/Account/Account.tsx
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/models/Proposals.tsx
  packages/web/src/shared/models/User.tsx
Labels: web

update user data after login WIP
  packages/web/src/containers/Auth/store/actions.tsx
  packages/web/src/containers/Auth/store/constants.tsx
  packages/web/src/containers/Auth/store/saga.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Login/components/LoginContainer/UserDetails/UserDetails.tsx
  packages/web/src/graphql/index.tsx
Labels: web

update graphQL user WIP
  packages/web/src/containers/Auth/store/saga.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/MembershipRequestModal/MembershipRequestBilling.tsx
  packages/web/src/containers/Login/components/LoginContainer/UserDetails/UserDetails.tsx
  packages/web/src/shared/assets/countries.ts
  packages/web/src/shared/utils/apollo.tsx
Labels: web

Fixed ts errors for *gcp/cd* branch
  .eslintrc.json
  packages/graphql/src/context/index.ts
  packages/graphql/src/schema/Types/Notifications/Mutations/CreateNotificationEventSettings.mutation.ts
  packages/graphql/src/schema/Types/Notifications/Mutations/CreateNotificationTemplate.mutation.ts
  packages/graphql/src/schema/Types/Notifications/Mutations/UpdateNotificationSettings.mutation.ts
  packages/graphql/src/schema/Types/Notifications/Mutations/UpdateNotificationTemplate.mutation.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationEventSettings.query.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationSettings.query.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationTemplates.query.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotifications.query.ts
  packages/graphql/src/schema/Types/Notifications/Subscriptions/NotificationCreated.subscription.ts
  packages/graphql/src/schema/Types/Notifications/Types/NotificationEventOptions.type.ts
  packages/graphql/src/schema/Types/Users/Extensions/UserNotifications.extension.ts
Labels: none

Fixed ts errors for *web/gcp/cd/batch-2* branch
  .eslintrc.json
  packages/graphql/src/context/index.ts
  packages/graphql/src/schema/Types/Notifications/Mutations/CreateNotificationEventSettings.mutation.ts
  packages/graphql/src/schema/Types/Notifications/Mutations/CreateNotificationTemplate.mutation.ts
  packages/graphql/src/schema/Types/Notifications/Mutations/UpdateNotificationSettings.mutation.ts
  packages/graphql/src/schema/Types/Notifications/Mutations/UpdateNotificationTemplate.mutation.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationEventSettings.query.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationSettings.query.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotificationTemplates.query.ts
  packages/graphql/src/schema/Types/Notifications/Queries/GetNotifications.query.ts
  packages/graphql/src/schema/Types/Notifications/Subscriptions/NotificationCreated.subscription.ts
  packages/graphql/src/schema/Types/Notifications/Types/NotificationEventOptions.type.ts
  packages/graphql/src/schema/Types/Users/Extensions/UserNotifications.extension.ts
Labels: none

add react-firebase-hooks to package.json
  packages/web/package.json
  yarn.lock
Labels: web

add react-firebase-hooks to package.json
  packages/web/package.json
  yarn.lock
Labels: web

user creation on registration added
  packages/web/src/containers/Auth/store/saga.tsx
  packages/web/src/graphql/index.tsx
Labels: web

add graphql to package json
  packages/web/package.json
  yarn.lock
Labels: web

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

google flow login finished
  packages/web/src/containers/Auth/interface/AuthState.tsx
  packages/web/src/containers/Auth/store/actions.tsx
  packages/web/src/containers/Auth/store/constants.tsx
  packages/web/src/containers/Auth/store/reducer.tsx
  packages/web/src/containers/Auth/store/saga.tsx
  packages/web/src/containers/Auth/store/selectors.tsx
  packages/web/src/containers/Login/components/LoginContainer/UserDetails/UserDetails.tsx
  packages/web/src/index.tsx
  packages/web/src/shared/components/Header/Header.tsx
Labels: web

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

avatar upload added
  packages/web/src/containers/Auth/store/reducer.tsx
  packages/web/src/containers/Auth/store/saga.tsx
  packages/web/src/containers/Login/components/LoginContainer/UserDetails/UserDetails.tsx
  packages/web/src/containers/Login/containers/LoginContainer/index.scss
  packages/web/src/shared/components/Account/Account.tsx
  packages/web/src/shared/utils/firebase.tsx
Labels: web

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

Update deployment-dev-batch2-ui.yml
  .github/workflows/deployment-dev-batch2-ui.yml
Labels: actions

input file styled finished
  packages/web/public/icons/edit-avatar.svg
  packages/web/src/containers/Auth/store/reducer.tsx
  packages/web/src/containers/Login/components/LoginContainer/UserDetails/UserDetails.tsx
  packages/web/src/containers/Login/components/LoginContainer/UserDetails/index.scss
  packages/web/src/shared/components/Account/index.scss
  packages/web/src/shared/components/Header/Header.tsx
Labels: web

show if user is common member
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/AboutTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/graphql/index.tsx
  packages/web/src/shared/icons/check.icon.js
  packages/web/src/shared/models/User.tsx
  packages/web/src/shared/utils/apollo.tsx
  packages/web/src/shared/utils/request.tsx
  packages/web/src/shared/utils/transformFirebaseDataToModel.tsx
Labels: web

my commons init
  packages/web/src/containers/Common/containers/CommoContainer/CommonContainer.tsx
  packages/web/src/containers/Common/containers/MyCommonsContainer/MyCommonsContainer.tsx
  packages/web/src/containers/Common/containers/MyCommonsContainer/index.scss
  packages/web/src/containers/Common/containers/MyCommonsContainer/index.tsx
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/constants/routePaths.tsx
Labels: web

google auth flow finished
  packages/web/src/containers/Auth/store/actions.tsx
  packages/web/src/containers/Auth/store/reducer.tsx
  packages/web/src/containers/Auth/store/saga.tsx
  packages/web/src/containers/Login/components/LoginContainer/UserDetails/UserDetails.tsx
  packages/web/src/containers/Login/components/LoginContainer/UserDetails/index.scss
  packages/web/src/containers/Login/containers/LoginContainer/LoginContainer.tsx
  packages/web/src/shared/components/Header/Header.tsx
Labels: web

try to fetch member commons only
  packages/web/src/containers/Common/containers/MyCommonsContainer/MyCommonsContainer.tsx
  packages/web/src/graphql/index.tsx
  packages/web/src/shared/providers/ApolloProvider.tsx
Labels: web

my commons logic changed to the same logic as we are using at mobile
  packages/web/src/containers/App/App.tsx
  packages/web/src/containers/Common/containers/CommoContainer/CommonContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/MyCommonsContainer/MyCommonsContainer.tsx
  packages/web/src/graphql/index.tsx
  packages/web/src/shared/constants/routePaths.tsx
  packages/web/src/shared/utils/apollo.tsx
  packages/web/src/shared/utils/request.tsx
  packages/web/src/shared/utils/transformFirebaseDataToModel.tsx
Labels: web

Gcp/cd (#785)
  .github/workflows/deployment-dev-ui.yml
  packages/web/default.conf
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatMessage.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionItemComponent.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/shared/models/Discussion.tsx
  packages/web/src/shared/models/DiscussionMessage.tsx
  packages/web/src/shared/providers/ApolloProvider.tsx
  packages/web/src/shared/utils/request.tsx
  packages/web/src/shared/utils/transformFirebaseDataToModel.tsx
Labels: actions, web

show label if there are no registered commons ; some more minor improvements
  packages/web/src/containers/Auth/store/saga.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/MyCommonsContainer/MyCommonsContainer.tsx
  packages/web/src/containers/Common/containers/MyCommonsContainer/index.scss
  packages/web/src/shared/utils/apollo.tsx
  packages/web/src/shared/utils/request.tsx
  packages/web/src/shared/utils/transformFirebaseDataToModel.tsx
Labels: web

use latest graphql api
  packages/web/src/shared/providers/ApolloProvider.tsx
Labels: web

Update deployment-dev-ui.yml
  .github/workflows/deployment-dev-ui.yml
Labels: actions

break workd when text overflows in about tab description
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/index.scss
Labels: web

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*
