Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*

useMemo added to current commons
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
Labels: web

Add payments to financials page
  packages/admin/src/components/tables/PaymentsTable.tsx
  packages/admin/src/graphql/index.ts
  packages/admin/src/pages/financials/index.tsx
  packages/admin/src/pages/financials/payments/index.tsx
Labels: admin

Fix compilation
  packages/admin/src/components/modals/PaymentDetailsModal.tsx
  packages/admin/src/context/SettingContext.tsx
  packages/admin/src/pages/development/playground.tsx
  packages/admin/src/pages/financials/cards/index.tsx
  packages/admin/src/pages/financials/payments/details/[paymentId].tsx
  packages/admin/src/pages/financials/payments/index.tsx
Labels: admin

Approve payout mutation
  packages/firebase/functions/src/core/graph/schema/payouts/index.ts
  packages/firebase/functions/src/core/graph/schema/payouts/mutations/ApprovePayout.mutation.ts
  packages/firebase/package.json
  yarn.lock
Labels: firebase

Confirm payout screen
  packages/admin/src/graphql/index.ts
  packages/admin/src/graphql/schema.graphql
  packages/admin/src/graphql/schema.json
  packages/admin/src/pages/financials/payouts/confirm.tsx
  packages/admin/src/pages/financials/payouts/details/[payoutId].tsx
  packages/firebase/env/staging/env_config.json
  packages/firebase/functions/src/circlepay/payouts/business/updatePayoutStatus.ts
  packages/firebase/functions/src/circlepay/payouts/business/updatePayoutsStatus.ts
  packages/firebase/functions/src/circlepay/payouts/crons/payoutStatusCron.ts
  packages/firebase/functions/src/circlepay/payouts/triggers/onPayoutCreated.ts
  packages/firebase/functions/src/constants/index.ts
  packages/firebase/functions/src/core/graph/schema/payouts/index.ts
  packages/firebase/functions/src/core/graph/schema/payouts/mutations/UpdatePayoutStatus.mutation.ts
  packages/firebase/functions/src/core/graph/schema/payouts/mutations/UpdatePayoutsStatus.mutation.ts
  packages/firebase/functions/src/index.ts
  packages/firebase/functions/src/notification/email/templates/approvePayout.ts
  packages/firebase/functions/src/util/middleware/ipMiddleware.ts
Labels: firebase, admin

Small bug
  packages/admin/src/pages/financials/payments/index.tsx
Labels: admin

Change the URL validation to be inline with the UI
  packages/firebase/functions/src/common/business/createCommon.ts
  packages/firebase/functions/src/common/business/updateCommon.ts
  packages/firebase/functions/src/util/regex.ts
  packages/firebase/functions/src/util/schemas/index.ts
Labels: firebase

fix tests and lint
  packages/firebase/__tests__/funtions/__snapshots__/common.test.ts.snap
  packages/firebase/functions/src/util/regex.ts
Labels: firebase

Fix EsLint
  packages/firebase/functions/src/circlepay/payouts/business/updatePayoutsStatus.ts
Labels: firebase

Add logs url config to production
  packages/firebase/env/production/env_config.json
Labels: firebase

Wrong URl
  packages/firebase/env/production/env_config.json
Labels: firebase

common detail top side finished
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/shared/utils/index.tsx
  packages/web/src/shared/utils/shared.tsx
Labels: web

common detail tabls layout added
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/index.scss
Labels: web

Initial project setup
  packages/backend/.env.example
  packages/backend/README.md
  packages/backend/package.json
  packages/backend/prisma/migrations/20210315152939_initial_migration/migration.sql
  packages/backend/prisma/migrations/migration_lock.toml
  packages/backend/prisma/schema.prisma
  packages/backend/src/graph/index.ts
  packages/backend/src/graph/schema/index.ts
  packages/backend/src/index.ts
  packages/backend/src/nexus-typegen.ts
  packages/backend/src/schema.graphql
  packages/backend/tsconfig.json
  yarn.lock
Labels: none

handle moderators
  packages/firebase/functions/src/core/domain/users/business/hasPermission.ts
  packages/firebase/functions/src/event/event.ts
  packages/firebase/functions/src/notification/email/index.ts
  packages/firebase/functions/src/notification/email/templates/adminContentReported.ts
  packages/firebase/functions/src/notification/notification.ts
  packages/firebase/functions/src/permissions/business/addPermission.ts
  packages/types/src/entities/ICommonEntity.ts
  packages/types/src/entities/IPermission.ts
  packages/types/src/entities/IUserEntity.ts
Labels: firebase, types

Create user mutation, service and everything in between
  packages/backend/package.json
  packages/backend/prisma/migrations/20210315164455_user_data_migration/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/commons/command/createCommonCommand.ts
  packages/backend/src/core/commons/index.ts
  packages/backend/src/core/users/commands/createUserCommand.ts
  packages/backend/src/core/users/index.ts
  packages/backend/src/core/users/queries/userExistsQuery.ts
  packages/backend/src/domain/toolkits/PrismaToolkit.ts
  packages/backend/src/domain/toolkits/index.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/schema/Users/Mutations/CreateUser.mutation.ts
  packages/backend/src/graph/schema/Users/index.ts
  packages/backend/src/graph/schema/index.ts
  packages/backend/src/index.ts
  packages/backend/src/schema.graphql
  packages/backend/tsconfig.json
  yarn.lock
Labels: none

about tab finished
  packages/web/public/icons/link.svg
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/AboutTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/index.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/index.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/models/Common.tsx
Labels: web

Authentication integration. Helper method for generating test authentication tokens
  .gitignore
  packages/backend/README.md
  packages/backend/package.json
  packages/backend/src/core/users/commands/createUserCommand.ts
  packages/backend/src/core/users/queries/userExistsQuery.ts
  packages/backend/src/domain/toolkits/FirebaseToolkit.ts
  packages/backend/src/domain/toolkits/index.ts
  packages/backend/src/graph/context/index.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/index.ts
  packages/backend/src/graph/schema/Users/Mutations/CreateUser.mutation.ts
  packages/backend/src/graph/schema/Users/Queries/GenerateUserAuthToken.query.ts
  packages/backend/src/graph/schema/Users/index.ts
  packages/backend/src/graph/schema/index.ts
  packages/backend/src/index.ts
  packages/backend/tsconfig.json
Labels: none

The creation of the user is kinda complete, for now
  packages/backend/prisma/migrations/20210316071212_user_email_verified_migration/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/users/commands/createUserCommand.ts
  packages/backend/src/graph/context/index.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/schema/Users/Mutations/CreateUser.mutation.ts
  packages/backend/src/graph/schema/Users/Types/User.type.ts
  packages/backend/src/graph/schema/Users/index.ts
Labels: none

add ! for lastName
  packages/firebase/functions/src/notification/notification.ts
Labels: firebase

use constants
  packages/firebase/functions/src/common/business/getCommonModerators.ts
  packages/firebase/functions/src/common/business/index.ts
  packages/firebase/functions/src/core/domain/users/business/hasPermission.ts
  packages/firebase/functions/src/event/event.ts
  packages/firebase/functions/src/moderation/business/hideContent.ts
  packages/firebase/functions/src/moderation/business/reportContent.ts
  packages/firebase/functions/src/moderation/business/showContent.ts
  packages/firebase/functions/src/moderation/business/updateEntity.ts
  packages/firebase/functions/src/moderation/constants.ts
  packages/firebase/functions/src/permissions/business/addPermission.ts
  packages/firebase/functions/src/permissions/constants.ts
Labels: firebase

common detail right sidebar layout added
  packages/web/public/icons/right-arrow-hover.svg
  packages/web/public/icons/right-arrow.svg
  packages/web/src/containers/Auth/store/reducer.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/AboutTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/PreviewInformationList.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/index.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
Labels: web

Common creation and everything needed for it
  .gitignore
  packages/backend/package-lock.json
  packages/backend/prisma/migrations/20210316072821_initial_common_migration/migration.sql
  packages/backend/prisma/migrations/20210316081834_common_member_role_migration/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/commons/command/addCommonMemberRoleCommand.ts
  packages/backend/src/core/commons/command/createCommonCommand.ts
  packages/backend/src/core/commons/command/createCommonMemberCommand.ts
  packages/backend/src/core/commons/index.ts
  packages/backend/src/core/users/index.ts
  packages/backend/src/core/users/queries/getUserIdQuery.ts
  packages/backend/src/domain/constants/ErrorCodes.ts
  packages/backend/src/domain/constants/HttpStatuses.ts
  packages/backend/src/domain/constants/index.ts
  packages/backend/src/domain/constants/secrets/adminsdk-keys.json
  packages/backend/src/domain/errors/common/CommonError.ts
  packages/backend/src/domain/errors/index.ts
  packages/backend/src/graph/context/index.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/scalars/Date.scalar.ts
  packages/backend/src/graph/schema/Commons/Enums/CommonFundingType.enum.ts
  packages/backend/src/graph/schema/Commons/Mutations/CreateCommon.mutation.ts
  packages/backend/src/graph/schema/Commons/Types/Common.type.ts
  packages/backend/src/graph/schema/Commons/index.ts
  packages/backend/src/graph/schema/Users/Types/User.type.ts
  packages/backend/src/graph/schema/index.ts
  packages/backend/tsconfig.json
  yarn.lock
Labels: none

Events WIP
  packages/backend/prisma/migrations/20210317085123_events_migration/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/commons/command/addCommonMemberRoleCommand.ts
  packages/backend/src/core/commons/command/createCommonCommand.ts
  packages/backend/src/core/commons/command/createCommonMemberCommand.ts
  packages/backend/src/core/events/commands/createEvent.ts
  packages/backend/src/core/events/index.ts
  packages/backend/src/core/services.ts
  packages/backend/src/core/users/commands/createUserCommand.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/schema/Commons/Mutations/CreateCommon.mutation.ts
  packages/backend/tsconfig.json
Labels: none

v1.9.10-rc.1
  lerna.json
  packages/firebase/functions/package.json
  packages/firebase/package.json
  packages/types/package.json
  packages/web/package.json
Labels: firebase, web, types

Commit, so I can deploy
  packages/backend/package.json
  packages/backend/prisma/migrations/20210318060307_proposals_subscription_and_a_lot_od_stuff_migration/migration.sql
  packages/backend/prisma/migrations/20210318060931_cards_migration/migration.sql
  packages/backend/prisma/migrations/20210318070258_proposals_meta_migration/migration.sql
  packages/backend/prisma/migrations/20210318092404_remove_metadata_id_migration/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/cards/commands/createCardCommand.ts
  packages/backend/src/core/cards/index.ts
  packages/backend/src/core/cards/queries/isCardOwnerQuery.ts
  packages/backend/src/core/commons/command/createCommonCommand.ts
  packages/backend/src/core/proposals/join/command/createJoinProposalCommand.ts
  packages/backend/src/domain/constants/ErrorCodes.ts
  packages/backend/src/domain/constants/HttpStatuses.ts
  packages/backend/src/domain/errors/common/NotImplementedError.ts
  packages/backend/src/domain/toolkits/PrismaToolkit.ts
  packages/backend/src/domain/validation/index.ts
  packages/backend/src/domain/validation/schemas/ProposalLink.schema.ts
  packages/backend/tsconfig.json
  yarn.lock
Labels: none

Update indexes
  packages/firebase/firestore/firestore.indexes.json
Labels: firebase

v1.9.10
  lerna.json
  packages/firebase/package.json
Labels: firebase

proposals & discussions common detail requests added
  packages/web/src/containers/Common/interfaces/CommonsStateType.tsx
  packages/web/src/containers/Common/store/actions.tsx
  packages/web/src/containers/Common/store/constants.tsx
  packages/web/src/containers/Common/store/reducer.tsx
  packages/web/src/containers/Common/store/saga.tsx
  packages/web/src/shared/models/Discussion.tsx
  packages/web/src/shared/models/Proposals.tsx
  packages/web/src/shared/models/index.tsx
  packages/web/src/shared/models/shared.tsx
Labels: web

Creation of join proposals, just the initial stuff
  packages/backend/prisma/migrations/20210319053430_typo_migration/migration.sql
  packages/backend/prisma/migrations/20210319054803_wrong_enum_used_migration/migration.sql
  packages/backend/prisma/migrations/20210319055537_user_common_member_unique_constraing/migration.sql
  packages/backend/prisma/migrations/20210319073954_drop_common_member_join_proposal_relationshop_migration/migration.sql
  packages/backend/prisma/migrations/20210319074708_new_event_type_migration/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/commons/command/createCommonCommand.ts
  packages/backend/src/core/proposals/index.ts
  packages/backend/src/core/proposals/join/command/createJoinProposalCommand.ts
  packages/backend/src/core/services.ts
  packages/backend/src/core/users/commands/createUserCommand.ts
  packages/backend/src/domain/constants/ErrorCodes.ts
  packages/backend/src/domain/constants/HttpStatuses.ts
  packages/backend/src/domain/errors/http/NotFoundError.ts
  packages/backend/src/domain/errors/index.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/schema/Commons/Enums/CommonFundingType.enum.ts
  packages/backend/src/graph/schema/Core/Commons/Enums/FundingTypeEnum.ts
  packages/backend/src/graph/schema/Core/Commons/Mutations/CreateCommon.mutation.ts
  packages/backend/src/graph/schema/Core/Commons/Types/Common.type.ts
  packages/backend/src/graph/schema/Core/Commons/index.ts
  packages/backend/src/graph/schema/Core/Proposals/Mutations/CreateJoinProposal.mutation.ts
  packages/backend/src/graph/schema/Core/Proposals/Types/JoinProposal.type.ts
  packages/backend/src/graph/schema/Core/Proposals/index.ts
  packages/backend/src/graph/schema/Core/Users/Mutations/CreateUser.mutation.ts
  packages/backend/src/graph/schema/Core/Users/Queries/GenerateUserAuthToken.query.ts
  packages/backend/src/graph/schema/Core/Users/Types/User.type.ts
  packages/backend/src/graph/schema/Core/Users/index.ts
  packages/backend/src/graph/schema/Shared/Interfaces/BaseEntity.interface.ts
  packages/backend/src/graph/schema/Shared/Scalars/Date.scalar.ts
  packages/backend/src/graph/schema/Shared/Types/Link.type.ts
  packages/backend/src/graph/schema/index.ts
  packages/backend/src/index.ts
Labels: none

Common queries
  packages/backend/package.json
  packages/backend/src/graph/context/index.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/schema/Core/Commons/Queries/GetCommon.query.ts
  packages/backend/src/graph/schema/Core/Commons/Queries/GetCommons.query.ts
  packages/backend/src/graph/schema/Core/Commons/index.ts
  packages/backend/src/graph/schema/Core/Proposals/Types/JoinProposal.type.ts
  packages/backend/src/graph/schema/Shared/Interfaces/BaseEntity.interface.ts
  packages/backend/src/graph/schema/index.ts
  yarn.lock
Labels: none

Make everything compilable
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/core/commons/command/addCommonMemberRoleCommand.ts
  packages/backend/src/core/commons/command/createCommonMemberCommand.ts
  packages/backend/src/core/users/queries/getUserIdQuery.ts
  packages/backend/src/graph/context/index.ts
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/src/graph/schema/Core/Users/Queries/GenerateUserAuthToken.query.ts
  packages/backend/src/graph/schema/index.ts
  packages/backend/tsconfig.json
Labels: none

WIP
  packages/backend/src/clients/circle/index.ts
  packages/backend/src/core/cards/commands/createCardCommand.ts
  packages/backend/src/domain/toolkits/CircleToolkit.ts
  packages/backend/src/domain/toolkits/circle/cards/_createCard.ts
  packages/backend/src/domain/toolkits/circle/client.ts
  packages/backend/src/domain/toolkits/circle/types.ts
  packages/backend/src/domain/toolkits/index.ts
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/tsconfig.json
Labels: none

right sidebar logic added
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/PreviewInformationList.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/store/saga.tsx
  packages/web/src/containers/Common/store/selectors.tsx
Labels: web

entity id added to all collections
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/shared/models/Discussion.tsx
  packages/web/src/shared/utils/transformFirebaseDataToModel.tsx
Labels: web

discussions layout added
  packages/web/public/icons/discussions.svg
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/index.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/index.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
Labels: web

Create card with circle
  packages/backend/src/clients/circle/index.ts
  packages/backend/src/core/cards/commands/createCardCommand.ts
  packages/backend/src/domain/toolkits/CircleToolkit.ts
  packages/backend/src/domain/toolkits/circle/cards/_createCard.ts
  packages/backend/src/domain/toolkits/circle/client.ts
  packages/backend/src/domain/toolkits/circle/types.ts
  packages/backend/src/domain/validation/index.ts
  packages/backend/src/domain/validation/schemas/BillingDetails.schema.ts
  packages/backend/src/graph/context/index.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/schema/Core/Cards/Mutations/CreateCard.mutation.ts
  packages/backend/src/graph/schema/Core/Cards/Types/Card.type.ts
  packages/backend/src/graph/schema/Core/Cards/index.ts
  packages/backend/src/graph/schema/Shared/Inputs/BillingDetails.input.ts
  packages/backend/src/graph/schema/index.ts
  packages/backend/src/index.ts
  packages/firebase/functions/src/subscriptions/index.ts
Labels: firebase

Card creation is like almost done
  packages/backend/package.json
  packages/backend/prisma/migrations/20210322084605_card_details_migration/migration.sql
  packages/backend/prisma/migrations/20210322085223_card_district_migration/migration.sql
  packages/backend/prisma/migrations/20210322085457_fix_typo_migration/migration.sql
  packages/backend/prisma/migrations/20210322090124_new_evens_in_event_type_enum_migration/migration.sql
  packages/backend/prisma/schema.prisma
  packages/backend/src/core/cards/commands/createCardCommand.ts
  packages/backend/src/core/cards/commands/verifyCardCommand.ts
  packages/backend/src/domain/clients/circle/cards/_createCard.ts
  packages/backend/src/domain/clients/circle/cards/_getCard.ts
  packages/backend/src/domain/clients/circle/cards/types.ts
  packages/backend/src/domain/clients/circle/client.ts
  packages/backend/src/domain/clients/circle/index.ts
  packages/backend/src/domain/clients/circle/types.ts
  packages/backend/src/domain/clients/index.ts
  packages/backend/src/domain/constants/ErrorCodes.ts
  packages/backend/src/domain/constants/HttpStatuses.ts
  packages/backend/src/domain/errors/index.ts
  packages/backend/src/domain/errors/payment/AvsVerificationCheckError.ts
  packages/backend/src/domain/errors/payment/CvvVerificationCheckError.ts
  packages/backend/src/domain/toolkits/CircleToolkit.ts
  packages/backend/src/domain/toolkits/PrismaToolkit.ts
  packages/backend/src/domain/toolkits/index.ts
  packages/backend/src/domain/utils/index.ts
  packages/backend/src/domain/utils/pollingUtils.ts
  packages/backend/src/domain/utils/types.ts
  packages/backend/src/extension.d.ts
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
  packages/backend/src/graph/schema/Core/Cards/Mutations/CreateCard.mutation.ts
  packages/backend/src/index.ts
  packages/backend/tsconfig.json
  packages/firebase/functions/src/common/types.ts
  yarn.lock
Labels: firebase

Admin tweaks
  packages/admin/.env
  packages/admin/src/components/HasPermission.tsx
  packages/admin/src/components/modals/PaymentDetailsModal.tsx
  packages/admin/src/context/SettingContext.tsx
  packages/admin/src/pages/_app.tsx
  packages/admin/src/pages/development/playground.tsx
  packages/admin/src/pages/financials/cards/index.tsx
  packages/admin/src/pages/financials/payments/details/[paymentId].tsx
  packages/admin/src/pages/financials/payouts/create/batch.tsx
  packages/admin/src/pages/financials/payouts/index.tsx
Labels: admin

Verify the card owner on join proposal creation
  packages/backend/src/core/cards/index.ts
  packages/backend/src/core/cards/queries/isCardOwnerQuery.ts
  packages/backend/src/core/proposals/join/command/createJoinProposalCommand.ts
  packages/backend/src/graph/generated/nexus-prisma-typegen.ts
  packages/backend/src/graph/generated/nexus-typegen.ts
  packages/backend/src/graph/generated/schema.graphql
Labels: none
