Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

570 fix
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
Labels: web

gh issues fix
  packages/web/src/containers/Common/components/CommonDetailContainer/JoinTheEffortModal/JoinTheEffortModal.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.scss
  packages/web/src/shared/components/DownloadCommonApp/DownloadCommonApp.tsx
  packages/web/src/shared/components/DownloadCommonApp/index.scss
Labels: web

Refresh statistics from the admin, link the payout with the event or notification
  packages/admin/package.json
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/dashboard/index.tsx
  packages/core/prisma/migrations/20210614053209_event_payout_link/migration.sql
  packages/core/prisma/migrations/20210614054157_notification_payout_link/migration.sql
  packages/core/prisma/models/events/Event.prisma
  packages/core/prisma/models/notifications/Notification.prisma
  packages/core/prisma/models/payouts/Payout.prisma
  packages/core/prisma/result/1623651023648/cardImports-errors.json
  packages/core/prisma/result/1623651023648/cardImports-results.json
  packages/core/prisma/result/1623651023648/joinProposalsImport-errors.json
  packages/core/prisma/result/1623651023648/joinProposalsImport-results.json
  packages/core/prisma/result/1623651023648/paymentImports-errors.json
  packages/core/prisma/result/1623651023648/paymentImports-results.json
  packages/core/prisma/schema.prisma
  packages/core/src/services/events/commands/createEventCommand.ts
  packages/core/src/services/events/commands/createEventNotificationCommand.ts
  packages/core/src/services/notifications/command/createNotificationCommand.ts
  packages/core/src/services/payouts/command/createPayoutCommand.ts
  yarn.lock
Labels: admin

Multiple changes
  .dockerignore
  build-Dockerfile
  cache-Dockerfile
  dev-Dockerfile
  entrypoint.sh
  prod-compose.yml
Labels: none

Updated main Dockerfile to build from scrath
  Dockerfile
Labels: none

Added initial version of cloudbuild for GCB CD pipeline
  cloudbuild.yaml
Labels: none

Fixed unique trigger id
  cloudbuild.yaml
Labels: none

Fixed unique step id
  cloudbuild.yaml
Labels: none

Fixed service name substitution
  cloudbuild.yaml
Labels: none

Better firebase secrets
  packages/admin/.env
  packages/admin/src/pages/dashboard/index.tsx
  packages/core/src/domain/toolkits/FirebaseToolkit.ts
Labels: admin

Testing cloud build logging
  Dockerfile
Labels: none

Testing cloud build
  Dockerfile
  cloudbuild.yaml
Labels: none

Better firebase secrets
  packages/admin/.env
  packages/admin/src/pages/dashboard/index.tsx
  packages/core/src/domain/toolkits/FirebaseToolkit.ts
Labels: admin

Discussion message count
  packages/core/prisma/migrations/20210611044527_/migration.sql
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Discussion/Types/Discussion.type.ts
Labels: none

Can vote on proposal
  packages/core/prisma/models/commons/CommonMember.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/services/votes/index.ts
  packages/core/src/services/votes/queries/canVoteOnProposalQuery.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Proposals/Types/Proposal.type.ts
Labels: none

Refresh statistics from the admin, link the payout with the event or notification
  packages/admin/package.json
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/dashboard/index.tsx
  packages/core/prisma/migrations/20210614053209_event_payout_link/migration.sql
  packages/core/prisma/migrations/20210614054157_notification_payout_link/migration.sql
  packages/core/prisma/models/events/Event.prisma
  packages/core/prisma/models/notifications/Notification.prisma
  packages/core/prisma/models/payouts/Payout.prisma
  packages/core/prisma/result/1623651023648/cardImports-errors.json
  packages/core/prisma/result/1623651023648/cardImports-results.json
  packages/core/prisma/result/1623651023648/joinProposalsImport-errors.json
  packages/core/prisma/result/1623651023648/joinProposalsImport-results.json
  packages/core/prisma/result/1623651023648/paymentImports-errors.json
  packages/core/prisma/result/1623651023648/paymentImports-results.json
  packages/core/prisma/schema.prisma
  packages/core/src/services/events/commands/createEventCommand.ts
  packages/core/src/services/events/commands/createEventNotificationCommand.ts
  packages/core/src/services/notifications/command/createNotificationCommand.ts
  packages/core/src/services/payouts/command/createPayoutCommand.ts
  yarn.lock
Labels: admin

Set total build timeout to 1 hour and build step timeout to 30 min
  cloudbuild.yaml
Labels: none

Reverted dockerfile to clean state
  Dockerfile
Labels: none

Removed labels from deployment
  cloudbuild.yaml
Labels: none

Fix the package mess
  packages/core/package-lock.json
  packages/core/package.json
  packages/graphql/package.json
  yarn.lock
Labels: none

Try to fix the documentation
  .env.example
  ReadMe.md
  package.json
  packages/core/package.json
  packages/core/src/services/users/queries/getUserIdTokenQuery.ts
  packages/graphql/package.json
  packages/worker/package.json
  yarn.lock
Labels: none

Guides - Authorization
  ReadMe.md
  docs/guides/authorization.md
Labels: none

Added .dockerignore to improve image build time and security
  .dockerignore
Labels: none

Try to fix the documentation
  .env.example
  ReadMe.md
  package.json
  packages/core/package.json
  packages/core/src/services/users/queries/getUserIdTokenQuery.ts
  packages/graphql/package.json
  packages/worker/package.json
  yarn.lock
Labels: none

Optimized dockerfile to build --production version of package, removed unused packages from images
  Dockerfile
Labels: none

Fix the package mess
  packages/core/package-lock.json
  packages/core/package.json
  packages/graphql/package.json
  yarn.lock
Labels: none

Added node_modules to docker ignroe
  .dockerignore
Labels: none

Moved node server process init from direct to dumb-init
  entrypoint.sh
Labels: none

Moved to multi-stage build and dev/prod package install model to improve build times and artifact size
  Dockerfile
Labels: none

581 fix
  packages/web/public/assets/images/join-mobile.jpg
  packages/web/src/constants.scss
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
Labels: web

570 fix
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalItemComponent.tsx
  packages/web/src/shared/hooks/CalculateReadMoreLenght.tsx
  packages/web/src/shared/hooks/index.tsx
Labels: web

570 fix
  packages/web/src/shared/hooks/CalculateReadMoreLenght.tsx
Labels: web

562 fix
  packages/web/src/shared/components/Modal/index.scss
Labels: web

Work on statistics
  .run/GraphQL.run.xml
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/src/services/statistics/commands/createEmptyStatistic.ts
  packages/core/src/services/statistics/commands/updateCurrentStatistics.ts
  packages/core/src/services/statistics/commands/updateStatistics.ts
  packages/core/src/services/statistics/helpers/validator.ts
  packages/core/src/services/statistics/index.ts
  packages/worker/src/events/onCommonCreated.ts
  packages/worker/src/events/onDiscussionCreated.ts
  packages/worker/src/events/onDiscussionMessageCreated.ts
  packages/worker/src/events/onPaymentSucceeded.ts
  packages/worker/src/index.ts
  packages/worker/src/processors/StatisticsWorker.ts
  packages/worker/src/queues.ts
Labels: none

WIP
  .env.example
  packages/core/src/domain/toolkits/FirebaseToolkit.ts
  packages/worker/src/events/onCommonCreated.ts
Labels: none

Firebase working
  packages/core/src/domain/toolkits/FirebaseToolkit.ts
Labels: none

Update .env.example
  .env.example
Labels: none

Common payments extension
  packages/core/src/domain/validation/permissions.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Common/Extensions/CommonPayments.extension.ts
  packages/graphql/src/schema/Types/Common/index.ts
Labels: none

Statistics are working
  packages/core/prisma/schema.prisma
  packages/core/src/domain/toolkits/FirebaseToolkit.ts
  packages/core/src/events/index.ts
  packages/worker/src/events/index.ts
  packages/worker/src/events/onCommonCreated.ts
  packages/worker/src/events/onDiscussionCreated.ts
  packages/worker/src/events/onDiscussionMessageCreated.ts
  packages/worker/src/events/onFundingRequestCreated.ts
  packages/worker/src/events/onJoinRequestCreated.ts
  packages/worker/src/events/onPaymentSucceeded.ts
  packages/worker/src/events/onUserCreated.ts
  packages/worker/src/processors/EventsWorker.ts
Labels: none

How to create event hooks guide
  ReadMe.md
  docs/guides/event-hooks.md
  packages/worker/src/events/index.ts
  packages/worker/src/events/onCommonCreated.ts
  packages/worker/src/events/onDiscussionCreated.ts
  packages/worker/src/events/onDiscussionMessageCreated.ts
  packages/worker/src/events/onFundingRequestCreated.ts
  packages/worker/src/events/onJoinRequestCreated.ts
  packages/worker/src/events/onPaymentSucceeded.ts
  packages/worker/src/events/onUserCreated.ts
  packages/worker/src/processors/EventsWorker.ts
Labels: none

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*
