Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

Importers in progress
  packages/core/prisma/firestore/firestore.ts
  packages/core/prisma/firestore/importers/importCommons.ts
  packages/core/prisma/firestore/importers/importFundingProposals.ts
  packages/core/prisma/firestore/importers/importUsers.ts
  packages/core/prisma/migrations/20210426052554_common_descriptions/migration.sql
  packages/core/prisma/migrations/20210426052746_common_links_and_rules/migration.sql
  packages/core/prisma/migrations/20210426054913_image_migration/migration.sql
  packages/core/prisma/migrations/20210426074706_rename_link/migration.sql
  packages/core/prisma/models/commons/Common.prisma
  packages/core/prisma/models/proposals/Proposal.prisma
  packages/core/prisma/schema.prisma
  packages/core/prisma/seed.ts
  packages/core/src/domain/toolkits/FirebaseToolkit.ts
  packages/core/src/services/proposals/commands/funding/createFundingProposalCommand.ts
  packages/core/src/services/proposals/commands/join/createJoinProposalCommand.ts
  packages/core/src/services/users/commands/createUserCommand.ts
  packages/firebase/package.json
  packages/graphql/src/schema/Types/Users/Mutations/CreateUser.mutation.ts
Labels: firebase

minor common list fixes
  packages/web/src/containers/App/constants.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/components/Footer/Footer.tsx
  packages/web/src/shared/components/Footer/index.scss
Labels: web

constants fix
  packages/web/src/containers/App/App.tsx
  packages/web/src/containers/App/PrivateRoute.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/constants/index.tsx
  packages/web/src/shared/constants/shared.tsx
  packages/web/src/shared/interfaces/SharedState.tsx
  packages/web/src/shared/store/actions.tsx
  packages/web/src/shared/store/reducer.tsx
Labels: web

wip countdown
  packages/firebase/functions/src/moderation/business/showContent.ts
  packages/firebase/functions/src/proposals/business/getNewCountdown.ts
  packages/types/src/entities/IModeration.ts
Labels: firebase, types

possible build fix
  packages/web/Dockerfile
Labels: web

landing container build fix
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
Labels: web

assets moved to static folder
  packages/web/public/assets/images/action.svg
  packages/web/public/assets/images/collective.svg
  packages/web/public/assets/images/contact-us-overlay-wave.svg
  packages/web/public/assets/images/goal-background.svg
  packages/web/public/assets/images/iphone-full.png
  packages/web/public/assets/images/iphone-half.png
  packages/web/public/assets/images/iphone.png
  packages/web/public/assets/images/join.jpg
  packages/web/public/assets/images/movement.svg
  packages/web/public/assets/images/neighborhood.svg
  packages/web/public/assets/images/raise-awareness.svg
  packages/web/public/assets/images/sea.jpg
  packages/web/public/assets/images/transparent.svg
  packages/web/public/assets/images/voluneteering.svg
  packages/web/public/assets/images/wave-bottom.svg
  packages/web/public/assets/images/wave-top.svg
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
Labels: web

calc countdown period when hiding
  packages/firebase/functions/src/moderation/business/hideContent.ts
  packages/firebase/functions/src/moderation/business/showContent.ts
  packages/firebase/functions/src/proposals/business/getNewCountdown.ts
  packages/types/src/entities/IModeration.ts
Labels: firebase, types

Make the dashboard work again
  packages/admin/.env.local
  packages/admin/.env.local.example
  packages/admin/codegen.yml
  packages/admin/src/components/HasPermission.tsx
  packages/admin/src/components/tables/LatestEventsTable.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/dashboard/index.tsx
  packages/admin/src/pages/error/unauthorized.tsx
  packages/admin/src/pages/index.tsx
  packages/core/prisma/seed.ts
  packages/core/src/domain/validation/index.ts
  packages/core/src/services/commons/command/createCommonCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Commons/Mutations/CreateCommon.mutation.ts
  packages/graphql/src/schema/Types/Events/Extensions/EventUser.extension.ts
  packages/graphql/src/schema/Types/Events/Queries/GetEvents.query.ts
  packages/graphql/src/schema/Types/Events/Types/Event.type.ts
  packages/graphql/src/schema/Types/Events/index.ts
Labels: admin

Statistics
  packages/core/prisma/models/Statistics/Statistic.prisma
  packages/core/prisma/models/Statistics/enums/StatisticType.prisma
  packages/core/prisma/schema.prisma
  packages/core/prisma/seed.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Statistics/Enums/StatisticType.enum.ts
  packages/graphql/src/schema/Types/Statistics/Inputs/StatisticsWhere.input.ts
  packages/graphql/src/schema/Types/Statistics/Queries/GetStatistics.query.ts
  packages/graphql/src/schema/Types/Statistics/Types/Statistic.type.ts
  packages/graphql/src/schema/Types/Statistics/index.ts
  packages/graphql/src/schema/index.ts
Labels: none

Dashboard statistics
  packages/admin/codegen.yml
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/dashboard/index.tsx
  packages/core/prisma/migrations/20210428052832_statistics_migration/migration.sql
  packages/core/prisma/migrations/20210428053225_typo/migration.sql
Labels: admin

Common and user statistic counter
  packages/core/src/index.ts
  packages/core/src/services/events/commands/$createEventCommand.ts
  packages/core/src/services/index.ts
  packages/core/src/services/statistics/commands/updateAllTimeStatistics.ts
  packages/core/src/services/statistics/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/worker/src/events/onCommonCreated.ts
  packages/worker/src/events/onUserCreated.ts
  packages/worker/src/index.ts
  packages/worker/src/processors/EventsWorker.ts
Labels: none

Fix admin commons
  packages/admin/codegen.yml
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/commons/index.tsx
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Commons/Queries/GetCommons.query.ts
  packages/graphql/src/schema/Types/Commons/Types/Common.type.ts
Labels: admin

landing page and footer improvements
  packages/web/public/icons/logo-all-white.svg
  packages/web/src/constants.scss
  packages/web/src/containers/Landing/components/LandingContainer/Commons/Commons.tsx
  packages/web/src/containers/Landing/components/LandingContainer/Commons/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/shared/components/Footer/Footer.tsx
  packages/web/src/shared/components/Footer/index.scss
Labels: web

header improvements
  packages/web/public/assets/images/goal-wave-bottom.svg
  packages/web/public/assets/images/goal-wave-top.svg
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/components/Header/index.scss
  packages/web/src/shared/constants/routePaths.tsx
Labels: web

minor updates
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
Labels: web

typing
  packages/types/src/entities/IModeration.ts
Labels: types

agenda fixes
  packages/web/public/icons/empty-discussion-preview.svg
  packages/web/public/icons/empty-proposals-preview.svg
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/AboutTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/PreviewInformationList.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/index.scss
  packages/web/src/index.scss
Labels: web

Proposal join and funding extensions
  .run/Admin.run.xml
  packages/admin/next.config.js
  packages/admin/src/pages/commons/details/[commonId].tsx
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/CommonMember/Types/CommonMember.type.ts
  packages/graphql/src/schema/Types/Commons/Extensions/CommonProposals.extension.ts
  packages/graphql/src/schema/Types/Proposals/Enums/FundingState.enum.ts
  packages/graphql/src/schema/Types/Proposals/Enums/PaymentState.enum.ts
  packages/graphql/src/schema/Types/Proposals/Extensions/ProposalFunding.extension.ts
  packages/graphql/src/schema/Types/Proposals/Extensions/ProposalJoin.extension.ts
  packages/graphql/src/schema/Types/Proposals/Types/FundingProposal.type.ts
  packages/graphql/src/schema/Types/Proposals/Types/JoinProposal.type.ts
  packages/graphql/src/schema/Types/Proposals/Types/Proposal.type.ts
  packages/graphql/src/schema/Types/Proposals/index.ts
  yarn.lock
Labels: admin

Common details page
  packages/admin/codegen.yml
  packages/admin/src/components/CommonSettings.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/commons/details/[commonId].tsx
  packages/core/src/domain/validation/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Commons/Extensions/CommonActiveProposals.extension.ts
  packages/graphql/src/schema/Types/Commons/index.ts
  packages/graphql/src/schema/Types/Proposals/Types/Proposal.type.ts
Labels: admin

Common whitelisting
  packages/admin/codegen.yml
  packages/admin/src/components/CommonSettings.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/commons/details/[commonId].tsx
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/domain/validation/index.ts
  packages/core/src/services/commons/command/whitelistCommonCommand.ts
  packages/core/src/services/commons/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Commons/Mutations/WhitelistCommon.mutation.ts
  packages/graphql/src/schema/Types/Commons/index.ts
Labels: admin

Common delisting
  packages/admin/public/style.css
  packages/admin/src/components/CommonSettings.tsx
  packages/admin/src/components/Hoverable.tsx
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/_app.tsx
  packages/core/prisma/migrations/20210429062315_common_whitelisted_event/migration.sql
  packages/core/prisma/models/events/enums/EventType.prisma
  packages/core/prisma/schema.prisma
  packages/core/src/domain/validation/index.ts
  packages/core/src/services/commons/command/delistCommonCommand.ts
  packages/core/src/services/commons/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Commons/Mutations/DelistCommon.mutation.ts
  packages/graphql/src/schema/Types/Commons/index.ts
Labels: admin

Fix jump redirection problems
  packages/admin/src/components/HasPermission.tsx
  packages/admin/src/components/layout/AuthenticatedLayout.tsx
  packages/admin/src/components/providers/AuthenticationProvider.tsx
  packages/admin/src/core/context/UserContext.tsx
  packages/admin/src/pages/index.tsx
  packages/core/prisma/migrations/20210429064256_common_delisted_event/migration.sql
Labels: admin

Common creation fixes, get proposals query
  packages/admin/src/components/HasPermission.tsx
  packages/admin/src/core/context/UserContext.tsx
  packages/admin/src/pages/commons/details/[commonId].tsx
  packages/core/src/services/commons/command/createCommonCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Commons/Mutations/CreateCommon.mutation.ts
  packages/graphql/src/schema/Types/Proposals/Inputs/ProposalWhere.input.ts
  packages/graphql/src/schema/Types/Proposals/Queries/GetProposals.query.ts
  packages/graphql/src/schema/Types/Proposals/index.ts
Labels: admin

Fix after merge
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/schema/Types/Proposals/Queries/GetProposals.query.ts
  packages/graphql/src/schema/Types/Proposals/index.ts
  packages/web/.eslintrc.js
  packages/web/package.json
  packages/web/src/containers/Auth/containers/AuthContainer/AuthContainer.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/store/api.tsx
  packages/web/src/containers/Common/store/reducer.tsx
  packages/web/src/context/AuthContext.tsx
  packages/web/src/context/PermissionsContext.tsx
  packages/web/src/context/index.ts
  packages/web/src/graphql/index.ts
  packages/web/src/graphql/indexx.ts
  packages/web/src/graphql/schema.graphql
  packages/web/src/graphql/schema.json
  packages/web/src/helpers/apolloHelper.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useApollo.ts
  packages/web/src/index.tsx
  packages/web/src/providers/ApolloProvider.tsx
  yarn.lock
Labels: web

updates
  packages/web/public/assets/images/iphone.png
  packages/web/src/constants.scss
  packages/web/src/containers/Landing/components/LandingContainer/Commons/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/ContactUs.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/components/Footer/Footer.tsx
  packages/web/src/shared/components/Footer/index.scss
Labels: web

Fix proposals page
  packages/admin/codegen.yml
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/proposals/index.tsx
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Proposals/Extensions/ProposalCommon.extension.ts
  packages/graphql/src/schema/Types/Proposals/Queries/GetProposals.query.ts
  packages/graphql/src/schema/Types/Proposals/index.ts
Labels: admin

responsive init for commons and commom page
  packages/web/src/constants.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutTabComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/Commons/index.scss
  packages/web/src/containers/Landing/components/LandingContainer/ContactUs/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/components/Header/index.scss
Labels: web

commons list load logic changed & preview information text fix
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/PreviewInformationList.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/index.scss
Labels: web

footer fix
  packages/web/src/shared/components/Footer/Footer.tsx
Labels: web

layout fixes
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/EmptyTabComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
Labels: web

dynamic text and images on the landing page
  packages/web/public/assets/images/iphone-full-1.png
  packages/web/public/assets/images/iphone-full-2.png
  packages/web/public/assets/images/iphone-full-3.png
  packages/web/public/assets/images/iphone-half-1.png
  packages/web/public/assets/images/iphone-half-2.png
  packages/web/public/assets/images/iphone-half-3.png
  packages/web/public/assets/images/iphone-half.png
  packages/web/public/assets/images/main-landing-image-1.jpg
  packages/web/public/assets/images/main-landing-image-2.jpg
  packages/web/public/assets/images/main-landing-image-3.jpg
  packages/web/src/constants.scss
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
Labels: web

change email signature
  packages/firebase/functions/src/circlepay/payouts/triggers/onPayoutCreated.ts
  packages/firebase/functions/src/notification/email/templates/approvePayout.ts
  packages/firebase/functions/src/notification/email/templates/requestToJoinSubmitted.ts
  packages/firebase/functions/src/notification/email/templates/subscriptionCanceled.ts
  packages/firebase/functions/src/notification/email/templates/subscriptionChargeFailed.ts
  packages/firebase/functions/src/notification/email/templates/subscriptionCharged.ts
  packages/firebase/functions/src/notification/email/templates/userCommonCreated.ts
  packages/firebase/functions/src/notification/email/templates/userCommonFeatured.ts
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedForeign.ts
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedInsufficientFunds.ts
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedIsraeli.ts
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedUnknown.ts
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedZeroAmount.ts
  packages/firebase/functions/src/notification/email/templates/userJoinedButFailedPayment.ts
  packages/firebase/functions/src/notification/email/templates/userJoinedSuccess.ts
  packages/firebase/functions/src/notification/notification.ts
Labels: firebase

fix tests
  packages/firebase/__tests__/emails/emailSending.spec.ts
Labels: firebase

fix snapshot
  packages/firebase/__tests__/emails/__snapshots__/emailSending.spec.ts.snap
Labels: firebase

updates
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutSidebarComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsHistory/ProposalsHistory.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsHistory/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
Labels: web

updates
  packages/web/src/constants.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/AboutSidebarComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/EmptyTabContent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/PreviewInformationList/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalCountDown/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
  packages/web/src/containers/Landing/containers/LandingContainer/LandingContainer.tsx
  packages/web/src/containers/Landing/containers/LandingContainer/index.scss
Labels: web

change email address of staging and support
  packages/firebase/env/dev/env_config.dev.json
  packages/firebase/env/production/env_config.json
  packages/firebase/env/staging/env_config.json
Labels: firebase

layout fixes
  packages/web/public/icons/default_user.svg
  packages/web/public/icons/icons-share.svg
  packages/web/public/icons/logo.svg
  packages/web/public/icons/user-rejected.svg
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionsComponent/DiscussionsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalItemComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/index.scss
Labels: web

Fix proposal details page
  packages/admin/codegen.yml
  packages/admin/src/core/graphql/index.ts
  packages/admin/src/core/graphql/schema.graphql
  packages/admin/src/core/graphql/schema.json
  packages/admin/src/pages/proposals/details/[proposalId].tsx
  packages/admin/src/pages/proposals/index.tsx
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Proposals/Enums/ProposalProposer.extension.ts
  packages/graphql/src/schema/Types/Proposals/Enums/ProposalVotes.extension.ts
  packages/graphql/src/schema/Types/Proposals/index.ts
Labels: admin

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*
