Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*

validation, types and docs
  packages/firebase/functions/src/core/domain/users/business/hasPermission.ts
  packages/firebase/functions/src/discussion/database/updateDiscussion.ts
  packages/firebase/functions/src/discussionMessage/database/updateDiscussionMessage.ts
  packages/firebase/functions/src/event/event.ts
  packages/firebase/functions/src/moderation/business/hideContent.ts
  packages/firebase/functions/src/moderation/business/reportContent.ts
  packages/firebase/functions/src/moderation/business/showContent.ts
  packages/firebase/functions/src/moderation/business/updateEntity.ts
  packages/firebase/functions/src/notification/notification.ts
  packages/types/src/entities/IDiscussionMessage.ts
  packages/types/src/entities/IModerationEntity.ts
Labels: firebase, types

Update hanging payments
  packages/admin/src/components/Centered.tsx
  packages/admin/src/graphql/index.ts
  packages/admin/src/graphql/schema.graphql
  packages/admin/src/graphql/schema.json
  packages/admin/src/pages/financials/payments/index.tsx
  packages/firebase/functions/src/subscriptions/index.ts
Labels: firebase, admin

When the last pending payment is resolved remove the pending payments from the page
  packages/admin/src/pages/financials/payments/index.tsx
Labels: admin

Refresh common members fn
  packages/firebase/functions/src/common/business/addCommonMember.ts
  packages/firebase/functions/src/common/business/index.ts
  packages/firebase/functions/src/common/business/refreshCommonMembers.ts
  packages/firebase/functions/src/common/index.ts
Labels: firebase

Refresh common members mutation
  packages/firebase/functions/src/common/index.ts
  packages/firebase/functions/src/core/graph/schema/commons/index.ts
  packages/firebase/functions/src/core/graph/schema/commons/mutations/refreshCommonMembers.mutation.ts
Labels: firebase

Some of the UI #122
  packages/admin/src/components/CommonSettings.tsx
  packages/admin/src/pages/commons/details/[commonId].tsx
Labels: admin

Whitelist Common Fn #122
  packages/firebase/functions/src/common/business/index.ts
  packages/firebase/functions/src/common/business/whitelistCommon.ts
  packages/firebase/functions/src/core/graph/schema/commons/mutations/whitelistCommonMutation.ts
Labels: firebase

Whitelist common mutation #122
  packages/firebase/functions/src/common/business/index.ts
  packages/firebase/functions/src/core/graph/schema/commons/index.ts
  packages/firebase/functions/src/core/graph/schema/commons/mutations/whitelistCommon.mutation.ts
  packages/firebase/functions/src/core/graph/schema/commons/mutations/whitelistCommonMutation.ts
Labels: firebase

Finish the UI #122
  packages/admin/src/components/CommonSettings.tsx
  packages/admin/src/graphql/index.ts
  packages/admin/src/graphql/schema.graphql
  packages/admin/src/graphql/schema.json
Labels: admin

pr comments
  packages/firebase/functions/src/core/domain/users/business/hasPermission.ts
  packages/firebase/functions/src/event/event.ts
  packages/firebase/functions/src/moderation/business/hideContent.ts
  packages/firebase/functions/src/moderation/business/reportContent.ts
  packages/firebase/functions/src/moderation/business/showContent.ts
  packages/firebase/functions/src/moderation/business/updateEntity.ts
  packages/types/src/entities.ts
  packages/types/src/entities/IDiscussionEntity.ts
  packages/types/src/entities/IDiscussionMessage.ts
  packages/types/src/entities/IModeration.ts
  packages/types/src/entities/IProposalEntity.ts
Labels: firebase, types

Change the common settings
  packages/admin/src/components/CommonSettings.tsx
Labels: admin

Fix typo
  packages/firebase/functions/src/common/index.ts
  packages/firebase/functions/src/core/graph/generated/schema.graphql
  packages/firebase/functions/src/core/graph/generated/schema.types.ts
  packages/firebase/functions/src/core/graph/schema/cards/enums/CardNetwork.enum.ts
  packages/firebase/functions/src/subscriptions/index.ts
Labels: firebase

Fix typo
  packages/admin/src/graphql/index.ts
  packages/admin/src/graphql/schema.graphql
  packages/admin/src/graphql/schema.json
Labels: admin

header/footer general layout added
  packages/web/public/icons/app-icons/app-store.svg
  packages/web/public/icons/app-icons/google-play.svg
  packages/web/public/icons/dao.svg
  packages/web/public/icons/logo-white.svg
  packages/web/public/icons/logo.svg
  packages/web/public/icons/socia-login/apple.svg
  packages/web/public/icons/socia-login/facebook.svg
  packages/web/public/icons/socia-login/google.svg
  packages/web/src/shared/components/Footer/Footer.tsx
  packages/web/src/shared/components/Footer/index.scss
  packages/web/src/shared/components/Header/Header.tsx
  packages/web/src/shared/components/Header/index.scss
  packages/web/src/shared/components/SocialLogin/SocialLoginButton.tsx
Labels: web

merge conflicts
  packages/firebase/functions/src/event/event.ts
  packages/firebase/functions/src/notification/notification.ts
Labels: firebase

Query for getting the balances from circle
  packages/firebase/functions/src/circlepay/client/getBalanceFromCircle.ts
  packages/firebase/functions/src/circlepay/client/index.ts
  packages/firebase/functions/src/core/graph/index.ts
  packages/firebase/functions/src/core/graph/schema/balance/index.ts
  packages/firebase/functions/src/core/graph/schema/balance/queries/GetBalance.query.ts
  packages/firebase/functions/src/core/graph/schema/balance/types/Amount.type.ts
  packages/firebase/functions/src/core/graph/schema/balance/types/Balance.type.ts
Labels: firebase

Initial financials page creation
  packages/admin/src/components/Header.tsx
  packages/admin/src/graphql/index.ts
  packages/admin/src/graphql/schema.graphql
  packages/admin/src/graphql/schema.json
  packages/admin/src/pages/financials/index.tsx
  packages/admin/src/pages/financials/payouts/index.tsx
Labels: admin

v1.9.9-rc.1
  lerna.json
  packages/admin/package.json
  packages/firebase/functions/package.json
  packages/firebase/package.json
  packages/types/package.json
  packages/web/package.json
Labels: firebase, web, types, admin

Compile types before deploy to firebase
  packages/firebase/firebase.json
  packages/firebase/package.json
Labels: firebase

type fix
  packages/firebase/functions/src/notification/notification.ts
Labels: firebase

WIP
  packages/admin/src/components/modals/CreateBankAccountModal.tsx
  packages/admin/src/pages/financials/index.tsx
  packages/admin/src/pages/financials/payouts/create/batch.tsx
  packages/admin/src/pages/financials/payouts/index.tsx
Labels: admin

Fix types
  packages/firebase/functions/src/core/graph/generated/schema.graphql
  packages/firebase/functions/src/core/graph/generated/schema.types.ts
Labels: firebase

v1.9.9-rc.2
  lerna.json
  packages/firebase/functions/package.json
  packages/firebase/package.json
  packages/types/package.json
Labels: firebase, types

common list layout finished
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.scss
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/index.tsx
  packages/web/src/containers/Common/components/CommonListContainer/index.tsx
  packages/web/src/containers/Common/components/index.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/index.scss
  packages/web/src/index.scss
  packages/web/src/shared/components/Content.tsx
  packages/web/src/shared/components/Footer/index.scss
  packages/web/src/shared/components/Header/Header.tsx
Labels: web

Add common ID to the payment
  packages/firebase/functions/src/circlepay/payments/business/createPayment.ts
  packages/firebase/functions/src/circlepay/payments/business/createProposalPayment.ts
  packages/firebase/functions/src/circlepay/payments/business/createSubscriptionPayment.ts
  packages/firebase/functions/src/circlepay/payments/business/pollPayment.ts
  packages/firebase/functions/src/circlepay/payments/business/updatePayment.ts
  packages/firebase/functions/src/circlepay/payments/business/updatePaymentFromCircle.ts
  packages/firebase/functions/src/circlepay/payments/database/addPayment.ts
  packages/firebase/functions/src/circlepay/payments/database/getPayment.ts
  packages/firebase/functions/src/circlepay/payments/database/getPayments.ts
  packages/firebase/functions/src/circlepay/payments/database/index.ts
  packages/firebase/functions/src/circlepay/payments/database/updatePayment.ts
  packages/types/src/entities/IPaymentEntity.ts
Labels: firebase, types

Oops
  packages/firebase/functions/src/circlepay/payments/business/createProposalPayment.ts
Labels: firebase

Add common ID migration
  packages/firebase/functions/src/circlepay/payments/migrations/addCommonIdToPaymentMigration.ts
  packages/firebase/functions/src/core/graph/schema/payments/index.ts
  packages/firebase/functions/src/core/graph/schema/payments/mutations/UpdatePaymentsCommonId.mutation.ts
Labels: firebase

Mb fix tests
  packages/firebase/functions/src/circlepay/payments/tests/data/testPaymentEntities.ts
Labels: firebase

Fix support link in subscription canceled email
  packages/firebase/functions/src/notification/email/templates/subscriptionCanceled.ts
Labels: firebase

Register the cron
  packages/firebase/functions/src/index.ts
  packages/firebase/functions/src/subscriptions/cron/dailySubscriptionCron.ts
  packages/firebase/functions/src/subscriptions/index.ts
Labels: firebase

Make the revoke sync #171
  packages/firebase/functions/src/subscriptions/business/revokeMemberships.ts
Labels: firebase

Fix tests
  packages/firebase/functions/src/circlepay/payments/tests/data/testPaymentPayloads.ts
Labels: firebase

Fix lint
  packages/firebase/functions/src/circlepay/payments/business/createProposalPayment.ts
  packages/firebase/functions/src/circlepay/payments/migrations/addCommonIdToPaymentMigration.ts
Labels: firebase

v1.9.10-rc.0
  lerna.json
  packages/admin/package.json
  packages/firebase/functions/package.json
  packages/firebase/package.json
  packages/types/package.json
Labels: firebase, types, admin

updating rules and index
  packages/firebase/firestore/firestore.indexes.json
  packages/firebase/firestore/firestore.rules
Labels: firebase

Updated storage rules
  packages/firebase/storage/storage.rules
Labels: firebase

get correct field
  packages/firebase/functions/src/moderation/business/hideContent.ts
Labels: firebase

Revert "get correct field"
  packages/firebase/functions/src/moderation/business/hideContent.ts
Labels: firebase

get correct field
  packages/firebase/functions/src/moderation/business/hideContent.ts
Labels: firebase

common list pagination added
  packages/web/src/containers/Common/components/CommonListContainer/CommonListItem/CommonListItem.tsx
  packages/web/src/containers/Common/constants/index.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/index.scss
  packages/web/src/containers/Common/interfaces/CommonsStateType.tsx
  packages/web/src/containers/Common/store/actions.tsx
  packages/web/src/containers/Common/store/constants.tsx
  packages/web/src/containers/Common/store/reducer.tsx
  packages/web/src/containers/Common/store/selectors.tsx
Labels: web
