Repository daostack/common-web, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, firebase, web, types, app, admin

Firebase authentication is fixed
  packages/core/package.json
  packages/core/src/domain/toolkits/FirebaseToolkit.ts
  packages/core/src/index.ts
  packages/core/src/services/users/index.ts
  packages/core/src/services/users/queries/getUserIdTokenQuery.ts
  packages/graphql/package.json
  packages/graphql/src/index.ts
  packages/graphql/src/schema/Types/Users/Queries/GenerateUserAuthToken.query.ts
  yarn.lock
Labels: none

Getting ready for move of payment processing queue
  packages/core/src/domain/utils/logger.ts
  packages/core/src/services/cards/commands/createCardCommand.ts
  packages/core/src/services/cards/commands/verifyCardCommand.ts
  packages/core/src/services/users/index.ts
Labels: none

bugfixes
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
  packages/web/src/containers/Common/store/actions.tsx
  packages/web/src/containers/Common/store/constants.tsx
  packages/web/src/containers/Common/store/reducer.tsx
Labels: web

remove debug console log
  packages/web/src/containers/Common/containers/CommonListContainer/CommonListContainer.tsx
Labels: web

packages fix
  packages/web/package-lock.json
  packages/web/package.json
Labels: web

packages fix
  packages/web/package-lock.json
Labels: web

WIP
  packages/core/src/services/payments/commands/updatePaymentStatusCommand.ts
  packages/core/src/services/payments/index.ts
  packages/core/src/services/payments/queue/paymentProcessingQueue.ts
  packages/core/src/services/payments/queue/processProposalPaymentQueue.ts
  packages/core/src/services/subscriptions/queues/chargeSubscriptionQueue.ts
  packages/graphql/package.json
  packages/graphql/src/schema/Types/Users/Queries/GenerateUserAuthToken.query.ts
  packages/queues/src/jobs/PaymentsQueue.ts
  packages/worker/src/processors/PaymentsWorker.ts
Labels: none

Implemented build and deploy web in docker
  packages/web/Dockerfile
Labels: web

Small fixes, added webstorm run configs to the project
  .run/GraphQL.run.xml
  .run/Worker.run.xml
  packages/core/src/index.ts
  packages/core/src/services/cards/commands/createCardCommand.ts
  packages/core/src/services/subscriptions/queues/chargeSubscriptionQueue.ts
  packages/core/tsconfig.json
Labels: none

Transpile nexus
  packages/graphql/package.json
  packages/graphql/src/generated/nexus-prisma-typegen.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/index.js
  packages/graphql/src/plugins/complexityPlugin.ts
  packages/graphql/src/schema/Types/Cards/Types/Card.type.ts
  packages/graphql/src/schema/Types/CommonMember/Extensions/CommonMemberUser.extension.ts
  packages/graphql/src/schema/Types/CommonMember/Types/CommonMember.type.ts
  packages/graphql/src/schema/Types/CommonMember/index.ts
  packages/graphql/src/schema/Types/Commons/Queries/GetCommon.query.ts
  packages/graphql/src/schema/Types/Commons/Queries/GetCommons.query.ts
  packages/graphql/src/schema/Types/Users/Queries/GetUser.query.ts
  packages/graphql/src/schema/Types/Users/Types/User.type.ts
  packages/graphql/src/schema/index.ts
  packages/graphql/tsconfig.json
  packages/queues/tsconfig.json
  packages/worker/tsconfig.json
  yarn.lock
Labels: none

Remove junk
  packages/graphql/src/context/index.js
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Shared/Inputs/BillingDetails.input.js
  packages/graphql/src/schema/Shared/Scalars/Date.scalar.js
  packages/graphql/src/schema/Shared/Types/Link.type.js
  packages/graphql/src/schema/Types/Cards/Mutations/CreateCard.mutation.js
  packages/graphql/src/schema/Types/Cards/Types/Card.type.js
  packages/graphql/src/schema/Types/Cards/index.js
  packages/graphql/src/schema/Types/Commons/Enums/FundingTypeEnum.js
  packages/graphql/src/schema/Types/Commons/Mutations/CreateCommon.mutation.js
  packages/graphql/src/schema/Types/Commons/Queries/GetCommon.query.js
  packages/graphql/src/schema/Types/Commons/Queries/GetCommons.query.js
  packages/graphql/src/schema/Types/Commons/Types/Common.type.js
  packages/graphql/src/schema/Types/Commons/index.js
  packages/graphql/src/schema/Types/Proposals/Inputs/ProposalFile.input.js
  packages/graphql/src/schema/Types/Proposals/Inputs/ProposalImage.input.js
  packages/graphql/src/schema/Types/Proposals/Inputs/ProposalLink.input.js
  packages/graphql/src/schema/Types/Proposals/Mutations/CreateFundingProposal.mutation.js
  packages/graphql/src/schema/Types/Proposals/Mutations/CreateJoinProposal.mutation.js
  packages/graphql/src/schema/Types/Proposals/Mutations/FinalizeProposalMutation.js
  packages/graphql/src/schema/Types/Proposals/Types/FundingProposal.type.js
  packages/graphql/src/schema/Types/Proposals/Types/JoinProposal.type.js
  packages/graphql/src/schema/Types/Proposals/index.js
  packages/graphql/src/schema/Types/Users/Mutations/CreateUser.mutation.js
  packages/graphql/src/schema/Types/Users/Queries/GenerateUserAuthToken.query.js
  packages/graphql/src/schema/Types/Users/Queries/GetUser.query.js
  packages/graphql/src/schema/Types/Users/Types/User.type.js
  packages/graphql/src/schema/Types/Users/index.js
  packages/graphql/src/schema/Types/Votes/Enums/VoteOutcome.enum.js
  packages/graphql/src/schema/Types/Votes/Mutations/CreateVote.mutation.js
  packages/graphql/src/schema/Types/Votes/Types/Vote.type.js
  packages/graphql/src/schema/Types/Votes/index.js
  packages/graphql/src/schema/index.js
Labels: none

Added multiple extensions and resolvers (#327, #326, #328)
  packages/core/src/domain/utils/logger.ts
  packages/graphql/package.json
  packages/graphql/src/generated/nexus-prisma-typegen.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Shared/Enums/SortBy.enum.ts
  packages/graphql/src/schema/Types/CommonMember/Enums/CommonMemberRole.enum.ts
  packages/graphql/src/schema/Types/CommonMember/Extensions/CommonMemberCommon.extensions.ts
  packages/graphql/src/schema/Types/CommonMember/Inputs/CommonMemberOrderBy.input.ts
  packages/graphql/src/schema/Types/CommonMember/Types/CommonMember.type.ts
  packages/graphql/src/schema/Types/CommonMember/index.ts
  packages/graphql/src/schema/Types/Commons/Extensions/CommonCommonMember.extension.ts
  packages/graphql/src/schema/Types/Commons/Inputs/CommonWhereUnique.input.ts
  packages/graphql/src/schema/Types/Commons/Queries/GetCommon.query.ts
  packages/graphql/src/schema/Types/Commons/index.ts
  packages/graphql/src/schema/index.ts
  yarn.lock
Labels: none

Initial event resolver (#336) and common event extension (#334)
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Commons/Extensions/CommonEvents.extension.ts
  packages/graphql/src/schema/Types/Commons/index.ts
  packages/graphql/src/schema/Types/Events/Inputs/EventOrderByInput.ts
  packages/graphql/src/schema/Types/Events/Types/Event.type.ts
  packages/graphql/src/schema/Types/Events/index.ts
  packages/graphql/src/schema/index.ts
Labels: none

Event type enum
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Events/Enums/EventType.enum.ts
  packages/graphql/src/schema/Types/Events/Types/Event.type.ts
  packages/graphql/src/schema/Types/Events/index.ts
Labels: none

Playing with scalars
  packages/graphql/package.json
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Shared/Scalars/Date.scalar.ts
  packages/graphql/src/schema/Shared/Scalars/Json.scalar.ts
  packages/graphql/src/schema/Shared/Scalars/Url.scalar.ts
  packages/graphql/src/schema/Types/Events/Types/Event.type.ts
  packages/graphql/src/schema/index.ts
  yarn.lock
Labels: none

User events extension (#335)
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Users/Extensions/UserEvents.extension.ts
  packages/graphql/src/schema/Types/Users/Queries/GetUser.query.ts
  packages/graphql/src/schema/Types/Users/index.ts
Labels: none

pr comments, and tests
  packages/firebase/__tests__/funtions/proposal.test.ts
  packages/firebase/__tests__/helpers/createTestCommon.ts
  packages/firebase/functions/src/common/business/createCommon.ts
  packages/firebase/functions/src/proposals/business/createJoinRequest.ts
Labels: firebase

remove deadline and tests
  packages/firebase/__tests__/funtions/__snapshots__/common.test.ts.snap
  packages/firebase/__tests__/funtions/common.test.ts
  packages/firebase/__tests__/helpers/createTestCommon.ts
  packages/firebase/functions/src/common/business/createCommon.ts
  packages/types/src/entities/ICommonEntity.ts
Labels: firebase, types

fix test
  packages/firebase/functions/src/util/tests/helpers/mockers/commons/getCommon.mocker.ts
Labels: firebase

Common proposals WIP (#331)
  packages/graphql/package.json
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Shared/Inputs/StringFilter.input.ts
  packages/graphql/src/schema/Types/Commons/Extensions/CommonProposals.extension.ts
  packages/graphql/src/schema/Types/Commons/index.ts
  packages/graphql/src/schema/Types/Proposals/Enums/ProposalType.enum.ts
  packages/graphql/src/schema/Types/Proposals/Inputs/ProposalWhere.input.ts
  packages/graphql/src/schema/Types/Proposals/Types/Proposal.type.ts
  packages/graphql/src/schema/Types/Proposals/index.ts
  packages/graphql/src/schema/index.ts
Labels: none

Add payload to common member created (#339) and to common member role added (#340)
  packages/core/src/services/commons/command/addCommonMemberRoleCommand.ts
  packages/core/src/services/commons/command/createCommonMemberCommand.ts
  packages/core/src/services/events/commands/createEventCommand.ts
Labels: none

Upgrade prisma
  packages/core/package.json
  packages/graphql/package.json
  packages/queues/package.json
  yarn.lock
Labels: none

Drop the common funding cooldown (#346)
  packages/core/prisma/migrations/20210409053517_drop_funding_cooldown/migration.sql
  packages/core/prisma/schema.prisma
  packages/core/src/services/commons/command/createCommonCommand.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Commons/Mutations/CreateCommon.mutation.ts
Labels: none

CM-265: update types for common; fix snapshot case
  packages/firebase/__tests__/funtions/__snapshots__/common.test.ts.snap
  packages/types/src/entities/ICommonEntity.ts
Labels: firebase, types

Common proposals
  packages/firebase/functions/src/common/types.ts
  packages/firebase/functions/src/subscriptions/index.ts
  packages/graphql/src/generated/nexus-typegen.ts
  packages/graphql/src/generated/schema.graphql
  packages/graphql/src/schema/Types/Users/Extensions/UserProposals.extension.ts
  packages/graphql/src/schema/Types/Users/index.ts
Labels: firebase

fix tests
  packages/firebase/package.json
  yarn.lock
Labels: firebase

fix compilation
  packages/firebase/functions/src/core/graph/generated/schema.graphql
  packages/firebase/functions/src/core/graph/generated/schema.types.ts
  packages/firebase/functions/src/core/graph/schema/commons/types/Common.type.ts
  packages/firebase/functions/src/core/graph/schema/commons/types/CommonMetadata.type.ts
Labels: firebase

fix snapshot
  packages/firebase/__tests__/funtions/__snapshots__/common.test.ts.snap
Labels: firebase

v1.9.11-rc.0
  lerna.json
  packages/admin/package.json
  packages/core/package.json
  packages/firebase/functions/package.json
  packages/firebase/package.json
  packages/graphql/package.json
  packages/queues/package.json
  packages/types/package.json
  packages/web/package.json
  packages/worker/package.json
Labels: firebase, web, types, admin

proposals wip
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/index.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/interfaces/CommonsStateType.tsx
  packages/web/src/containers/Common/store/actions.tsx
  packages/web/src/containers/Common/store/api.tsx
  packages/web/src/containers/Common/store/constants.tsx
  packages/web/src/containers/Common/store/reducer.tsx
  packages/web/src/containers/Common/store/saga.tsx
  packages/web/src/containers/Common/store/selectors.tsx
  packages/web/src/shared/models/Proposals.tsx
Labels: web

discussions migration
  packages/core/prisma/migrations/20210410091827_initial_discussions_migration/migration.sql
  packages/core/prisma/schema.prisma
  packages/firebase/functions/src/core/graph/schema/commons/types/CommonMetadata.type.ts
  yarn.lock
Labels: firebase

WIP
  packages/core/src/services/discussions/core/commands/createDiscussionCommand.ts
  packages/core/src/services/discussions/index.ts
Labels: none

Split the schema
  packages/core/.gitignore
  packages/core/package.json
  packages/core/prisma/base.prisma
  packages/core/prisma/models/all.prisma
  packages/core/prisma/models/user.prisma
Labels: none

proposal WIP
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/DiscussionDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalCountDown/ProposalCountDown.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalCountDown/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalCountDown/index.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/index.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/ProposalsComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalsComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/VotesComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/index.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/index.tsx
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/interfaces/CommonsStateType.tsx
  packages/web/src/containers/Common/store/reducer.tsx
  packages/web/src/containers/Common/store/selectors.tsx
  packages/web/src/shared/models/Proposals.tsx
Labels: web

remove validation from taglne
  packages/firebase/functions/src/common/business/createCommon.ts
Labels: firebase

make moderator note required
  packages/firebase/functions/src/moderation/business/reportContent.ts
Labels: firebase

update text in email
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedIsraeli.ts
Labels: firebase

git status
  packages/firebase/functions/src/notification/email/templates/userFundingRequestAcceptedIsraeli.ts
  packages/firebase/functions/src/notification/notification.ts
Labels: firebase

proposals finished
  packages/web/public/icons/user-for.svg
  packages/web/public/icons/user-rejected.svg
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/ChatComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ChatComponent/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/DiscussionDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/ProposalDetailModal.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/ProposalDetailModal/index.scss
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/VotesComponent.tsx
  packages/web/src/containers/Common/components/CommonDetailContainer/VotesComponent/index.scss
  packages/web/src/containers/Common/containers/CommonDetailContainer/CommonDetailContainer.tsx
  packages/web/src/containers/Common/store/actions.tsx
  packages/web/src/containers/Common/store/constants.tsx
  packages/web/src/containers/Common/store/reducer.tsx
  packages/web/src/containers/Common/store/saga.tsx
  packages/web/src/index.scss
  packages/web/src/shared/models/Proposals.tsx
Labels: web

Split the schema
  packages/core/package.json
  packages/core/prisma/models/all.prisma
  packages/core/prisma/models/commons/Common.prisma
  packages/core/prisma/models/commons/CommonMember.prisma
  packages/core/prisma/models/commons/enums/CommonMemberRole.prisma
  packages/core/prisma/models/discussions/Discussion.prisma
  packages/core/prisma/models/discussions/DiscussionMessage.prisma
  packages/core/prisma/models/discussions/DiscussionSubscription.prisma
  packages/core/prisma/models/discussions/enums/DiscussionMessageType.prisma
  packages/core/prisma/models/discussions/enums/DiscussionSubscriptionType.prisma
  packages/core/prisma/models/discussions/enums/DiscussionType.prisma
  packages/core/prisma/models/events/Event.prisma
  packages/core/prisma/models/events/EventType.prisma
  packages/core/prisma/models/proposals/FundingProposal.prisma
  packages/core/prisma/models/proposals/JoinProposal.prisma
  packages/core/prisma/models/proposals/Proposal.prisma
  packages/core/prisma/models/proposals/ProposalVote.prisma
  packages/core/prisma/models/proposals/enums/ProposalFundingState.prisma
  packages/core/prisma/models/proposals/enums/ProposalPaymentState.prisma
  packages/core/prisma/models/proposals/enums/ProposalState.prisma
  packages/core/prisma/models/proposals/enums/ProposalType.prisma
  packages/core/prisma/models/proposals/enums/ProposalVoteOutcome.prisma
  packages/core/prisma/models/subscriptions/Subscription.prisma
  packages/core/prisma/models/subscriptions/enums/SubscriptionPaymentStatus.prisma
  packages/core/prisma/models/subscriptions/enums/SubscriptionStatus.prisma
  packages/core/prisma/models/users/User.prisma
Labels: none

.github/labeler.yml:

actions:
  - .github/workflows/**/*

firebase:
  - packages/firebase/**/*

web:
  - packages/web/**/*

types:
  - packages/types/**/*

app:
  - packages/app/**/*

admin:
  - packages/admin/**/*
  - packages/firebase/functions/src/core/admin/**/*
